html {
  font-family: $tbds-font-sans-serif;
  font-size: 100%;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }

  @media (min-width: 100em) {
    font-size: 125%;
  }

  @media (min-width: 120em) {
    font-size: 137.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  transition-duration: 200ms;
  transition-property: color;
}

dt {
  font-size: modular-scale(1);
  font-weight: $tbds-font-weight-bold;
  line-height: 1.2;
  margin-top: 2em;
}

dd {
  margin-left: 0;
}
