<article class="col-2">
  <div class="column">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />
  </div>

  <div class="column">
    <label for="email">Email address:</label>
    <input type="email" name="email" required />
  </div>
</article>

<article class="col-2">
  <div class="column">
    <label for="location">Preferred Location</label>
    <div class="dropdown">
      <select id="location" name="location" required>
        <option>Boston</option>
        <option>San Francisco</option>
        <option>Philadelphia</option>
        <option>Raleigh</option>
        <option>New York City</option>
        <option>Stockholm</option>
        <option>Austin</option>
        <option>Denver</option>
      </select>
    </div>
  </div>
  <div class="column">
    <label for="start-date">When are you available to start?</label>
    <input type="text" id="start-date" name="startDate" required />
  </div>
</article>
