<form action="https://formkeep.com/f/bb67e3a06537" method="POST">
  <%= partial "partials/forms/base" %>

  <article>
    <div>
      <label for="project-example">Give us a link to something you worked on and are proud of. Tell us what you did on the project and why you are proud of your work. </label>
      <textarea id="project-example" name="projectExample" required></textarea>
    </div>
  </article>

  <article>
    <div>
      <label for="development-interest">How did you become interested in software development?</label>
      <textarea id="development-interest" name="developmentInterest" required></textarea>
    </div>
  </article>

  <article>
    <div>
      <label for="development-resources">What resources do you use to learn software development today?</label>
      <textarea id="development-resources" name="developmentResources"required></textarea>
    </div>
  </article>

  <article>
    <div>
      <label for="development-grow">How do you want to grow as a software developer?</label>
      <textarea id="development-grow" name="developmentGrowth" required></textarea>
    </div>
  </article>

  <article>
    <div>
      <label for="development-tdd">Why is test-driven development important to you?</label>
      <textarea id="development-tdd" name="developmentTdd" required></textarea>
    </div>
  </article>

  <article class="cta-wrapper">
    <input type="submit" value="Submit application form" />
  </article>
</form>

