h1#logo {
  clear: both;
  text-indent: -9999px;
  width: 263px;
  height: 90px;
  margin: 0 auto 20px;
  position: relative;
}

h1#logo a {
  display: block;
  background: url(/images/thoughtbot-tab-logo.png) 0px 0px no-repeat;
  width: 263px;
  height: 89px;
  top: 13px;
  position: relative;
}

ul#main-nav {
  margin: 17px -4px 0 -3px;
  z-index: 2;
  position: relative;
  list-style-type: none;
  width: 887px;
}

ul#main-nav li {
  width: 110px;
  height: 56px;
  float: left;
  text-indent: -9999px;
  line-height: 0;
}

ul#main-nav li#nav-services, 
ul#main-nav li#nav-services a {
  width:113px;
}

ul#main-nav li#nav-blog, 
ul#main-nav li#nav-blog a {
  width:114px;
}

ul#main-nav li a {
  display: block;
  width: 110px;
  height: 56px;
}

ul#main-nav li#nav-ralph {
  width: 220px;
  background: url(/images/nav-winter.png) -333px 0px no-repeat;
}

img#eyes {
  position: absolute;
  left: 431px;
  top: 13px;
  *top: 30px;
  z-index: 3;
}

a#contact-btn {
  position: absolute;
  right: 7px;
  top: 82px;
  *top: 99px;
}

ul#main-nav li#nav-ralph a {
  width: 220px;
  height: 120px;
  margin-top: -11px;
  background: url(/images/ralph-logo-winter.png) 0px 0px no-repeat;
}

ul#main-nav li#nav-ralph a:hover {
  background: url(/images/ralph-logo-winter.png) 0px -120px no-repeat;
}

li#nav-services a {
  background: url(/images/nav-winter.png) 0px 0px no-repeat;
}

li#nav-services a:hover {
  background: url(/images/nav-winter.png) 0px -56px no-repeat;
}

li#nav-services a:active,
li#nav-services a:focus {
  background: url(/images/nav-winter.png) 0px -112px no-repeat;
}

li#nav-training a {
  background: url(/images/nav-winter.png) -113px 0px no-repeat;
}

li#nav-training a:hover {
  background: url(/images/nav-winter.png) -113px -56px no-repeat;
}

li#nav-training a:active,
li#nav-training a:focus {
  background: url(/images/nav-winter.png) -113px -112px no-repeat;
}

li#nav-products a {
  background: url(/images/nav-winter.png) -223px 0px no-repeat;
}

li#nav-products a:hover {
  background: url(/images/nav-winter.png) -223px -56px no-repeat;
}

li#nav-products a:active,
li#nav-products a:focus {
  background: url(/images/nav-winter.png) -223px -112px no-repeat;
}

li#nav-about a {
  background: url(/images/nav-winter.png) -553px 0px no-repeat;
}

li#nav-about a:hover {
  background: url(/images/nav-winter.png) -553px -56px no-repeat;
}

li#nav-about a:active,
li#nav-about a:focus {
  background: url(/images/nav-winter.png) -553px -112px no-repeat;
}

li#nav-community a {
  background: url(/images/nav-winter.png) -663px 0px no-repeat;
}

li#nav-community a:hover {
  background: url(/images/nav-winter.png) -663px -56px no-repeat;
}

li#nav-community a:active,
li#nav-community a:focus {
  background: url(/images/nav-winter.png) -663px -112px no-repeat;
}

li#nav-blog a {
  background: url(/images/nav-winter.png) -773px 0px no-repeat;
}

li#nav-blog a:hover {
  background: url(/images/nav-winter.png) -773px -56px no-repeat;
}

li#nav-blog a:active,
li#nav-blog a:focus {
  background: url(/images/nav-winter.png) -773px -112px no-repeat;
}

body#services li#nav-services a {
  background: url(/images/nav-winter.png) 0px -171px no-repeat;
}

body#training li#nav-training a {
  background: url(/images/nav-winter.png) -113px -171px no-repeat;
}

body#about li#nav-about a {
  background: url(/images/nav-winter.png) -553px -171px no-repeat;
}

body#products li#nav-products a {
  background: url(/images/nav-winter.png) -223px -171px no-repeat;
}

body#community li#nav-community a {
  background: url(/images/nav-winter.png) -663px -171px no-repeat;
}