<section class="masthead content-wrapper">
  <h2>
    Our expectations for apprentice developers
  </h2>
  <p>
    At the end of three months, we expect developer apprentices at thoughtbot to fill the role of a full time developer.
    This means being very experienced with building and shipping
    Rails &amp; Javascript or iOS applications doing fully test-driven development along the way.
  </p>
</section>

