<section class="masthead">
  <h2 class="section-title">
    We are looking for <br />
    intermediate developers
  </h2>
  <p class="section-subtitle">
    Developers at thoughtbot are very experienced with building and shipping
    Rails applications, doing fully test-driven development along the way. Our
    Developer apprenticeship will take you from intermediate level to a full
    developer at thoughtbot.
  </p>
</section>

