<% content_for :title, 'Open source project build status' %>
<% content_for :meta_keywords, 'ruby, rails, boston, open source, continuous integration, travis, hot new bands' %>
<% content_for :meta_description, "Build status for thoughtbot's OSS projects" %>

<div class="primary">
  <header id="page-header">
    <h1>Build statuses of our OSS projects</h1>
  </header>

  <section class="open-source">
    <table>
      <tr><th>Project</th><th>Status</th></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/appraisal">Appraisal</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/appraisal.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/bourne">Bourne</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/bourne.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/clearance">Clearance</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/clearance.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/cocaine">Cocaine</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/cocaine.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/factory_girl">Factory Girl</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/factory_girl.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/fake_braintree">Fake Braintree</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/fake_braintree.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/flutie">Flutie</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/flutie.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/high_voltage">High Voltage</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/high_voltage.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/pacecar">Pacecar</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/pacecar.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/paperclip">Paperclip</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/paperclip.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/paul_revere">Paul Revere</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/paul_revere.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/shoulda">Shoulda</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/shoulda.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/shoulda-matchers">Shoulda Matchers</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/shoulda-matchers.png?branch=master" /></td></tr>
      <tr><td><a href="http://travis-ci.org/#!/thoughtbot/suspenders">Suspenders</a></td><td><img src="https://secure.travis-ci.org/thoughtbot/suspenders.png?branch=master" /></td></tr>
    </table>
  </section>
</div>
