#dsq-comments-title,
.dsq-options,
.dsq-brlink,
.dsq-logo {
  display: none !important;
}

#dsq-new-post {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -border-radius: 5px;
  padding: 10px !important;
  background: #e3e3e3 !important;
  margin: 0 0 20px 0 !important;
}

textarea {
  height: 46px;
  width: 632px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -border-radius: 3px;
  margin: 0;
  padding: 7px;
  border: 1px solid #999;
  font-family: Helvetica;
}

li.dsq-comment {
  position: relative;
  padding: 20px 0 !important;
  border-top: 1px solid #d8d8d8 !important;
  float: left !important;
  margin: 0 !important;
  width: 668px !important;
}

.dsq-comment-footer {
  float: right;
  right: 0;
  width: 80px;
  padding: 0 0 0 10px !important;
  height: 100%;
  margin: 0 0 -20px 0 !important;
}

.dsq-comment-footer-right {
  width: 95px !important;
}

button.dsq-button-small {
  padding: 1px 3px 1px !important;
  font-size: 10px;
  margin: 0 !important;
}

.dsq-comment-footer-left {
  position: absolute;
  right: 50px;
  top: 40px;
  width: auto !important;
}

.dsq-comment-footer-left {
  font-size: 10px;
  display: block;
}

.dsq-comment-header,
.dsq-comment-body {
  float: left !important;
}

.dsq-comment-header {
  width: 170px !important;
  margin: 0 10px 0 0 !important;
}

li.child .dsq-comment-header {
  width: 145px !important;
  padding: 0 0 0 25px !important;
}

.dsq-comment-body {
  width: 398px !important;
}

.dsq-comment-message {
  margin: 0 !important;
  line-height: 18px !important;
  font-size: 12px;
  color: #363636;
}

#dsq-content .dsq-header-avatar a.dsq-avatar {
  padding: 0 !important;
}

a.dsq-avatar,
a.dsq-avatar img {
  border: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -box-shadow: none !important;
}

.dsq-comment-header-meta cite {
  float: left !important;
  clear: both !important;
  margin-top: -2px !important;
}

.dsq-comment-header-meta cite a,
.dsq-comment-header-meta cite  {
  font-size: 14px !important;
  text-decoration: none;
  font-weight: bold !important;
}

.dsq-comment-header-meta cite a:hover {
  text-decoration: underline;
  color: #bf1711;
}

.dsq-comment-header-meta .dsq-comment-header-time {
  float: left !important;
  clear: both !important;
  padding: 0 !important;
}

.dsq-comment-header-meta .dsq-comment-header-time a {
  color: #363636;
  font-family: Georgia;
  font-style: italic !important;
  font-weight: normal !important;
  font-size: 12px;
  margin: 0 0 1px 0 !important;
}

.dsq-comment-header-meta .dsq-comment-header-time a:hover {
  margin: 0 !important;
}

.dsq-comment-header-meta a {
  float: left !important;
  clear: both !important;
  font-weight: normal !important;
  font-size: 10px;
}

img.dsq-moderator-star {
  display: none !important;
}

#dsq-content .dsq-comment-header td {
  vertical-align: top !important;
}

.dsq-editedtxt {
  font-size: 10px;
  font-family: Georgia;
  font-style: italic !important;
  color: #777;
}

#disqus_thread h3 {
  margin: 0 0 5px 0;
  text-shadow: 0 1px 0 #fff;
  color: #999;
}

.dsq-post-area img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

img.dsq-request-user-avatar {
  width: 38px !important;
  height: 38px !important;
}

.dsq-request-user-name small a {
  color: #555;
}

.dsq-request-user-name small a:hover {
  color: #bf1711;
}

.dsq-request-user-name,
.dsq-request-user-stats {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dsq-request-user-stats {
  font-size: 11px !important;
}

#dsq-content .dsq-request-user-info {
  background: none !important;
  padding: 0 !important;
}

#dsq-content .dsq-dc-logo {
  display: none !important;
}

#dsq-content .dsq-unauthenticated .dsq-dc-logo {
  margin: 0 !important; 
  display: block !important;
}

#dsq-content .dsq-request-user-logout {
  margin-top: 2px;
}

#dsq-content .dsq-sub-header .dsq-user-like {
  float: left;
  margin-left: 0 !important;
  text-align: left !important;
}

#dsq-content .dsq-sub-header .dsq-user-like img {
  display: none !important;
}

#dsq-content .dsq-sub-header table {
  background-color: #fff8df !important;
  background-image: none !important;
}

#dsq-content .dsq-sub-header table a {
  color: #77674c !important;
  font-weight: normal !important;
}

#dsq_thread {
  margin-bottom: 0 !important;
}

#dsq-content .dsq-comment-footer-reply-tab {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  background-image: none !important;
  background-color: #f6a0a0 !important;
  border: 1px solid #c54d4d !important;
  color: #222 !important;
  text-shadow: none !important;
  padding: 1px 3px 1px !important;
}

#dsq-content .dsq-append-post .dsq-post-area {
  background-image: none !important;
  background-color: #e3e3e3 !important;
}

#dsq-content .dsq-moderator .dsq-comment-header {
  background-image: none !important;
}