/*thoughtbot red*/
/*line-height of all the type on the site*/
/*one grid column*/
/*size of one gutter*/
@media only screen and (min-width: 760px) {
  /* line 1, sass/_760-up.scss */
  section#container {
    width: 740px; }
    /* line 4, sass/_760-up.scss */
    section#container header {
      margin: 0 0 40px 0; }
      /* line 7, sass/_760-up.scss */
      section#container header h2.logo {
        float: left;
        width: 145px; }
        /* line 11, sass/_760-up.scss */
        section#container header h2.logo a {
          margin: 15px 0 0 30px;
          display: block; }
      /* line 17, sass/_760-up.scss */
      section#container header hgroup {
        float: left;
        text-align: left;
        padding: 40px 0 0 25px; }
        /* line 22, sass/_760-up.scss */
        section#container header hgroup h2 {
          font: 700 12px/14px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 0 0 6px 0;
          text-transform: uppercase; }
          /* line 27, sass/_760-up.scss */
          section#container header hgroup h2 a {
            color: #333;
            font-weight: 700;
            text-decoration: none; }
            /* line 32, sass/_760-up.scss */
            section#container header hgroup h2 a:hover {
              color: #ad141e; }
        /* line 38, sass/_760-up.scss */
        section#container header hgroup h3 {
          color: #777;
          font: 400 13px/16px "skolar-1", "skolar-2", Georgia, serif;
          font-style: italic; }
          /* line 43, sass/_760-up.scss */
          section#container header hgroup h3 a {
            color: #777;
            font-weight: 400;
            text-decoration: none; }
            /* line 48, sass/_760-up.scss */
            section#container header hgroup h3 a:hover {
              text-decoration: underline; }
      /* line 55, sass/_760-up.scss */
      section#container header nav {
        zoom: 1;
        padding: 15px 0 0 0;
        display: block;
        float: right; }
        /* line 18, sass/bourbon/addons/_clearfix.scss */
        section#container header nav:before, section#container header nav:after {
          content: "";
          display: table; }
        /* line 23, sass/bourbon/addons/_clearfix.scss */
        section#container header nav:after {
          clear: both; }
        /* line 61, sass/_760-up.scss */
        section#container header nav ul {
          zoom: 1;
          margin-top: 10px;
          text-align: center; }
          /* line 18, sass/bourbon/addons/_clearfix.scss */
          section#container header nav ul:before, section#container header nav ul:after {
            content: "";
            display: table; }
          /* line 23, sass/bourbon/addons/_clearfix.scss */
          section#container header nav ul:after {
            clear: both; }
          /* line 66, sass/_760-up.scss */
          section#container header nav ul li {
            margin-right: 10px;
            display: inline-block; }
            /* line 70, sass/_760-up.scss */
            section#container header nav ul li:last-child {
              margin-right: 0; }
            /* line 74, sass/_760-up.scss */
            section#container header nav ul li a {
              height: 42px;
              display: block;
              background-color: transparent;
              border: 0;
              color: transparent;
              font: 0/0 a;
              text-shadow: none;
              width: 42px;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              transition: 0.5s; }
              /* line 81, sass/_760-up.scss */
              section#container header nav ul li a#twitter {
                background: url("http://thoughtbot.com/assets/giantrobots/images/twitter.png") -8px -1px no-repeat; }
                /* line 84, sass/_760-up.scss */
                section#container header nav ul li a#twitter:hover {
                  background-position: -8px -48px; }
              /* line 89, sass/_760-up.scss */
              section#container header nav ul li a#contact {
                background: url("http://thoughtbot.com/assets/giantrobots/images/contact.png") 0 -1px no-repeat; }
                /* line 92, sass/_760-up.scss */
                section#container header nav ul li a#contact:hover {
                  background-position: 0 -47px; }
              /* line 97, sass/_760-up.scss */
              section#container header nav ul li a#rss {
                background: url("http://thoughtbot.com/assets/giantrobots/images/rss.png") 0px 0px no-repeat; }
                /* line 100, sass/_760-up.scss */
                section#container header nav ul li a#rss:hover {
                  background-position: 0px -47px; }
    /* line 110, sass/_760-up.scss */
    section#container aside {
      float: left;
      margin: 10px 0 0 25px;
      width: 230px; }
      /* line 116, sass/_760-up.scss */
      section#container aside .message a {
        background: #f7f7f7;
        border: 1px solid #dedede;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #333;
        display: block;
        padding: 15px;
        text-decoration: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        /* line 126, sass/_760-up.scss */
        section#container aside .message a img {
          float: left;
          margin: 0 15px 0 0; }
        /* line 131, sass/_760-up.scss */
        section#container aside .message a span.promo-name {
          color: #777;
          display: block;
          font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
          font-style: italic;
          margin: 0 0 4px 0;
          text-decoration: none; }
        /* line 140, sass/_760-up.scss */
        section#container aside .message a span.promo-creative {
          color: #444;
          display: block;
          font: 700 16px/16px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          text-decoration: none; }
        /* line 147, sass/_760-up.scss */
        section#container aside .message a:hover {
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05); }
    /* line 155, sass/_760-up.scss */
    section#container section#posts {
      float: left;
      width: 740px; }
      /* line 159, sass/_760-up.scss */
      section#container section#posts .post {
        margin: 0 0 60px 0;
        padding: 0 0 20px 170px;
        position: relative;
        /* text posts */
        /*photo and video posts */
        /* link posts */
        /* quote posts */ }
        /* line 164, sass/_760-up.scss */
        section#container section#posts .post .meta-info {
          left: 10px;
          text-align: left;
          position: absolute;
          top: 18px;
          width: 145px; }
          /* line 171, sass/_760-up.scss */
          section#container section#posts .post .meta-info p.post-date {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            border-bottom: none;
            margin: 0 0 44px 0;
            padding: 0;
            width: 100%; }
          /* line 179, sass/_760-up.scss */
          section#container section#posts .post .meta-info p.tagged {
            display: block;
            font: 600 12px/12px "skolar-1", "skolar-2", Georgia, serif;
            margin: 0 0 10px 0;
            text-transform: uppercase; }
          /* line 186, sass/_760-up.scss */
          section#container section#posts .post .meta-info ul.tags {
            color: #777;
            margin: 0 0 36px 0;
            display: block; }
            /* line 191, sass/_760-up.scss */
            section#container section#posts .post .meta-info ul.tags li {
              font: 400 13px/14px "skolar-1", "skolar-2", Georgia, serif;
              font-style: italic;
              margin: 0 0 10px 0;
              position: relative; }
              /* line 197, sass/_760-up.scss */
              section#container section#posts .post .meta-info ul.tags li a {
                color: #777;
                font-weight: normal;
                text-decoration: none; }
              /* line 203, sass/_760-up.scss */
              section#container section#posts .post .meta-info ul.tags li:after {
                content: "\2014";
                font-size: 13px;
                left: -14px;
                position: absolute;
                top: 0; }
          /* line 213, sass/_760-up.scss */
          section#container section#posts .post .meta-info p.comments {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            margin-top: -3px;
            width: 145px; }
            /* line 218, sass/_760-up.scss */
            section#container section#posts .post .meta-info p.comments a {
              color: #333;
              font-weight: 400; }
        /* line 225, sass/_760-up.scss */
        section#container section#posts .post h2 {
          color: #111;
          font: 700 14px/21px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 20px 0 0px 0;
          text-transform: uppercase; }
        /* line 232, sass/_760-up.scss */
        section#container section#posts .post h3, section#container section#posts .post h4 {
          color: #333;
          font: 400 16px/26px "skolar-1", "skolar-2", Georgia, serif;
          font-style: italic;
          margin: 20px 0 0px 0; }
        /* line 239, sass/_760-up.scss */
        section#container section#posts .post p {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 0 0 12px 0; }
        /* line 244, sass/_760-up.scss */
        section#container section#posts .post blockquote {
          color: #555;
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          font-style: italic;
          margin: 0 0 12px 0;
          padding: 0 30px 0 30px; }
          /* line 251, sass/_760-up.scss */
          section#container section#posts .post blockquote p {
            color: #555;
            font-style: italic; }
        /* line 257, sass/_760-up.scss */
        section#container section#posts .post ul {
          margin: 0 0 16px 0; }
          /* line 260, sass/_760-up.scss */
          section#container section#posts .post ul li {
            font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
            margin: 0 0 4px 0;
            position: relative; }
            /* line 265, sass/_760-up.scss */
            section#container section#posts .post ul li:after {
              content: "\2022";
              font-size: 18px;
              font-weight: 700;
              left: -12px;
              position: absolute;
              top: -2px; }
        /* line 276, sass/_760-up.scss */
        section#container section#posts .post ol {
          margin: 0 0 16px 0; }
          /* line 279, sass/_760-up.scss */
          section#container section#posts .post ol li {
            font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
            list-style: outside;
            list-style-type: decimal;
            margin: 0 0 4px 0;
            position: relative; }
        /* line 288, sass/_760-up.scss */
        section#container section#posts .post a {
          color: #ad141e;
          font-weight: 700;
          text-decoration: none; }
          /* line 293, sass/_760-up.scss */
          section#container section#posts .post a:hover {
            text-decoration: underline; }
        /* line 298, sass/_760-up.scss */
        section#container section#posts .post em {
          font-style: italic; }
        /* line 302, sass/_760-up.scss */
        section#container section#posts .post strong {
          font-weight: 700; }
        /* line 306, sass/_760-up.scss */
        section#container section#posts .post table {
          font: 400 14px/22px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin-bottom: 12px;
          width: 570px; }
          /* line 311, sass/_760-up.scss */
          section#container section#posts .post table tr {
            border-bottom: 1px solid #ddd; }
          /* line 316, sass/_760-up.scss */
          section#container section#posts .post table td,
          section#container section#posts .post table th {
            padding: 4px;
            width: 50%; }
          /* line 321, sass/_760-up.scss */
          section#container section#posts .post table th {
            font-weight: 700;
            text-align: left; }
        /* line 327, sass/_760-up.scss */
        section#container section#posts .post dl {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 10px 0 20px; }
          /* line 334, sass/_760-up.scss */
          section#container section#posts .post dl dd {
            margin: 0 0 8px 20px; }
        /* line 339, sass/_760-up.scss */
        section#container section#posts .post section.post-footer {
          margin: 20px 0 0 0; }
          /* line 342, sass/_760-up.scss */
          section#container section#posts .post section.post-footer p.author {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            font-style: italic;
            left: -12px;
            position: relative; }
            /* line 348, sass/_760-up.scss */
            section#container section#posts .post section.post-footer p.author:before {
              content: "\2014"; }
        /* line 355, sass/_760-up.scss */
        section#container section#posts .post h1.title {
          font: 300 36px/38px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 0 0 30px 0;
          text-transform: none;
          text-align: left; }
          /* line 361, sass/_760-up.scss */
          section#container section#posts .post h1.title a {
            color: #111;
            font-weight: 300;
            text-decoration: none; }
        /* line 371, sass/_760-up.scss */
        section#container section#posts .post.photo .meta-info, section#container section#posts .post.video .meta-info {
          top: 0px; }
        /* line 375, sass/_760-up.scss */
        section#container section#posts .post.photo .caption, section#container section#posts .post.video .caption {
          margin-top: 8px; }
        /* line 380, sass/_760-up.scss */
        section#container section#posts .post.photo .post-footer p.comments, section#container section#posts .post.video .post-footer p.comments {
          padding-bottom: 0px;
          position: relative;
          top: -30px; }
        /* line 388, sass/_760-up.scss */
        section#container section#posts .post iframe, section#container section#posts .post object {
          min-height: 321px; }
        /* line 394, sass/_760-up.scss */
        section#container section#posts .post.link .meta-info {
          top: 10px; }
        /* line 398, sass/_760-up.scss */
        section#container section#posts .post.link h1.title {
          font-size: 24px;
          line-height: 30px; }
          /* line 402, sass/_760-up.scss */
          section#container section#posts .post.link h1.title a {
            font-weight: 400; }
        /* line 410, sass/_760-up.scss */
        section#container section#posts .post.quote .meta-info {
          top: 8px; }
        /* line 414, sass/_760-up.scss */
        section#container section#posts .post.quote q {
          font: 400 18px/26px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          position: relative; }
          /* line 418, sass/_760-up.scss */
          section#container section#posts .post.quote q:before {
            content: '\201C';
            color: #333;
            font-size: 36px;
            position: absolute;
            top: 4px;
            left: -20px; }
          /* line 427, sass/_760-up.scss */
          section#container section#posts .post.quote q q:before {
            content: '\2018'; }
          /* line 431, sass/_760-up.scss */
          section#container section#posts .post.quote q q:after {
            content: '\2019'; }
        /* line 436, sass/_760-up.scss */
        section#container section#posts .post.quote p.source {
          left: -16px;
          margin: 10px 0 0 0;
          position: relative; }
        /* line 444, sass/_760-up.scss */
        section#container section#posts .post.quote.medium q, section#container section#posts .post.quote.long q {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif; }
        /* line 450, sass/_760-up.scss */
        section#container section#posts .post.quote .post-footer p.comments {
          padding-bottom: 0px;
          position: relative;
          top: -18px; }

  /* line 461, sass/_760-up.scss */
  .old img {
    float: none !important; }

  /* Pagination
  ------------------------------------------------------------------------------*/
  /* line 467, sass/_760-up.scss */
  #pagination {
    padding: 0 0 20px 170px;
    width: 570px; }

  /* line 472, sass/_760-up.scss */
  #pagination a {
    color: #444;
    font: 700 13px/13px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
    padding: 6px 9px;
    text-decoration: none;
    text-transform: uppercase; }

  /* line 480, sass/_760-up.scss */
  #pagination a:hover {
    color: #000; }

  /* line 484, sass/_760-up.scss */
  #pagination #older-link {
    float: left;
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    width: 145px; }

  /* line 491, sass/_760-up.scss */
  #pagination #older-link a {
    background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") 0 10px no-repeat;
    margin: 0 0 0 -3px; }

  /* line 496, sass/_760-up.scss */
  #pagination #newer-link {
    float: right;
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    text-align: right;
    width: 145px; }

  /* line 504, sass/_760-up.scss */
  #pagination #newer-link a {
    background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") right -18px no-repeat;
    margin: 0 -3px 0 0; }

  /* Footer
  ------------------------------------------------------------------------------*/
  /* line 511, sass/_760-up.scss */
  footer {
    background: #efefef;
    border-top: 1px solid #e0e0e0;
    padding: 60px 0 120px; }
    /* line 516, sass/_760-up.scss */
    footer section#footer-container {
      zoom: 1;
      margin: 0 auto;
      width: 995px; }
      /* line 18, sass/bourbon/addons/_clearfix.scss */
      footer section#footer-container:before, footer section#footer-container:after {
        content: "";
        display: table; }
      /* line 23, sass/bourbon/addons/_clearfix.scss */
      footer section#footer-container:after {
        clear: both; }
      /* line 521, sass/_760-up.scss */
      footer section#footer-container h6 {
        color: #4a4a4a;
        font: 300 18px/18px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
        margin: 0 0 20px 0; }
      /* line 527, sass/_760-up.scss */
      footer section#footer-container nav {
        float: left;
        margin-right: 25px;
        width: 485px; }
        /* line 532, sass/_760-up.scss */
        footer section#footer-container nav ul {
          float: left;
          width: 145px; }
          /* line 536, sass/_760-up.scss */
          footer section#footer-container nav ul#secondary-links {
            margin-left: 25px; }
          /* line 540, sass/_760-up.scss */
          footer section#footer-container nav ul li {
            color: #7a7a7a;
            font: 400 14px/18px "skolar-1", "skolar-2", Georgia, serif;
            margin: 0 0 6px 0; }
            /* line 545, sass/_760-up.scss */
            footer section#footer-container nav ul li a {
              color: #7a7a7a;
              text-decoration: none; }
              /* line 549, sass/_760-up.scss */
              footer section#footer-container nav ul li a:hover {
                color: #3a3a3a; }
      /* line 557, sass/_760-up.scss */
      footer section#footer-container section#products {
        zoom: 1;
        float: left;
        width: 485px; }
        /* line 18, sass/bourbon/addons/_clearfix.scss */
        footer section#footer-container section#products:before, footer section#footer-container section#products:after {
          content: "";
          display: table; }
        /* line 23, sass/bourbon/addons/_clearfix.scss */
        footer section#footer-container section#products:after {
          clear: both; }
        /* line 562, sass/_760-up.scss */
        footer section#footer-container section#products section.product {
          float: left;
          margin-right: 25px;
          width: 145px; }
          /* line 568, sass/_760-up.scss */
          footer section#footer-container section#products section.product h6 a {
            color: #333;
            text-decoration: none; }
          /* line 574, sass/_760-up.scss */
          footer section#footer-container section#products section.product a.logo {
            background: #e9e9e9;
            border: 1px solid #dedede;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            display: block;
            height: 100px;
            padding: 15px 0;
            text-align: center;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s; }
            /* line 584, sass/_760-up.scss */
            footer section#footer-container section#products section.product a.logo:hover {
              -webkit-border-radius: 0;
              border-radius: 0;
              -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.04);
              box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.04); }
          /* line 590, sass/_760-up.scss */
          footer section#footer-container section#products section.product#airbrake a.logo {
            padding: 18px 0 14px 0; }
          /* line 594, sass/_760-up.scss */
          footer section#footer-container section#products section.product#copycopter {
            margin-right: 0; }
            /* line 597, sass/_760-up.scss */
            footer section#footer-container section#products section.product#copycopter a.logo {
              padding: 25px 0 5px 0; }
              /* line 600, sass/_760-up.scss */
              footer section#footer-container section#products section.product#copycopter a.logo img {
                width: 110px; }
          /* line 607, sass/_760-up.scss */
          footer section#footer-container section#products section.product#trajectory a.logo {
            height: 90px;
            padding: 40px 0 0px 0; }
            /* line 611, sass/_760-up.scss */
            footer section#footer-container section#products section.product#trajectory a.logo img {
              width: 110px; } }
@media only screen and (min-width: 995px) {
  /* line 1, sass/_995-up.scss */
  section#container {
    margin: 0 auto;
    padding: 20px 0 80px;
    width: 995px; }
    /* line 7, sass/_995-up.scss */
    section#container header h2.logo {
      float: left;
      width: 145px; }
      /* line 11, sass/_995-up.scss */
      section#container header h2.logo a {
        background: url("http://thoughtbot.com/assets/giantrobots/images/logo.png") no-repeat;
        display: block;
        height: 85px;
        margin: 15px 0 0 30px;
        text-indent: -9999px;
        width: 85px; }
    /* line 21, sass/_995-up.scss */
    section#container header hgroup {
      float: left;
      text-align: left;
      padding: 40px 0 0 25px;
      width: 570px; }
      /* line 27, sass/_995-up.scss */
      section#container header hgroup h2 {
        font: 700 12px/14px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
        margin: 0 0 6px 0;
        text-transform: uppercase; }
        /* line 32, sass/_995-up.scss */
        section#container header hgroup h2 a {
          color: #333;
          font-weight: 700;
          text-decoration: none; }
          /* line 37, sass/_995-up.scss */
          section#container header hgroup h2 a:hover {
            color: #ad141e; }
      /* line 43, sass/_995-up.scss */
      section#container header hgroup h3 {
        color: #777;
        font: 400 13px/16px "skolar-1", "skolar-2", Georgia, serif;
        font-style: italic; }
        /* line 48, sass/_995-up.scss */
        section#container header hgroup h3 a {
          color: #777;
          font-weight: 400;
          text-decoration: none; }
          /* line 53, sass/_995-up.scss */
          section#container header hgroup h3 a:hover {
            text-decoration: underline; }
    /* line 60, sass/_995-up.scss */
    section#container header nav {
      zoom: 1;
      display: block;
      float: left;
      margin: 0 0 0 25px;
      padding: 35px 0 0 0;
      width: 230px; }
      /* line 18, sass/bourbon/addons/_clearfix.scss */
      section#container header nav:before, section#container header nav:after {
        content: "";
        display: table; }
      /* line 23, sass/bourbon/addons/_clearfix.scss */
      section#container header nav:after {
        clear: both; }
      /* line 68, sass/_995-up.scss */
      section#container header nav ul {
        zoom: 1;
        margin-top: 0;
        text-align: center; }
        /* line 18, sass/bourbon/addons/_clearfix.scss */
        section#container header nav ul:before, section#container header nav ul:after {
          content: "";
          display: table; }
        /* line 23, sass/bourbon/addons/_clearfix.scss */
        section#container header nav ul:after {
          clear: both; }
        /* line 73, sass/_995-up.scss */
        section#container header nav ul li {
          width: 42px; }
          /* line 76, sass/_995-up.scss */
          section#container header nav ul li a {
            display: block;
            height: 41px;
            text-indent: -9999px;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s; }
            /* line 82, sass/_995-up.scss */
            section#container header nav ul li a#twitter {
              background: url("http://thoughtbot.com/assets/giantrobots/images/twitter.png") -8px -1px no-repeat; }
              /* line 85, sass/_995-up.scss */
              section#container header nav ul li a#twitter:hover {
                background-position: -8px -48px; }
            /* line 90, sass/_995-up.scss */
            section#container header nav ul li a#contact {
              background: url("http://thoughtbot.com/assets/giantrobots/images/contact.png") 0 -1px no-repeat; }
              /* line 93, sass/_995-up.scss */
              section#container header nav ul li a#contact:hover {
                background-position: 0 -47px; }
            /* line 98, sass/_995-up.scss */
            section#container header nav ul li a#rss {
              background: url("http://thoughtbot.com/assets/giantrobots/images/rss.png") 0px 0px no-repeat; }
              /* line 101, sass/_995-up.scss */
              section#container header nav ul li a#rss:hover {
                background-position: 0px -47px; }
    /* line 111, sass/_995-up.scss */
    section#container aside {
      float: left;
      margin: 10px 0 0 25px;
      width: 230px; }
      /* line 117, sass/_995-up.scss */
      section#container aside .message a {
        background: #f7f7f7;
        border: 1px solid #dedede;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #333;
        display: block;
        padding: 15px;
        text-decoration: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        /* line 127, sass/_995-up.scss */
        section#container aside .message a img {
          float: left;
          margin: 0 15px 0 0; }
        /* line 132, sass/_995-up.scss */
        section#container aside .message a span.promo-name {
          color: #777;
          display: block;
          font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
          font-style: italic;
          margin: 0 0 4px 0;
          text-decoration: none; }
        /* line 141, sass/_995-up.scss */
        section#container aside .message a span.promo-creative {
          color: #444;
          display: block;
          font: 700 16px/16px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          text-decoration: none; }
        /* line 148, sass/_995-up.scss */
        section#container aside .message a:hover {
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05); }
    /* line 156, sass/_995-up.scss */
    section#container section#posts {
      float: left;
      width: 740px; }
      /* line 160, sass/_995-up.scss */
      section#container section#posts .post {
        border-bottom: 3px solid #dddddd;
        margin: 0 0 60px 0;
        padding: 0 0 20px 170px;
        position: relative;
        /* text posts */
        /*photo and video posts */
        /* link posts */
        /* quote posts */ }
        /* line 166, sass/_995-up.scss */
        section#container section#posts .post .meta-info {
          left: 10px;
          position: absolute;
          top: 18px;
          width: 145px; }
          /* line 172, sass/_995-up.scss */
          section#container section#posts .post .meta-info p.post-date {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            margin: 0 0 44px 0; }
            /* line 176, sass/_995-up.scss */
            section#container section#posts .post .meta-info p.post-date a {
              color: #333;
              font-weight: 400; }
          /* line 182, sass/_995-up.scss */
          section#container section#posts .post .meta-info p.tagged {
            font: 600 12px/12px "skolar-1", "skolar-2", Georgia, serif;
            margin: 0 0 10px 0;
            text-transform: uppercase; }
          /* line 188, sass/_995-up.scss */
          section#container section#posts .post .meta-info ul.tags {
            color: #777;
            margin: 0 0 36px 0; }
            /* line 192, sass/_995-up.scss */
            section#container section#posts .post .meta-info ul.tags li {
              font: 400 13px/14px "skolar-1", "skolar-2", Georgia, serif;
              font-style: italic;
              margin: 0 0 10px 0;
              position: relative; }
              /* line 198, sass/_995-up.scss */
              section#container section#posts .post .meta-info ul.tags li a {
                color: #777;
                font-weight: normal;
                text-decoration: none; }
              /* line 204, sass/_995-up.scss */
              section#container section#posts .post .meta-info ul.tags li:after {
                content: "\2014";
                font-size: 13px;
                left: -14px;
                position: absolute;
                top: 0; }
          /* line 214, sass/_995-up.scss */
          section#container section#posts .post .meta-info p.comments {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            margin-top: -3px;
            width: 145px; }
            /* line 219, sass/_995-up.scss */
            section#container section#posts .post .meta-info p.comments a {
              color: #333;
              font-weight: 400; }
        /* line 226, sass/_995-up.scss */
        section#container section#posts .post h2 {
          color: #111;
          font: 700 14px/21px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 20px 0 0px 0;
          text-transform: uppercase; }
        /* line 233, sass/_995-up.scss */
        section#container section#posts .post h3, section#container section#posts .post h4 {
          color: #333;
          font: 400 16px/26px "skolar-1", "skolar-2", Georgia, serif;
          font-style: italic;
          margin: 20px 0 0px 0; }
        /* line 240, sass/_995-up.scss */
        section#container section#posts .post p {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 0 0 12px 0; }
        /* line 245, sass/_995-up.scss */
        section#container section#posts .post blockquote {
          color: #555;
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          font-style: italic;
          margin: 0 0 12px 0;
          padding: 0 30px 0 30px; }
          /* line 252, sass/_995-up.scss */
          section#container section#posts .post blockquote p {
            color: #555;
            font-style: italic; }
        /* line 258, sass/_995-up.scss */
        section#container section#posts .post ul {
          margin: 0 0 16px 0; }
          /* line 261, sass/_995-up.scss */
          section#container section#posts .post ul li {
            font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
            margin: 0 0 4px 0;
            position: relative; }
            /* line 266, sass/_995-up.scss */
            section#container section#posts .post ul li:after {
              content: "\2022";
              font-size: 18px;
              font-weight: 700;
              left: -12px;
              position: absolute;
              top: -2px; }
        /* line 277, sass/_995-up.scss */
        section#container section#posts .post ol {
          margin: 0 0 16px 0; }
          /* line 280, sass/_995-up.scss */
          section#container section#posts .post ol li {
            font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
            list-style: outside;
            list-style-type: decimal;
            margin: 0 0 4px 0;
            position: relative; }
        /* line 289, sass/_995-up.scss */
        section#container section#posts .post img {
          max-width: 570px;
          margin-bottom: 10px; }
        /* line 294, sass/_995-up.scss */
        section#container section#posts .post a {
          color: #ad141e;
          font-weight: 700;
          text-decoration: none; }
          /* line 299, sass/_995-up.scss */
          section#container section#posts .post a:hover {
            text-decoration: underline; }
        /* line 304, sass/_995-up.scss */
        section#container section#posts .post em {
          font-style: italic; }
        /* line 308, sass/_995-up.scss */
        section#container section#posts .post strong {
          font-weight: 700; }
        /* line 312, sass/_995-up.scss */
        section#container section#posts .post table {
          font: 400 14px/22px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin-bottom: 12px;
          width: 570px; }
          /* line 317, sass/_995-up.scss */
          section#container section#posts .post table tr {
            border-bottom: 1px solid #ddd; }
          /* line 322, sass/_995-up.scss */
          section#container section#posts .post table td,
          section#container section#posts .post table th {
            padding: 4px;
            width: 50%; }
          /* line 327, sass/_995-up.scss */
          section#container section#posts .post table th {
            font-weight: 700;
            text-align: left; }
        /* line 333, sass/_995-up.scss */
        section#container section#posts .post dl {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 10px 0 20px; }
          /* line 340, sass/_995-up.scss */
          section#container section#posts .post dl dd {
            margin: 0 0 8px 20px; }
        /* line 345, sass/_995-up.scss */
        section#container section#posts .post section.post-footer {
          margin: 20px 0 0 0; }
          /* line 348, sass/_995-up.scss */
          section#container section#posts .post section.post-footer p.author {
            font: 400 14px/14px "skolar-1", "skolar-2", Georgia, serif;
            font-style: italic;
            left: -12px;
            position: relative; }
            /* line 354, sass/_995-up.scss */
            section#container section#posts .post section.post-footer p.author:before {
              content: "\2014"; }
        /* line 361, sass/_995-up.scss */
        section#container section#posts .post h1.title {
          font: 300 36px/38px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          margin: 0 0 30px 0;
          text-transform: none; }
          /* line 366, sass/_995-up.scss */
          section#container section#posts .post h1.title a {
            color: #111;
            font-weight: 300;
            text-decoration: none; }
        /* line 376, sass/_995-up.scss */
        section#container section#posts .post.photo .meta-info, section#container section#posts .post.video .meta-info {
          top: 0px; }
        /* line 380, sass/_995-up.scss */
        section#container section#posts .post.photo .caption, section#container section#posts .post.video .caption {
          margin-top: 8px; }
        /* line 385, sass/_995-up.scss */
        section#container section#posts .post.photo .post-footer p.comments, section#container section#posts .post.video .post-footer p.comments {
          padding-bottom: 0px;
          position: relative;
          top: -30px; }
        /* line 395, sass/_995-up.scss */
        section#container section#posts .post.link .meta-info {
          top: 10px; }
        /* line 399, sass/_995-up.scss */
        section#container section#posts .post.link h1.title {
          font-size: 24px;
          line-height: 30px; }
          /* line 403, sass/_995-up.scss */
          section#container section#posts .post.link h1.title a {
            font-weight: 400; }
        /* line 411, sass/_995-up.scss */
        section#container section#posts .post.quote .meta-info {
          top: 8px; }
        /* line 415, sass/_995-up.scss */
        section#container section#posts .post.quote q {
          font: 400 18px/26px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
          position: relative; }
          /* line 419, sass/_995-up.scss */
          section#container section#posts .post.quote q:before {
            content: '\201C';
            color: #333;
            font-size: 36px;
            position: absolute;
            top: 4px;
            left: -20px; }
          /* line 428, sass/_995-up.scss */
          section#container section#posts .post.quote q q:before {
            content: '\2018'; }
          /* line 432, sass/_995-up.scss */
          section#container section#posts .post.quote q q:after {
            content: '\2019'; }
        /* line 437, sass/_995-up.scss */
        section#container section#posts .post.quote p.source {
          left: -16px;
          margin: 10px 0 0 0;
          position: relative; }
        /* line 445, sass/_995-up.scss */
        section#container section#posts .post.quote.medium q, section#container section#posts .post.quote.long q {
          font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif; }
        /* line 451, sass/_995-up.scss */
        section#container section#posts .post.quote .post-footer p.comments {
          padding-bottom: 0px;
          position: relative;
          top: -18px; }

  /* line 462, sass/_995-up.scss */
  .old img {
    float: none !important; }

  /* Pagination
  ------------------------------------------------------------------------------*/
  /* line 468, sass/_995-up.scss */
  #pagination {
    padding: 0 0 20px 170px;
    width: 570px; }

  /* line 473, sass/_995-up.scss */
  #pagination a {
    color: #444;
    font: 700 13px/13px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
    padding: 6px 9px;
    text-decoration: none;
    text-transform: uppercase; }

  /* line 481, sass/_995-up.scss */
  #pagination a:hover {
    color: #000; }

  /* line 485, sass/_995-up.scss */
  #pagination #older-link {
    float: left;
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    width: 145px; }

  /* line 492, sass/_995-up.scss */
  #pagination #older-link a {
    background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") 0 10px no-repeat;
    margin: 0 0 0 -3px; }

  /* line 497, sass/_995-up.scss */
  #pagination #newer-link {
    float: right;
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    text-align: right;
    width: 145px; }

  /* line 505, sass/_995-up.scss */
  #pagination #newer-link a {
    background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") right -18px no-repeat;
    margin: 0 -3px 0 0; }

  /* Footer
  ------------------------------------------------------------------------------*/
  /* line 512, sass/_995-up.scss */
  footer {
    background: #efefef;
    border-top: 1px solid #e0e0e0;
    padding: 60px 0 120px; }
    /* line 517, sass/_995-up.scss */
    footer section#footer-container {
      zoom: 1;
      margin: 0 auto;
      width: 995px; }
      /* line 18, sass/bourbon/addons/_clearfix.scss */
      footer section#footer-container:before, footer section#footer-container:after {
        content: "";
        display: table; }
      /* line 23, sass/bourbon/addons/_clearfix.scss */
      footer section#footer-container:after {
        clear: both; }
      /* line 522, sass/_995-up.scss */
      footer section#footer-container h6 {
        color: #4a4a4a;
        font: 300 18px/18px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
        margin: 0 0 20px 0; }
      /* line 528, sass/_995-up.scss */
      footer section#footer-container nav {
        float: left;
        margin-right: 25px;
        width: 485px; }
        /* line 533, sass/_995-up.scss */
        footer section#footer-container nav ul {
          float: left;
          width: 145px; }
          /* line 537, sass/_995-up.scss */
          footer section#footer-container nav ul#secondary-links {
            margin-left: 25px; }
          /* line 541, sass/_995-up.scss */
          footer section#footer-container nav ul li {
            color: #7a7a7a;
            font: 400 14px/18px "skolar-1", "skolar-2", Georgia, serif;
            margin: 0 0 6px 0; }
            /* line 546, sass/_995-up.scss */
            footer section#footer-container nav ul li a {
              color: #7a7a7a;
              text-decoration: none; }
              /* line 550, sass/_995-up.scss */
              footer section#footer-container nav ul li a:hover {
                color: #3a3a3a; }
      /* line 558, sass/_995-up.scss */
      footer section#footer-container section#products {
        zoom: 1;
        float: left;
        width: 485px; }
        /* line 18, sass/bourbon/addons/_clearfix.scss */
        footer section#footer-container section#products:before, footer section#footer-container section#products:after {
          content: "";
          display: table; }
        /* line 23, sass/bourbon/addons/_clearfix.scss */
        footer section#footer-container section#products:after {
          clear: both; }
        /* line 563, sass/_995-up.scss */
        footer section#footer-container section#products section.product {
          float: left;
          margin-right: 25px;
          width: 145px; }
          /* line 569, sass/_995-up.scss */
          footer section#footer-container section#products section.product h6 a {
            color: #333;
            text-decoration: none; }
          /* line 575, sass/_995-up.scss */
          footer section#footer-container section#products section.product a.logo {
            background: #e9e9e9;
            border: 1px solid #dedede;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            display: block;
            height: 100px;
            padding: 15px 0;
            text-align: center;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s; }
            /* line 585, sass/_995-up.scss */
            footer section#footer-container section#products section.product a.logo:hover {
              -webkit-border-radius: 0;
              border-radius: 0;
              -webkit-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.04);
              box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.04); }
          /* line 591, sass/_995-up.scss */
          footer section#footer-container section#products section.product#airbrake a.logo {
            padding: 18px 0 14px 0; }
          /* line 595, sass/_995-up.scss */
          footer section#footer-container section#products section.product#copycopter {
            margin-right: 0; }
            /* line 598, sass/_995-up.scss */
            footer section#footer-container section#products section.product#copycopter a.logo {
              padding: 25px 0 5px 0; }
              /* line 601, sass/_995-up.scss */
              footer section#footer-container section#products section.product#copycopter a.logo img {
                width: 110px; }
          /* line 608, sass/_995-up.scss */
          footer section#footer-container section#products section.product#trajectory a.logo {
            height: 90px;
            padding: 40px 0 0px 0; }
            /* line 612, sass/_995-up.scss */
            footer section#footer-container section#products section.product#trajectory a.logo img {
              width: 110px; } }
