h2.title,
h2.title a {
  color: #bf1711;
  font-weight: 200 !important;
  text-decoration: none;
  text-align: center;
  font-size: 42px;
  padding: 0;
}

h2,h3,h4 {
  margin: 7px 0;
}

h2.title a:hover {
  color: #d71b14;
}

h2 {
  color: #000;
  font-size: 20px;
}

h3 {
  color: #000;
  font-size: 16px;
}

h4 {
  color: #000;
  font-size: 14px;
}

p {
  font-size: 13px;
  line-height: 22px;
  color: #000;
  margin: 0 0 15px 0;
}

ul,
ol,
blockquote {
  margin: 0 25px 25px 25px;
}

li {
  font-size: 13px;
  list-style: outside;
  margin: 0 0 7px 0;
}

blockquote {
  padding: 1px 0 1px 10px;
}
/*

img {
  -moz-box-shadow: 0 2px 5px #888;
  -webkit-box-shadow: 0 2px 5px #888;
  -box-shadow: 0 2px 5px #888;
}*/
