h2.title,
h2.title a {
  color: #bf1711;
  font-weight: 200 !important;
  text-decoration: none;
  text-align: center;
  font-size: 42px;
  padding: 0;
}

h2, h3, h4 {
  margin: 7px 0;
}

h2.title a:hover {
  color: #d71b14;
}

h2 {
  color: #bf1711;
  font-size: 20px;
}

h2 a {
  color: #333;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h3 {
  color: #222;
  font-size: 16px;
  line-height: 120%;
  margin: 18px 0 4px 0;
}

h4 {
  color: #000;
  font-size: 14px;
}

p {
  color: #333;
  font-size: 14px;
  line-height: 160%;
  margin: 0 0 12px 0;
}

ul,
ol {
  margin: 0 25px 25px 25px;
}

li {
  font-size: 14px;
  list-style: outside;
  margin: 0 0 7px 0;
}

blockquote {
  border-left: 3px solid #ddd;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 150%;
  margin: 10px 0 20px;
  padding-left: 10px;
}

.page-top img {
  max-width: 600px;
}