/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 658 of stylesheets/sass/_theme.scss
        from line 3 of stylesheets/sass/screen.scss

653:           margin-right: 0;
654:         }
655:       }
656:     }
657:   }
658: }

Backtrace:
stylesheets/sass/_theme.scss:658
stylesheets/sass/screen.scss:3
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:898:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:841:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:836:in `tok!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:362:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:379:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:57:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/scss/parser.rb:26:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/engine.rb:319:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/engine.rb:250:in `to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/engine.rb:291:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/engine.rb:238:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:252:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:15:in `add_handler'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `add_handler'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin/compiler.rb:245:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.1/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 658 of stylesheets/sass/_theme.scss\A         from line 3 of stylesheets/sass/screen.scss\A \A 653:           margin-right: 0;\A 654:         }\A 655:       }\A 656:     }\A 657:   }\A 658: }"; }
