<section id="job-form">
  <h2>Applying</h2>
  <p>In your cover letter, describe why you want to work with us or our clients, what your past experience is, what your salary requirements are, who your work references are, a link to a portfolio, a bunch of sites you like, a list of hobbies, or anything else you think represents you well.</p>

  <p>For our apprentice program, visit <a href="http://apprentice.io">apprentice.io</a>.</p>

  <p><a href="/jobs">View our other current openings</a></p>

  <form accept-charset="UTF-8" action="http://hireling.thoughtbot.com/applicants" class="simple_form new_applicant" id="new_applicant" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <div class="position">
      <div class="input select required">
        <label class="select required" for="applicant_position">
          Which position are you applying for?
          <abbr title="required">*</abbr>
        </label>
        <select class="select required" id="applicant_position" name="applicant[position]" required="required">
          <option value=""></option>
          <option value="Developer">Developer</option>
          <option value="Designer">Designer</option>
        </select>
      </div>
    </div>
    <div class="input check_boxes optional">
      <label class="check_boxes optional">
        Which of our locations are you interested in?
      </label>
      <span class="checkbox">
        <input class="check_boxes optional" id="applicant_location_ids_1" name="applicant[location_ids][]" type="checkbox" value="1">
        <label class="collection_check_boxes" for="applicant_location_ids_1">
          Boston
        </label>
      </span>
      <span class="checkbox">
        <input class="check_boxes optional" id="applicant_location_ids_2" name="applicant[location_ids][]" type="checkbox" value="2">
        <label class="collection_check_boxes" for="applicant_location_ids_2">
          San Francisco
        </label>
      </span>
      <span class="checkbox">
        <input class="check_boxes optional" id="applicant_location_ids_3" name="applicant[location_ids][]" type="checkbox" value="3">
        <label class="collection_check_boxes" for="applicant_location_ids_3">
          Stockholm
        </label>
      </span>
      <span class="checkbox">
        <input class="check_boxes optional" id="applicant_location_ids_4" name="applicant[location_ids][]" type="checkbox" value="4">
        <label class="collection_check_boxes" for="applicant_location_ids_4">
          Boulder-Denver
        </label>
      </span>
      <input name="applicant[location_ids][]" type="hidden" value="">
    </div>

    <div class="input string required">
      <label class="string required" for="applicant_name">
        Name
        <abbr title="required">*</abbr>
      </label>
      <input class="string required" id="applicant_name" maxlength="255" name="applicant[name]" required="required" size="50" type="text">
    </div>

    <div class="input email required">
      <label class="email required" for="applicant_email">
        Email
        <abbr title="required">*</abbr>
      </label>
      <input class="string email required" id="applicant_email" maxlength="255" name="applicant[email]" required="required" size="50" type="email">
    </div>

    <div class="input text required">
      <label class="text required" for="applicant_cover_letter">
        Cover letter
        <abbr title="required">*</abbr>
      </label>
      <textarea class="text required" cols="40" id="applicant_cover_letter" name="applicant[cover_letter]" required="required" rows="20">
      </textarea>
    </div>

    <div class="input string optional">
      <label class="string optional" for="applicant_resume_link">
        Resume link
      </label>
      <input class="string optional" id="applicant_resume_link" maxlength="255" name="applicant[resume_link]" size="50" type="text">
    </div>
    <div class="new-controls">
      <input class="button l-full-width" name="commit" type="submit" value="Submit">
    </div>
  </form>
</section>
