<% content_for :site_title, 'apprentice.io' %>
<% content_for :title, "More Information About the Apprenticeship" %>
<% content_for :header, "You&rsquo;re one step closer to<br>changing your career trajectory.".html_safe %>
<% content_for :keyword, :apprentice %>


  <header id="page-header" class="primary">
    <h1>You&rsquo;re one step closer to<br>changing your career trajectory.</h1>
  </header>

<div id="jobs-wrapper" class="job-description">
  <h3 class="title"><span>More about apprentice.io</span></h3>
  <p>The paid apprenticeship lasts 3 months. During the 3 months you are paired with a mentor who is responsible for guiding your learning. You will work on the mentor's team, working on real products.</p>
  <p>Each month, you will move to another mentor and different team. This rotation enhances the learning process by exposing you to new projects and new people, but also by allowing you to reapply what you've learned in a new context.</p>
  <h3>This isn't an internship</h3>
  <p>A traditional internship may just be an excuse for the company to get a project done on the cheap. The goal of an internship is usually to deliver a project. In contrast, the goal of your apprenticeship is to learn. You will do actual work, but the end goal is learning. As such, your mentor will specifically guide you through a work process tuned to learning. You may spend three days learning something while working on something that may have only taken a day to actually do. This is OK, and expected.</p>
  <h3>Getting hired</h3>
  <p>We ask that apprentices stay focused exclusively on learning during the first two months of the apprenticeship. At the start of the 3rd month, thoughtbot will make a decision on whether we'd like to hire you.</p>
  <h3 id="international">International Apprentices</h3>
  <p>Unfortunately, due to U.S. visas that are available, and the restrictions they have, Apprentice.io is only accessible to people who are already authorized to work in US. If you are not already authorized to work in the U.S., we cannot accept you into the program.</p>
  <h3>Questions?</h3>
  <p>Email <%= mail_to "apply@apprentice.io", "apply@apprentice.io" %>.</p>
</div>
