.application-form {
  @include fill-parent();
  float: left;
  margin-bottom: 1.5em;

  form {
    float: left;
  }

  article {
    @include fill-parent();
    float: left;
    margin-bottom: 1.5em;

    &.cta-wrapper {
      margin-bottom: 0;
    }
  }

  .optional {
    span {
      color: $medium-gray;
      font-weight: 400;
    }
  }

  textarea {
    height: 100px;
  }
}

.dropdown {
  position: relative;
  width: 100%;

  &:after {
    @include position(absolute, 12px 12px null null);
    content: "\25bc";
    display: block;
    font-size: 10px;
  }

  select {
    @include appearance(none);
    border-color: $base-border-color;
    display: block;
    padding: 0.5em;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
