.alumni {
  .image-wrapper {
    @include size(96px);
    border-radius: 50%;
    float: left;
    overflow: hidden;
  }

  .text-wrapper {
    margin-bottom: 2em;
    margin-left: em(130);
  }
}

.apply-links {
  text-align: center;

  h2 {
    font-size: em(20);
    font-weight: normal;
    margin: 0 auto 2rem;
    max-width: rem(650);
    opacity: 0.5;
  }

}

.apprentice-types {
  margin: 0 -100px;

  .apprentice-type {
    padding: 1em;

    @include media(em(725)) {
      @include span-columns(6);
      margin-right: 0;

      &#ios {
        @include shift(3);
        margin-top: 2em;
      }
    }
  }
}
