body {
  border-top: 8px solid $base-accent-color;
}

.container {
  @include outer-container();
  padding: 0 1em;
}

.content-wrapper {
  @include fill-parent();
  float: left;

  @include media($medium-screen-up) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.row {
  @include fill-parent();
  float: left;

  @include media($medium-screen-up) {
    margin-bottom: 0;
  }
}
