.masthead {
  @include padding(6em null);
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: em(20);
    font-weight: normal;
    opacity: 0.5;
    margin-bottom: 3rem;
    text-align: center;
  }
}
