.beginner {
  @include padding(4em null);
  background-color: $thoughtbot-gray;
  color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 1em;
  }

  p {
    color: rgba(#fff, 0.7);
    margin-bottom: 2em;
    text-align: left;
  }
}

.intermediate {
  padding-top: 6em;

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }
}

.checklist {
  font-family: $header-font-family;
  font-size: em(20);
  font-weight: bold;
  padding: 2em 4em;

  li {
    padding-left: 2em;
    position: relative;

    &:before {
      @include position(absolute, 0.3em null null 0);
      @include size(1em);
      background-image: url("/images/checkmark.svg");
      background-position: center center;
      background-size: contain;
      content: "";
      display: block;
      opacity: 0.2;
    }
  }
}

.apply {
  padding-top: 3em;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    text-align: left;
  }

  a.button {
    margin-top: 3em;
  }
}
