<section class="alumni content-wrapper">
  <div class="divider">
    <h3 class="text">Featured Alumni</h3>
  </div>

  <article>
    <div class="image-wrapper">
      <%= image_tag "alumni/jessie.jpg", alt: "Jessie Young" %>
    </div>

    <div class="text-wrapper">
      <h4 class="title">Jessie Young, Developer</h4>
      <p>
        Before her apprenticeship Jessie graduated from
        <a href="http://devbootcamp.com/">Dev Bootcamp</a> and
        <a href="http://railsbridge.org/">RailsBridge</a>. Before moving into web development, Jessie
        was doing marketing for start-ups. She double majored in Philosophy
        and Government at Colby College.
      </p>
      <p>
        Upon completing her apprenticeship, Jessie was promoted to a full
        developer at thoughtbot. After nearly three successful years on our
        team, she now works with the U.S. General Services Administration's
        <a href="https://18f.gsa.gov">18F</a>.
      </p>
    </div>
  </article>
</section>
