<section class="alumni">
  <span class="divider">
    <h3 class="text">Featured Alumni</h3>
  </span>
  <section class="col-2">
    <article class="column">
      <div class="row">
        <div class="image-wrapper">
          <%= image_tag "alumni/lydia.jpg" %>
        </div>
        <div class="description-wrapper">
          <div class="text-wrapper">
            <h4 class="title">Lydia Damon, Designer</h4>
            <p>
              Before her thoughtbot apprenticeship, Lydia was a Senior Visual
              Designer at the global digital marketing agency, Isobar. She also
              studied Art History at Trinity College. She then realized that
              coding is fun and she wanted to implement her own designs.
            </p>
            <p>
              Upon completing her apprenticeship, Lydia joined thoughtbot in Boston
              as a full product designer, where she remains today.
            </p>
          </div>
          <div class="cta-wrapper">
            <a href="/designer">Apply for a design apprenticeship</a>
          </div>
        </div>
      </div>
    </article>
    <article class="column">
      <div class="row">
        <div class="image-wrapper">
          <%= image_tag "alumni/jessie.jpg" %>
        </div>
        <div class="description-wrapper">
          <div class="text-wrapper">
            <h4 class="title">Jessie Young, Developer</h4>
            <p>
              Before her apprenticeship Jessie graduated from <a
                href="http://devbootcamp.com/">Dev Bootcamp</a> and <a
              href="">RailsBridge</a>. Before moving into web development, Jessie
            was doing marketing for start-ups. She double majored in Philosophy
            and Government at Colby College.
            </p>
            <p>
              Upon completing her apprenticeship, Jessie joined thoughtbot in San
              Francisco as a full developer, where she remains today.
            </p>
          </div>
          <div class="cta-wrapper">
            <a href="/developer">Apply for a development apprenticeship</a>
          </div>
        </div>
      </div>
    </article>
  </section>
</section>

