<a href="#disabled_explanation" class="button disabled">
  Ready to complete your application?
  <span>Click to login with GitHub and apply</span>
</a>
<p id="disabled_explanation">
  We're sorry, but we are not currently accepting new applications.
</p>
