<!-- <p>
  We attempt to respond to everyone who applies, even those who we will not
  take further in the interview process. However, due to the quantity of
  applications, it may take us several months to be able to respond to your
  application. If we determine you are not a good fit for apprenticeship,
  we may contact you about other opportunities we have available.
</p> -->
<p>
  The application process for apprentices is the same process we use for
  full developers and designers at thoughtbot. You can read about it in our
  <a href="http://playbook.thoughtbot.com/">Playbook</a>.
</p>
<p>
  <strong>Non US Citizen?</strong>
  <a href="/#international">Read more here</a>.
</p>
