<a href="#disabled_explanation" class="button disabled">
  Ready to complete your application?
  <span>Click to login with GitHub and apply</span>
</a>
<p id="disabled_explanation">
  We're sorry, but we are not currently accepting new applications. We do not have a timeline for when new apprenticeships will open up. In the meantime, please check out our <a href="https://upcase.com/?utm_source=apprenticeio">Upcase</a> community and <a href="http://coaching.thoughtbot.com">Coaching</a> service.
</p>
