<div class="apply-links content-wrapper">
  <div class="divider">
    <h3 class="text">Apply for the Program</h3>
  </div>
  <h2>
    Candidates have a proven passion for, and experience in, design and
    development, have demonstrated the ability to learn quickly,
    and have excellent communication and interpersonal skills.
  </h2>

  <ul class="apprentice-types">
    <li class="apprentice-type">
      <h4>Design Apprenticeship</h4>
      <p>
        A qualified design apprentice will have experience with graphical design
        for the web or iOS as well as HTML and CSS. 
      </p>
      <a href="/designer" class="button">Apply for the design apprenticeship</a>
    </li>

    <li class="apprentice-type">
      <h4>Web Development Apprenticeship</h4>
      <p>
        The well-qualified developer candidate will be at an intermediate level
        with Ruby on Rails and&nbsp;JavaScript.
      </p>
      <a href="/developer" class="button">Apply for the web developer apprenticeship</a>
    </li>

    <li id="ios" class="apprentice-type">
      <h4>iOS Development Apprenticeship</h4>
      <p>
        The well-qualified developer candidate will be at an intermediate level
        with Objective-C or&nbsp;Swift.
      </p>
      <a href="/ios" class="button">Apply for the iOS developer apprenticeship</a>
    </li>
  </ul>
</div>
