<section class="faq content-wrapper">
  <div class="divider">
    <h3 class="text">Frequently Asked Questions</h3>
  </div>

  <dl class="faq-content">
    <dt>What happens during the apprenticeship?</dt>
    <dd>
      <p>The paid apprenticeship lasts 3 months. During the 3 months, you work
      alongside designers and developers at thoughtbot on real projects, and are
      assigned a Mentor who is your primary instructor.  You also work on
      special projects designed to give you additional time and training in the
      areas you most need.</p>
      <p>Each month, you move to another mentor and different team. This
      rotation enhances the learning process by exposing you to new projects and
      new people, but also by allowing you to reapply what you've learned in a
      new context.</p>
      <p>In the final month, if things have gone well, you are promoted to a
      full designer or developer at thoughtbot. Or we'll connect you with other
      great potential employers.</p>
    </dd>

    <dt>
      What's the relationship between thoughtbot and the apprentices? Are they
      paid employees?
    </dt>
    <dd>
      Apprentices are paid, W2, employees of thoughtbot. The current pay is
      $500/week and includes health insurance and other benefits.
    </dd>

    <dt>
      Are there specific time periods apprentices are accepted? When is the
      application deadline? When does the next class start?
    </dt>
    <dd>
      We take applications continually and accept people on a rolling basis, in
      short, there are no deadlines and there are not batches of apprentices.
    </dd>

    <dt>What is the time commitment?</dt>
    <dd>
      Apprentices work 40 hours per week, at the thoughtbot office.  Part-time
      apprenticeships are not available. If you will be relocating for your
      apprenticeship, we can provide non-financial assistance with travel and
      lodging arrangements. We can provide financial relocation assistance once
      your apprenticeship is completed and you join thoughtbot as a full
      designer or developer.
    </dd>

    <dt>
      What technologies will the apprentices work with?
    </dt>
    <dd>
      Apprentices will learn and work with Ruby on Rails and JavaScript, HTML5, SCSS, git, Unix, and agile software development.
    </dd>

    <dt>Is this an internship?</dt>
    <dd>
      <p>No, the goal of your apprenticeship is to learn and get to the level
      where you will be promoted to full thoughtbot developer or designer.</p>
      <p>Our apprenticeship is not a junior role. The majority of people who
      join thoughtbot as an apprentice leave a job working as a developer or
      designer to join us. Because it is such a high bar, even people who have
      been working in the industry for many years may not make it through the
      interview process.</p>
      <p>Read more about the
      <a href="http://robots.thoughtbot.com/internship-or-apprenticeship">
        differences between Apprenticeship and Internship
      </a></p>
    </dd>

    <dt id="international">I am located outside of the United States, can I do
    the apprenticeship?</dt>
    <dd>
      <p>
        Unfortunately, due to U.S. visas that are available, and the
        restrictions they have, Apprenticeship in our US locations is only
        available to people who are already authorized to work in US (excluding
        H-1B and J-1 visas). If you are not already authorized to work in the
        US, we cannot accept you into the program in one of those locations.
      </p>
      <p>
        Apprenticeship in Stockholm or London is only available to people who
        are already authorized to work in the EU. If you are not already
        authorized to work in the EU, we cannot accept you into the program in
        one of these locations.
      </p>
    </dd>
  </dl>

  <p>
    Questions? Email us at
    <a href="mailto:apply@apprentice.io">apply@apprentice.io</a>
  </p>
</section>
