<section class="faq content-wrapper">
  <div class="divider">
    <h3 class="text">Frequently Asked Questions</h3>
  </div>

  <dl class="faq-content">
    <dt>What happens during the apprenticeship?</dt>
    <dd>
      Apprentices will work alongside designers and developers at thoughtbot on
      real projects, and will be assigned a Mentor who is their primary instructor.
      Apprentices can take any of the <a
        href="http://learn.thoughtbot.com">thoughtbot workshops</a> at no charge.
      They will also work on special projects designed to give them additional time
      and training in the areas they most need.
    </dd>

    <dt>
      What's the relationship between thoughtbot and the apprentices? Are they
      paid employees?
    </dt>
    <dd>
      The apprentices will be paid, W2, employees of thoughtbot during their
      apprenticeship. The current pay is $500/week.
    </dd>

    <dt>How long does the apprenticeship last?</dt>
    <dd>
      The apprenticeship lasts for three months. In the final month, you may
      receive an offer for a position as a full designer or developer at
      thoughtbot, or we'll connect you with other great potential employers.
    </dd>

    <dt>
      Are there specific time periods apprentices are accepted? When is the
      application deadline? When does the next class start?
    </dt>
    <dd>
      We take applications continually and accept people on a rolling basis, in
      short, there are no deadlines and there are not batches of apprentices.
    </dd>

    <dt>What is the time commitment?</dt>
    <dd>
      Apprentices will work 40 hours per week, at the thoughtbot office.
      Part-time apprenticeships are not available. If you will be relocating for
      your apprenticeship, we can provide non-financial assistance with travel and
      lodging arrangements. We can provide financial relocation assistance once
      your apprenticeship is completed and you join thoughtbot as a full designer
      or developer.
    </dd>

    <dt>
      What technologies will the apprentices work with?
    </dt>
    <dd>
      Apprentices will learn and work with Ruby on Rails, jQuery, Backbone.js,
      HTML5, SCSS, git, Unix, and agile software development.
    </dd>
  </dl>
</section>
