<section id="universal-footer">
  <div class="wrap">
    <div class="footer-nav">
      <ul>
        <li class="title">
          Client Work
        </li>
        <li>
          <a href="http://thoughtbot.com/work">Case Studies </a>
        </li>
      </ul>
      <ul>
        <li class="title">
          Products
        </li>
        <li>
          <a title="Upcase, an online learning service for developers" href="https://upcase.com/?__hstc=28062627.32c91b323193868a7682216e57dc3308.1422756698787.1423838909205.1423854313362.32&amp;__hssc=28062627.1.1423854313362&amp;__hsfp=3614140285">Upcase
        </a></li>
        <li>
          <a title="Hound CI, an automated style checker for code" href="https://houndci.com/?__hstc=28062627.32c91b323193868a7682216e57dc3308.1422756698787.1423838909205.1423854313362.32&amp;__hssc=28062627.1.1423854313362&amp;__hsfp=3614140285">Hound
        </a></li>
        <li>
          <a title="FormKeep, form backends for static websites" href="https://formkeep.com/">FormKeep
        </a></li>
        <li>
          <a title="Books written and published by thoughtbot" href="https://thoughtbot.com/books">Books
        </a></li>
      </ul>
      <ul>
        <li class="title">
          Open Source
        </li>
        <li>
          <a title="Bourbon, a simple and lightweight mixin library for Sass" href="http://bourbon.io">Bourbon
        </a></li>
        <li>
          <a title="Factory Girl, a library for setting up Ruby objects as test data." href="https://github.com/thoughtbot/factory_girl">Factory Girl
        </a></li>
        <li>
          <a title="Laptop, a script to get up and running FAST!" href="https://github.com/thoughtbot/laptop">Laptop
        </a></li>
        <li>
          <a href="http://thoughtbot.com/open-source">More...
        </a></li>
      </ul>
      <ul>
        <li class="title">
          Community
        </li>
        <li>
          <a title="The thoughtbot playbook, what it's like to work here" href="http://playbook.thoughtbot.com">Playbook
        </a></li>
        <li>
          <a title="The Giant Robots Smashing Into Other Giant Robots Blog" href="http://robots.thoughtbot.com">Blog
        </a></li>
        <li>
          <a title="Podcasts recorded by thoughtbot designers and developers" href="http://podcasts.thoughtbot.com">Podcasts
        </a></li>
      </ul>
      <ul>
        <li class="title">
          People
        </li>
        <li>
          <a href="http://thoughtbot.com/people">Team
        </a></li>
        <li>
          <a title="An apprenticeship program for designers and developers" href="http://apprentice.io">apprentice.io
        </a></li>
      </ul>
      <ul>
        <li class="title">
          Contact
        </li>
        <li>
          <a href="http://thoughtbot.com/locations">Locations
        </a></li>
        <li>
          <a title="Hire thoughtbot for your project" href="https://thoughtbot.com/hire-us">Hire Us
        </a></li>
        <li>
          <a href="mailto:hello@thoughtbot.com">hello@thoughtbot.com</a>
        </li>
        <li>
          US:
          <a href="tel:+1 (877) 9-ROBOTS">
            +1 (877) 9-ROBOTS
          </a>
        </li>
        <li>
          SE:
          <a href="tel:+46 81 241 02 05">
            +46 81 241 02 05
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<footer class="site-footer">
  <p>
    apprentice.io © 2014 <a href="http://thoughtbot.com">thoughtbot, inc.</a>
  </p>
</footer>
