<footer class="site-footer content-wrapper" role="contentinfo">
  <p>
    apprentice.io © <%= Date.current.year %>
    <a href="https://thoughtbot.com">thoughtbot, inc.</a>
  </p>
  <p>
    <a href="https://github.com/thoughtbot/apprenticeio">Edit this page</a>
  </p>
</footer>
