<header class="site-header">
  <h1 class="brand-logo">
    <a href="/">apprentice.io</a>
  </h1>
  <h2 class="from">A professional development program from <a href="http://thoughtbot.com">thoughtbot</a></h2>
</header>
