<section class="masthead">
  <h2 class="section-title">Advance to the next level</h2>
  <p class="section-subtitle">
    apprentice.io provides designers and developers with a top-notch
    apprenticeship and a position at one of the leading product firms in the
    world.
  </p>
</section>
