<section class="masthead">
  <div class="content-wrapper">
    <h2 class="section-title">Advance to the next level</h2>
    <h4>
      apprentice.io is ideal for intermediate developers and
      designers looking to build upon their already strong foundation.
    </h4>
  </div>
</section>
