<section class="more content-wrapper">
  <div class="divider">
    <h3 class="text">More about apprentice.io</h3>
  </div>

  <p>
    The paid apprenticeship lasts 3 months. During the 3 months you are
    paired with a mentor who is responsible for guiding your learning. You
    will work on the mentor's team, working on real products.
  </p>
  <p>
    Each month, you will move to another mentor and different team. This
    rotation enhances the learning process by exposing you to new projects
    and new people, but also by allowing you to reapply what you've learned
    in a new context.
  </p>
  <dl>
    <dt>This isn't an internship</dt>
    <dd>
      A traditional internship may just be an excuse for the company to get a
      project done on the cheap. The goal of an internship is usually to
      deliver a project. In contrast, the goal of your apprenticeship is to
      learn. You will do actual work, but the end goal is learning. As such,
      your mentor will specifically guide you through a work process tuned to
      learning. You may spend three days learning something while working on
      something that may have only taken a day to actually do. This is OK,
      and expected.
    </dd>
    <dt>Getting hired</dt>
    <dd>
      We ask that apprentices stay focused exclusively on learning during the
      first two months of the apprenticeship. At the start of the 3rd month,
      thoughtbot will make a decision on whether we'd like to hire you.
    </dd>
    <dt id="international">Apprentices outside of the United States</dt>
    <dd>
      <p>
        Unfortunately, due to US visas that are available, and the
        restrictions they have, Apprentice.io in our US locations is only
        accessible to people who are already authorized to work in US. If you
        are not already authorized to work in the US, we cannot accept you
        into the program in one of those locations.
      </p>
      <p>
        apprentice.io in Stockholm is only available to people who are
        already authorized to work in the EU. If you are not already
        authorized to work in the EU, we cannot accept you into the program
        in Stockholm.
      </p>
    </dd>
  </dl>

  <p>Questions? Email us at <a href="mailto:apply@apprentice.io">apply@apprentice.io</a></p>
</section>
