<div class="more-about-us-wrapper">
  <section id="more-about-us">
    <h2>We are strong-willed and have a way of doing things</h2>

    <ul>
      <li>
        <h4>We work at a sustainable pace.</h4>
        <p>We limit client work to four days/week and provide unlimited time off. Creating well-designed, well-written software requires a well-rested mind and body. We do not want to burn out or inflict repetitive stress injuries. Fewer hours means we won't hit arbitrary or unrealistic deadlines. [<a href="http://playbook.thoughtbot.com/finding-a-rhythm/sustainable-pace/">Read more</a>]</p>
      </li>
      <li>
        <h4>We have no project managers or salesmen.</h4>
        <p>For the kinds of projects and clients we work with, sales people and project managers get in the way. The people who sell our work also write significant amounts of code, usually more than 30 hours/week. They don't sell projects they wouldn't want to work on themselves.</p>
      </li>
      <li>
        <h4>We are self-healing, like the T-1000.</h4>
        <p>Our fundamental expectation is delivering excellent work on client projects. Exceeding expectations requires improving thoughtbot and your teammates by contributing to open source projects, mentoring apprentices, sharing lessons learned on <a href="http://robots.thoughtbot.com">the blog</a>, and making things we haven't dreamed up yet.</p>
      </li>
      <li>
        <h4>We like being small and self-managing.</h4>
        <p>The company is split up into small teams. Our ideal team is one designer, two developers, and an advisor. Each team focuses on only one client project at time. The remainder of everyone's time is managed by each individual. [<a href="http://playbook.thoughtbot.com/building-a-team/roles/">Read more</a>]</p>
      </li>
      <li>
        <h4>We grow revenue faster than headcount.</h4>
        <p>We are actively diversifying our revenue. Consulting is our bread and butter. We love our clients. Their needs have grown to <a href="http://apprentice.io">team building</a> and <a href="http://workshops.thoughtbot.com">education</a> services, which we offer to anyone around the world.</p>
      </li>
      <li>
        <h4>We rotate teams to stay fresh.</h4>
        <p>In order to spread knowledge of best practices, we rotate people among projects about every two months. We have to leave our projects in excellent shape at all times so new team members can get up to speed quickly.</p>
      </li>
    </ul>
  </section>
</div>
