<div class="podcast-intro">
  <a href="/podcast"><img class="cover" src="/images/podcast/podcastlogo-small.png" width="145" height="145"></a>

  <p>The Giant Robots Smashing into Other Giant Robots podcast is a weekly technical podcast discussing development, design, and the business of software development.</p>
  <p>Hosted by Ben Orenstein, who is joined each week by developers and designers from thoughtbot and beyond.</p>

  <ul>
    <li><a class="itunes" href="http://itunes.apple.com/us/podcast/giant-robots-smashing-into/id535121941"><img src="/images/podcast/itunes.png" width="12" height="12">Subscribe in iTunes</a></li>
    <li><a class="rss" href="http://feeds.feedburner.com/thoughtbot/wdpM"><img src="/images/podcast/rss.png" width="12" height="12">Subscribe via RSS</a></li>
  </ul>
</div>
