<% content_for :title, 'Jobs' %>
<% content_for :keyword, :jobs %>
<% content_for :meta_keywords, jobs_meta_keywords %>
<% content_for :meta_description, jobs_meta_description %>

<header id="page-header" class="primary">
  <h1>Jobs at thoughtbot</h1>
</header>

<div id="jobs-wrapper">
  <%= render 'job_form' %>
</div>
