.explanation {
  border-bottom: $base-border;
  font-family: $header-font-family;
  font-weight: bold;
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
}

.email-form {
  border: $base-border;
  padding: $base-spacing;
  text-align: left;

  label {
    margin-top: $base-spacing * 2;
    text-align: left
  }
}
