.site-footer {
  background-color: $thoughtbot-gray;
  margin-top: $base-spacing * 2;
  padding: 3em 0;
  text-align: center;

  p {
    color: #fff;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: $thoughtbot-red;
  }
}
