<section class="apply content-wrapper">
  <div class="divider">
    <h3 class="text">Apply to be an iOS developer apprentice</h3>
  </div>
  <%= partial "partials/application-description" %>
  <%= partial "partials/apply-button", locals: { role: :apprentice_mobile_dev } %>
</section>
