body {
  font-size: 1em;
}

section#container {
  margin-bottom: -20px;
  width: grid-width(9);

  header {
    margin: 0 0 $lh*2 0;

    h2.logo {
      float: left;
      text-align: left;
      width: grid-width(2);

      a {
        margin: 15px 0 0 30px;
        display: block;
      }
    }

    hgroup {
      float: left;
      text-align: left;
      padding: 40px 0 0 $gw-gutter;
    }

  }

  section#posts {
    .post {
      margin: 0 0 $lh*3 0;
      padding: 0 0 $lh*1 grid-width(2) +  $gw-gutter;
      position: relative;

      &:only-of-type {
        border-bottom: 0;
      }

      .meta-info {
        left: 10px;
        text-align: left;
        position: absolute;
        top: 18px;
        width: grid-width(2);
        opacity: .5;
        @include transition;

        &:hover {
          opacity: 1;
        }

        p.post-date {
          border-bottom: none;
          margin: 0 0 lh(1.5) 0;
          padding: 0;
          width: 100%;

          &:before, &:after {
            content: normal;
          }

          a {
            color: #333;
          }
        }

        p.tagged {
          display: block;
        }

        ul.tags {
          display: block;

          li {
            margin: 0 0 lh(.25) 0;
            position: relative;

            &:after {
              content: "\2014";
              font-size: 13px;
              left: -14px;
              position: absolute;
              top: 0;
            }
          }
        }

        p.comments {
          display: block;
        }
      }

      img {
        display: inline-block;
      }

      table {
        width: grid-width(7);
      }

      section.post-footer {
        p.comments {
          display: none;
        }

        div.tags {
          display: none;
        }
      }

      // Text posts
      h1.title {
        text-align: left;
      }
    }
  }
}

// Pagination
#pagination {
  padding: 0 0 $lh (grid-width(2) + $gw-gutter);
}

#pagination #older-link {
  width: grid-width(2);
  background-position: 0 13px;
}

#pagination #newer-link {
  width: grid-width(2);
  background-position: right -15px;
}

// footer
footer {
  section#footer-container {
    width: grid-width(8.8);

    section#promo {
      width: 270px;
    }
  }
}
