body {
  font-size: em(18, 16);
  line-height: lh(1.2);
}

section#container {
  padding: 20px 0 0;
  width: grid-width(12);

  header {
    h2.logo {
      a {
        height: 85px;
        width: 85px;
      }
    }

    hgroup {
      width: grid-width(7);
    }

    nav {
      margin: 0 0 0 $gw-gutter;
      padding: 35px 0 0 0;
      width: grid-width(3);

      ul {
        margin-top: 0;

        li {
          width: 42px;
        }
      }
    }
  }

  section#posts {
    .post {
      img {
        max-width: grid-width(7);
        margin-bottom: 10px;
      }

      // Photo and video posts
      &.photo,
      &.video {
        .post-footer {
          p.comments {
            padding-bottom: 0px;
            position: relative;
            top: -30px;
          }
        }
      }
    }
  }
}

// Pagination
#pagination {
  padding-bottom: 30px;
}

// footer
footer {
  padding: 40px 20px 60px;

  section#footer-container {
    width: grid-width(12);
  }
}
