body {
  background: #fff;
  border-top: 4px solid #ad141e;
  color: #333;
}

section#container {
  @include clearfix();
  @include fill-parent();
  margin: 0 auto;
  padding: 25px 10px 15px;

  header {
    border-bottom: 1px solid #ddd;
    @include clearfix();
    margin: 0 0 $lh 0;
    padding: 0 0 $lh*2 0;

    h2.logo {
      text-align: center;
    }

    hgroup {
      text-align: center;

      h2 {
        font: 700 1em/1.4em $sans-serif;
        margin: 20px 0 6px 0;
        text-transform: uppercase;

        a {
          color: #333;
          font-weight: 700;
          text-decoration: none;

          &:hover {
            color: $red;
          }
        }
      }

      h3 {
        color: #777;
        font: 400 0.8em/1em $serif;
        font-style: italic;

        a {
          color: #777;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    nav {
      @include clearfix();
      padding: 15px 0 0 0;
      display: none;
    }
  }

  aside {
    clear: both;
    display: block;
    margin: 10px auto 20px;
    width: 85%;

    section.message {
      a {
        background: #f7f7f7;
        border: 1px solid #dedede;
        @include border-radius(3px);
        color: #333;
        display: block;
        padding: 15px;
        text-decoration: none;
        @include transition(0.5s);

        img {
          float: left;
          margin: 0 15px 0 0;
        }

        span.promo-name {
          color: #777;
          display: block;
          font: 400 14px/14px $serif;
          font-style: italic;
          margin: 0 0 4px 0;
          text-decoration: none;
        }

        span.promo-creative {
          color: #444;
          display: block;
          font: 700 16px/16px $sans-serif;
          text-decoration: none;
        }

        &:hover {
          @include border-radius(0);
          @include box-shadow(0 0 0 8px rgba(0, 0, 0, 0.05));
        }
      }
    }

    ul.social {
      @include clearfix();
      text-align: center;
      margin: 10px 0 20px;

      li {
        margin-right: 15px;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }

        a {
          height: 42px;
          display: block;
          @include hide-text;
          width: 42px;
          @include transition(0.5s);
        }
      }
    }
  }

  section#posts {
    .post {
      border-bottom: 3px solid #dddddd;
      @include fill-parent();
      margin: 0 0 $lh*2 0;
      padding: 0 20px $lh*1 20px;

      .meta-info {
        text-align: center;

        p.post-date {
          border-bottom: 1px dashed #eee;
          font: 400 16px/16px $serif;
          margin: 0 auto $lh auto;
          padding-bottom: 15px;
          width: 50%;

          a {
            color: #aaa;
            font-weight: 400;
          }
        }

        p.tagged {
          display: none;
        }

        ul.tags {
          display: none;
        }

        p.comments {
          display: none;
        }
      }

      h2 {
        color: #111;
        font: 700 14px/21px $sans-serif;
        margin: 20px 0 0px 0;
        text-transform: uppercase;
      }

      h3, h4 {
        color: #333;
        font: 400 16px/26px $serif;
        font-style: italic;
        margin: 20px 0 0px 0;
      }

      p {
        font: 400 15px/24px $sans-serif;
        margin: 0 0 12px 0;
      }

      blockquote {
        color: #555;
        font: 400 15px/24px $sans-serif;
        font-style: italic;
        margin: 0 0 12px 0;
        padding: 0 30px 0 30px;

        p {
          color: #555;
          font-style: italic;
        }
      }

      ul {
        margin: 0 0 ($lh - 4) 0;

        li {
          font: 400 15px/24px $sans-serif;
          margin: 0 0 4px 0;
          position: relative;

          &:after {
            content: "\2022";
            font-size: 18px;
            font-weight: 700;
            left: -12px;
            position: absolute;
            top: -2px;
          }
        }
      }

      ol {
        margin: 0 0 ($lh - 4) 0;

        li {
          font: 400 15px/24px $sans-serif;
          list-style: outside;
          list-style-type: decimal;
          margin: 0 0 4px 0;
          position: relative;
        }
      }

      img {
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }

      a {
        color: $red;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          text-decoration: underline
        }
      }

      em {
        font-style: italic;
      }

      strong {
        font-weight: 700;
      }

      table {
        font: 400 14px/22px $sans-serif;
        margin-bottom: 12px;
        width: 100%;

        tr {
          border-bottom: 1px solid #ddd;
        }

        td,
        th {
          padding: 4px;
          width: 50%;
        }

        th {
          font-weight: 700;
          text-align: left;
        }
      }

      dl {
        font: 400 15px/24px $sans-serif;
        margin: 10px 0 20px;

        dt {
        }

        dd {
          margin: 0 0 8px 20px;
        }
      }

      section.post-footer {
        margin: 20px 0 0 0;
        padding: 20px 0;

        p.author {
          float: left;
          font: 400 14px/14px $serif;
          font-style: italic;
          left: -12px;
          position: relative;

          &:before {
            content: "\2014";
          }
        }

        p.comments {
          float: right;
          font: 400 14px/14px $sans-serif;
        }

        .plus-one {
          float: right;
          font: 400 14px/14px $serif;
        }

        div.tags {
          clear: both;
          display: block;
          font-size: 10px;
          opacity: 0.7;
          padding-top: 5px;

          ul {
            display: inline-block;

            li {
              display: inline-block;
              font: 400 13px/14px $serif;
              font-style: italic;
              line-height: 1.5em;
              list-style: none;
              margin: 0 10px 0 2px;
              position: relative;

              &:before {
                content: ",";
                display: inline-block;
                font-size: 12px;
                position: absolute;
                right: -5px;
                top: 0;
              }

              &:after {
                content: '';
              }

              &:last-child {
                &:before {
                  content: '';
                }
              }

              &:first-child {
                padding-left: 50px;

                &:after {
                  content: 'Tagged:';
                  font-size: 13px;
                  font-weight: 400;
                  left: 0;
                  top: 0;
                }
              }

              a {
                color: #777;
                font-weight: normal;
                text-decoration: none;
              }
            }
          }
        }
      }

      // Text posts
      h1.title {
        font: 300 32px/36px $sans-serif;
        margin: 0 0 30px 0;
        text-align: center;
        text-transform: none;
        word-wrap: break-word;

        a {
          color: #111;
          font-weight: 300;
          text-decoration: none;
        }
      }

      // Photo and video posts
      &.photo,
      &.video {
        .meta-info {
          top: 0px;
        }

        .caption {
          margin-top: 8px;
        }
      }

      // Video container
      .video-container {
        height: 0;
        margin-bottom: 15px;
        overflow: hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
        position: relative;

        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      // Link posts
      &.link {
        .meta-info {
          top: 10px;
        }

        h1.title {
          font-size: 24px;
          line-height: 30px;

          a {
            font-weight: 400;
          }
        }
      }

      // Quote posts
      &.quote {
        .meta-info {
          top: 8px;
        }

        q {
          font: 400 18px/26px $sans-serif;
          position: relative;

          &:before {
            color: #333;
            content: '\201C';
            font-size: 36px;
            left: -20px;
            position: absolute;
            top: 4px;
          }

          & q:before {
            content: '\2018';
          }

          & q:after {
            content: '\2019';
          }
        }

        p.source {
          left: -16px;
          margin: 10px 0 0 0;
          position: relative;
        }

        &.medium,
        &.long {
          q {
            font: 400 15px/24px $sans-serif;
          }
        }

        .post-footer {
          p.comments {
            padding-bottom: 0px;
            position: relative;
            top: -18px;
          }
        }
      }
    }
  }
}

.old img {
  float: none !important;
}

// Pagination
#pagination {
  padding: 0 15px;
  margin-top: -40px;
  margin-bottom: 20px;
  @include fill-parent();
  display: inline-block;
}

#pagination a {
  color: #444;
  font: 700 13px/13px $sans-serif;
  padding: 6px 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#pagination a:hover {
  color: #000;
}

#pagination #older-link {
  float: left;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
}

#pagination #older-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") 0 10px no-repeat;
  margin: 0 0 0 -3px;
}

#pagination #newer-link {
  float: right;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  text-align: right;
}

#pagination #newer-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") right -18px no-repeat;
  margin: 0 -3px 0 0;
}

// footer
footer {
  background: #efefef;
  border-top: 1px solid #e0e0e0;
  padding: 25px;

  section#footer-container {
    @include clearfix();
    margin: 0 auto;

    h6 {
      color: #4a4a4a;
      font: 300 17px/18px $sans-serif;
      margin: 0 0 $lh 0;
    }

    nav {
      display: inline-block;
      float: left;
      margin: 0;
      width: 66%;

      ul {
        display: inline-block;
        width: 55%;

        &#secondary-links {
          width: 35%;
        }

        li {
          color: #7a7a7a;
          font: 400 13px/18px $serif;
          margin: 0 0 6px 0;

          a {
            color: #7a7a7a;
            text-decoration: none;

            &:hover {
              color: #3a3a3a;
            }
          }
        }
      }
    }

    section#products {
      display: inline-block;
      float: right;
      width: 32%;

      section.product {
        h6 {
          font-size: 17px;

          a {
            color: #333;
            text-decoration: none;
          }
        }

        a.logo {
          background: #e9e9e9;
          border: 1px solid #dedede;
          @include border-radius(3px);
          @include box-sizing(border-box);
          display: block;
          min-height: 60px;
          padding: 30px 15px;
          text-align: center;
          @include transition(box-shadow 0.4s);

          &:hover {
            @include border-radius(0);
            @include box-shadow(0 0 0 6px rgba(0, 0, 0, 0.04));
          }
        }
      }
    }
  }
}

a {
  &#twitter {
    background: url("http://thoughtbot.com/assets/giantrobots/images/twitter.svg") -8px -1px no-repeat;

    &:hover {
      background-position: -8px -48px;
    }
  }

  &#contact {
    background: url("http://thoughtbot.com/assets/giantrobots/images/contact.svg") 0 -1px no-repeat;

    &:hover {
      background-position: 0 -47px;
    }
  }

  &#rss {
    background: url("http://thoughtbot.com/assets/giantrobots/images/rss.svg") 0px 0px no-repeat;

    &:hover {
      background-position: 0px -47px;
    }
  }
}
