$sans-serif: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
$serif: "skolar-1","skolar-2", Georgia, serif;
$monospace: monaco, monospace;

$red: #AD141E; /*thoughtbot red*/

$lh: 20px; /*line-height of all the type on the site*/
$gw-column: 60px; /*one grid column*/
$gw-gutter: 25px; /*size of one gutter*/


