<% content_for :site_title, 'apprentice.io' %>
<% content_for :title, 'Apply to apprentice.io' %>
<% content_for :keyword, :apprentice %>
<% content_for :meta_keywords, jobs_meta_keywords %>
<% content_for :meta_description, jobs_meta_description %>

<header id="page-header" class="primary">
  <h1>Apply to be an apprentice</h1>
</header>

<div id="jobs-wrapper">
  <section id="job-form">
    <p>We attempt to respond to everyone who applies, even those who we will not take further in the interview process. However, due to the quantity of applications, it may take us several weeks to be able to respond to your application. If we determine you are not a good fit for apprenticeship, we may contact you about other opportunities we have available.</p>
    <p><strong>Non US Citizen?</strong> <%= link_to "Read more here", page_path('more', anchor: 'international') %>.</p>
  </section>

  <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

  <script type="text/javascript">
  var r7p0z7 = new WufooForm();
  r7p0z7.initialize({
    'userName':'thoughtbot',
    'formHash':'r7p0z7',
    'autoResize':true,
    'ssl':false,
    'defaultValues': 'Field47=<%= params[:role] %>'
  });
  r7p0z7.display();
  </script>
</div>
