<% content_for :title, 'Ask Us' %>
<% content_for :meta_description, 'Ask us questions about Ruby, Ruby on Rails, Javascript, Design, and the business of application development' %>

<div class="primary">
  <header id="page-header" class="primary">
    <h1>Ask Giant Robots</h1>
  </header>

  <section>
    <p>We often answer questions via <a href="http://robots.thoughtbot.com">blog posts</a> and our <a href="http://learn.thoughtbot.com/podcast">podcast</a>. To ask us questions:</p>

    <ul>
      <li>Call us toll-free at 1-877-9-ROBOTS x198 and leave a voicemail. That’s (877) 976-2687 x198.</li>
      <li>Email your questions to <a href="mailto:info@thoughtbot.com">info@thoughtbot.com</a>.</li>
      <li>Tweet to us <a href="http://twitter.com/thoughtbot">@thoughtbot</a>.
    </ul>
  </section>
</div>
