<% content_for :title, 'Contact Us' %>
<% content_for :meta_description, 'Hire us to make your web or mobile app.' %>

<header id="page-header" class="primary">
  <h1 id="headline">Contact us</h1>
</header>

<div id="contact-content">
  <section id="contact-info">
    <%= render 'application/addresses' %>

    <section id="contact-other">
      <h4>Want to hire us?</h4>
      <p>Use the form to the left.</p>

      <p>We are seeking projects where we:</p>
      <ul>
        <li>design web and mobile products</li>
        <li>write Ruby, Python, Javascript, Objective-C, or SQL</li>
        <li>make and launch a prototype</li>
        <li>augment your team</li>
      </ul>

      <p>We are not seeking:</p>
      <ul>
        <li>PHP, Java or .NET apps</li>
        <li>Wordpress installs</li>
        <li>Projects out of our office more than 2 days/week</li>
      </ul>

      <%= render 'application/emails' %>
    </section>
  </section>

  <div id="contact_form">
    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
    var s7x2p7 = new WufooForm();
    s7x2p7.initialize({
      'userName':'thoughtbot',
      'formHash':'s7x2p7',
      'autoResize':true,
      'ssl':false
     });
    s7x2p7.display();
    </script>

    <script type="text/javascript">
      _kmq.push(['record', 'Visited project planning form']);
    </script>
  </div>
</div>
