<% content_for :title, 'Friends' %>

<div class="primary">
  <header id="page-header" class="primary">
  </header>

  <section>
    <div id="wufoo-w7w5a7">
      Fill out my <a href="http://thoughtbot.wufoo.com/forms/w7w5a7">online form</a>.
    </div>
  </section>
</div>

<script type="text/javascript">var w7w5a7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'thoughtbot', 
'formHash':'w7w5a7', 
'autoResize':true,
'height':'505',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { w7w5a7 = new WufooForm();w7w5a7.initialize(options);w7w5a7.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
