<% content_for :title, 'We make web and mobile apps' %>
<% content_for :meta_description, 'thoughtbot designs and codes web apps for early-stage startups.' %>

<div class="color"></div>

<header id="page-header"  class="primary">
<h1>We make web &amp; mobile apps.</h1>
</header>


<section class="primary">
  <section id="portfolio">
    <ul>
      <li id="fdn"><a href="/portfolio/fdn" title="FDN">FDN</a></li>
      <li id="mitx"><a href="/portfolio/mitx" title="MITx">MITx</a></li>
      <li id="fanboat"><a href="/portfolio/fanboat" title="Fanboat">Fanboat</a></li>
      <li id="vpp"><a href="/portfolio/vpp" title="VPP">Velocity</a></li>
      <li id="owneraide"><a href="/portfolio/owneraide" title="Owneraide">Owneraide</a></li>
      <li id="awesome"><a href="/portfolio/awesome" title="Awesome Foundation">Awesome Foundation</a></li>
      <li id="iora"><a href="/portfolio/iora" title="Iora">Iora Health</a></li>
      <li id="stattleship"><a href="/portfolio/stattleship" title="Stattleship">Stattleship</a></li>
    </ul>
  </section>

  <section id="services">
    <h2>We solve problems for our clients.</h2>

    <section id="about-services">
      <p>
        You can hire us to design and develop a new web or mobile app.
        We've launched startups like BuyWithMe from scratch to launch (with revenue)
        in 5 weeks with 3 team members.
      </p>
      <p>
        Or, you can hire us to fill gaps. You may have an early-stage product that
        is starting to see traction from customers. You want to add features, fix
        bugs, and keep moving fast. You have money but not enough people. We can
        provide extra horsepower until you find great full-timers.
      </p>
    </section>

    <section id="clients">
      <ul id="client-list">
        <li>America's Test Kitchen</li>
        <li>Backupify</li>
        <li>Blueleaf</li>
        <li>Boston.com</li>
        <li>BuyWithMe</li>
        <li>Carhelp</li>
        <li>Crowdtap</li>
        <li>Eat a Bit</li>
        <li>FIRST LEGO League</li>
        <li>Gulf Coast Gives</li>
        <li>ImpulseSave</li>
        <li>Iora Health</li>
        <li>LevelUp</li>
        <li>MITx</li>
        <li>OwnerAide</li>
        <li>Redis to Go</li>
        <li>Stattleship</li>
        <li>Strobe</li>
        <li>Swoop</li>
        <li>Tasted Menu</li>
        <li>TDDium</li>
        <li>Where.com</li>
        <li>Yammer</li>
        <li>yBuy</li>
      </ul>
      <!-- <p class="video"><a href="/perspective-video/" title="thoughtbot's prospective client video">Watch our client perspective video.</a></p> -->
    </section>

    <blockquote>
      <p>thoughtbot is the best in the industry as far as Ruby on Rails programming / developers. We're very pleased with the product they created for us and would recommend them to anyone looking to build a web application in Ruby.</p>
      <p class="author">Julia Noran, Founder, The Editor at Large</p>
    </blockquote>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>

<div class="secondary-wrapper">
  <section class="secondary">
    <section id="workshops">
      <h2>We train and mentor designers and developers.</h2>

      <section id="about-workshops">
        <p>There is a shortage of great product designers and software developers in the face of huge demand.</p>
        <p>We're trying to solve that problem through our <a href="http://apprentice.io">apprentice.io</a> program and our <a href="http://learn.thoughtbot.com">workshops, books, and screencasts</a>. We've trained hundreds of people from great places like Harvard University and The New York Times.</p>
        <p>We also do workshops on-site at your location. <a href="mailto:learn@thoughtbot.com?subject=On-site%20workshop">Contact us to find out more</a>.</p>
      </section>

      <blockquote>
        <p>There is no Intro to Rails book out there currently (I have tried quite a few) that can provide you with the same amount of knowledge that you can pickup in the two day thoughtbot Intro to Rails workshop.</p>
        <p class="author">Rich Rines</p>
      </blockquote>

      <section id="current-workshops">
        <h3>Current workshops</h3>
        <span class="loading">Loading...</span>
      </section>
    </section>
  </section>
</div>
