<% content_for :title, 'Maintenance' %>
<% content_for :meta_keywords, 'ruby on rails, maintenance, support, bugs, fixes, teaching, learning, retainer' %>
<% content_for :meta_description, 'Hire thoughtbot to maintain your ruby on rails application' %>

<div class="primary">
  <header id="page-header" class="primary">
    <h1>Maintenance Team</h1>
  </header>

  <section>
    <h3>The concept</h3>
    <p>We've taken part of our world-class software consulting organization, and created a team who are specifically allocated to handle things like small application changes, bug fixes, best practice enforcement, security upgrades, incremental tweaks, etc.  This group is also able to provide ongoing consultative development support and best practice advice to our clients (and their own technical teams).</p>

    <h3>How does it work?</h3>
    <p>The cost for this is $5,000/month for 25 hours of our time or $10,000/month for 50 hours.  If you don't use the time for a month, you lose it &mdash; but if you need the time, you can be assured that it's there.  Our hope is that the smaller minimum time commitment (our previous smallest engagement was $30,000/month) will make it possible for us to work on projects where controlling the rate of spending is more important than the overall budget or maximizing the results of a short term burst of effort.</p>

    <h3>Who is this for?</h3>
    <p>We believe this approach will provide great value for:</p>
    <ul style="padding-left: 42px;">
      <li>Our "normal" consulting clients, whose engagements can now extend further than previously possible.</li>
      <li>Development groups maintaining internal products within organizations who need a hand keeping their apps running and up to date.</li>
      <li>Businesses running web apps that are mostly done or in "maintenance mode", and don't need constant full team strength.</li>
      <li>Teams that want to gain some confidence in their own direction by bringing in an outside opinion.</li>
    </ul>

    <h3>What kind of contact do I have with the team?</h3>
    <p>The team is available to you during business hours via chat, email, and phone.</p>

    <h3>How do I start?</h3>
    <p>Please <a href="/contact/">contact us</a> if you're interested or have any questions.</p>
  </section>
</div>
