<% content_for :title, 'Client perspectives video' %>
<% content_for :meta_description, 'A about thoughtbot from the client perspective' %>

<section class="primary" id="page-header">
  <iframe src="http://player.vimeo.com/video/7948152?title=0&amp;byline=0&amp;portrait=0&amp;color=aaaaaa" width="995" height="560" frameborder="0"></iframe>
</section>
