<% content_for :site_title, 'apprentice.io' %>
<% content_for :keyword, :apprentice %>

<header id="page-header" class="primary">
  <h1>We are looking for intermediate developers and designers</h1>
</header>

<div id="jobs-wrapper" class="job-description">
  <section class="tracks">
    <div class="developer">
      <h2>Developer</h2>

      <section class="description">
        <p>Developers at thoughtbot are very experienced with building and
        shipping Rails applications, doing fully test-driven development along
        the way.</p>

        <p>Our Developer apprenticeship will take you from intermediate
        level to a full developer at thoughtbot.</p>
      </section>

      <%= link_to page_path('developer'), class: "apply" do %>
        <h3>Learn more and apply</h3>
      <% end %>
    </div>

    <div class="designer">
      <h2>Designer</h2>

      <section class="description">
        <p>Designers at thoughtbot are fully capable of creating great visual
        design as well as doing great product design and user experience, and
        then implementing their designs with HTML and CSS (Sass).</p>

        <p>Our Product Design apprenticeship will take you from intermediate
        level to a full product designer at thoughtbot.</p>
      </section>

      <%= link_to page_path('designer'), class: 'apply' do %>
        <h3>Learn more and apply</h3>
      <% end %>
    </div>
  </section>
</div>
