---
layout: default
title: Jobs
keyword: jobs
meta_keywords: web designer, web developer, ruby, rails, javascript, html, css, boston
meta_description: Work at thoughtbot.
position: thoughtbot Designer
---
<header id="page-header" class="primary">
  <h1>It’s not just what it looks like and feels like. Design is how it works.</h1>
</header>

<div id="jobs-wrapper" class="job-description">

  <section id="positions">
    <h2>{{ page.position }}</h2>
    <ul>
      <li>
        <p>We need an expert web designer with excellent HTML and CSS skills to join our team full-time in Boston, MA. The right individual will have experience designing user interfaces for web applications, will have good typographical skills, a strong foundation in design principles, and will be as passionate about great design, semantic markup, and web standards as we are about our Ruby code.</p>
        <p>We don&#8217;t believe that usability or user experience should be the domain of any one person or some mystical art. The same can be said for HTML and CSS. That&#8217;s why the designers at thoughtbot work up and down the full stack of what it means to be a designer: Interaction, usability, user experience, graphic design, HTML, and CSS.</p> 
        <p>That may sound like a lot for one person, but that’s why we build <em>the smallest thing possible and iterate from there</em>.</p> 
        <p>The job of the designer is ultimately to build a product. The designer must direct his or her efforts towards defining <em>what the product is</em> and <em>how it works</em>. It’s only after these questions are answered that how it looks becomes the issue of first importance.</p> 
        <p>Within the context of a team, the designer has prime responsibility for making sure the product being built has a great user experience. Often this means communicating with the client, developers, and any other stakeholders to address concerns and then find solutions.</p> 
        <p>While we stress the importance of functionality and usability, we still expect a high level of visual refinement to our products. An excellent understanding and use of grids, typography, color, etc. are essential for building quality, compelling products.</p>
        <p>If all this is interesting to you, you might be interested in reading more about our <a href="http://playbook.thoughtbot.com/understanding-design/">design philosophy in our playbook</a>.</p>
        <p>The competitive salary for the {{ page.position }} position will depend on experience, and includes medical benefits, 401k eligibility and other excellent benefits.  Benefits also include relocation to Boston, MA if needed.</p>
      </li>
    </ul>

    {% include jobs_apply_button.html %}
  </section>

  {% include jobs_about_us.html %}

</div>
