---
layout: default
title: Jobs
keyword: jobs
meta_keywords: web designer, web developer, ruby, rails, javascript, html, css, boston
meta_description: Work at thoughtbot.
position: Developer
---
<header id="page-header" class="primary">
  <h1>Happy developers make more successful products</h1>
</header>

<div id="jobs-wrapper" class="job-description">
  <section id="position-title">
    <h2>{{ page.position }}</h2>
    {% include jobs_apply_button.html %}
  </section>

  <section class="position-description">
    <p>We are looking for web developers to join our team full-time in Boston, MA. Very well-qualified candidates will have been using Ruby on Rails extensively, have an excellent knowledge of Javascript, HTML, and CSS, and experience in TDD.</p>
    <p>Just like we don't have sale people or project managers, we do not have different levels of programmers at thoughtbot. We stay small and effective by having developers of the highest quality, able to communicate well and work directly with customers.</p>
    <p>We practice agile development and work in weekly iterations. We promote pair programming as a great way to work but leave it up to the individual teams to come up with a pairing strategy that works for them, not enforcing pairing all the time.</p>
    <p>We believe that all members of the product team are responsible for design. As a developer you will participate in conceptualization and wireframing of projects, provide design feedback, and be responsible for the user experience and usability of the applications we build.</p>
    <p>While most developers here use Macs and vim, we believe that each person chooses the tools that work best for them. We ask you what you want and we get that for you.</p>
    <p>If all this is interesting to you, you might be interested in reading more about our <a href="http://playbook.thoughtbot.com">philosophy in our playbook</a>.</p>
    {% include jobs_benefits.html %}
  </section>
</div>

{% include jobs_about_us.html %}
