<section class="masthead content-wrapper">
  <h2>Our expectations for apprentice designers</h2>
  <p>At the end of three months, we expect designer apprentices at thoughtbot to fill the role of a full time designer. This means doing great product design and user experience, creating great visual design, then implementing their designs with HTML, CSS (Sass).</p>
</section>
