<section class="masthead">
  <h2 class="section-title">
    We are looking for <br />
    intermediate product designers
  </h2>
  <p class="section-subtitle">
    Designers at thoughtbot are fully capable of creating great visual design
    as well as doing great product design and user experience, and then
    implementing their designs with HTML and CSS (Sass). Our Product Design
    apprenticeship will take you from intermediate level to a full product
    designer at thoughtbot.
  </p>
</section>
