<article class="beginner">
  <div class="content-wrapper">
    <h2>Not very comfortable with design for the web or front-end development yet?</h2>
    <p>
       Try Upcase. For graphic and web designers looking to get into the full-stack of product design and development, Upcase provides a set of trails to help you with your learning. We suggest starting with: Web Design.
    </p>

    <a href="http://thoughtbot.com/upcase?utm_source=apprenticeio" class="button">Complete your pre-requisites at Upcase</a>
  </div>
</article>

<article class="intermediate content-wrapper">
  <h2>We are looking for intermediate designers</h2>
  <p>
    Our Product Design apprenticeship will take you from intermediate level to a full product designer at thoughtbot.
  </p>

  <ul class="checklist">
    <li>You have solid visual design foundation and have designed for the web.</li>
    <li>Your self-hosted web portfolio showcases your knowledge of HTML and CSS.</li>
    <li>You have strong opinions and perspectives about product design.</li>
  </ul>

  <p>In other words, you have the raw materials and trainability to do this job phenomenally well given the right mentorship. If these all apply to you, you're exactly who we want!</p>
</article>
