<section class="path row">
  <div class="content-wrapper">
  <section class="col-2">
    <article class="column">
      <div class="row">
        <div class="text-wrapper">
          <h4 class="title">Beginner</h4>
          <p>
            Not very comfortable with design for the web or front-end
            development yet? Try our intensive 12-week 
            <a href="http://www.thisismetis.com/ux-front-end-development?utm_source=apprenticeio&utm_medium=tracks&utm_campaign=apprenticeio">Product Design Bootcamp</a>.
          For graphic and web designers looking to get into the full-stack of
          product design and development, the Metis bootcamp provides the
          opportunity to get hands on experience at every level of digital
          products.
          </p>
          <div class="cta-wrapper">
            <a href="http://www.thisismetis.com/ux-front-end-development?utm_source=apprenticeio&utm_medium=tracks&utm_campaign=apprenticeio">Learn more</a>
          </div>
        </div>
      </div>
    </article>
    <article class="column">
      <div class="row">
        <div class="text-wrapper">
          <h4 class="title">Intermediate</h4>
          <p>
          You have solid visual design skills, and your self-hosted web
          portfolio showcases your knowledge of HTML and CSS. You have strong
          opinions and perspectives about product design. In other words, you
          have the raw materials and trainability to do this job phenomenally
          well given the right mentorship. If these all apply to you, you're
          exactly who we want!
          </p>
          <div class="cta-wrapper">
            <a href="/designer/apply">Apply to apprentice.io</a>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
</section>
