section#people {
  @extend .primary;
  @extend .secondary-header;

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin: 0 flex-gutter() lh(2) 0; /*line height on the bottom to maintain baseline grid*/
      min-height: lh(12); /*specify line-height height so each perosn has a proper amount of space for their bio*/
      width: flex-grid(6);
      @extend .clearfix;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(2n+1) {
        clear: left;
      }

      div.person-photo {
        float: left;
        margin-right: flex-gutter();
        width: flex-grid(4);
        text-align: center;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

      div.person-info {
        float: left;
        width: flex-grid(8);

        h2 {
          font: 700 24px $header;
          line-height: lh(2); /*double line-hieght for bigger type*/
          margin-bottom: 0;
        }

        h3 {
          color: #aaa;
          font: italic 14px $body;
          line-height: lh();
          margin-bottom: lh();
        }
      }

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        float: none;
        width: flex-grid(12);
      }
    }
  }
}
