section#people {
  @extend .primary;
  @extend .secondary-header;

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin: 0 $gutter ($lh*2) 0; /*line height on the bottom to maintain baseline grid*/
      min-height: $lh*12; /*specify line-height height so each perosn has a proper amount of space for their bio*/
      width: grid-width(6);
      @extend .clearfix;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(2n+1) {
        clear: left;
      }

      div.person-photo {
        float: left;
        margin-right: $gutter;
        width: grid-width(2);
      }

      div.person-info {
        float: left;
        width: grid-width(4);

        h2 {
          font: 700 24px $header;
          line-height: $lh*2; /*double line-hieght for bigger type*/
          margin-bottom: 0;
        }

        h3 {
          color: #aaa;
          font: italic 14px $body;
          line-height: $lh;
          margin-bottom: $lh; 
        }
      }
    }
  }
}