$header: proxima-nova-1, proxima-nova-2, "Helvetica Neue", Helvetica, sans-serif;
$body: "skolar-1","skolar-2", Georgia, serif;

$red: #AD141E; // thoughtbot red*/

$lh: 20px; // line-height of all the type on the site*/

$gw-column: 6.0301508%; // one grid column 60/995
$gw-gutter: 2.5125628%; // size of one gutter 25/995
