#open-source {
  background: url('/images/shadowing.png') center top no-repeat;
  padding-top: ($lh*3)-(1);
  margin-top: $lh*3;
  border-top: 1px solid #dcdcdc;

  ul {
    list-style: none;
    margin-bottom: $lh*3;
    @extend .clearfix;
    li {
      width: ($unit*3)+($gutter*2);
      margin: ($lh*2) $gutter 0 0;
      float: left;
      background: url('/images/shoulda.png') no-repeat 0 0;
      padding-left: $unit+$gutter;

      &.shoulda {

      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}

#events {
  @extend .secondary;
  padding-top: $lh*3;
  background: url('/images/shadowing-lite.png') center -1px no-repeat;
  text-shadow:  0 1px 0 #fcfcfc;

  p.events-intro {
    width: ($unit*3)+($gutter*2);
    float: left;
    margin-right: $gutter;
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      width: ($unit*3)+($gutter*2)-($lh*2);
      float: left;
      margin-right: $gutter;
      display: block;
      overflow: hidden;
      padding: ($lh*2)-(5px) $lh $lh;
      border-top: 5px solid #292929;
      background: #F2F2F2;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}