section.open-source {
  @extend .secondary-header;

  ul {
    @extend .clearfix;
    list-style: none;
    margin-bottom: $lh*3; /*line hight to maintain baseline grid*/

    li {
      float: left;
      margin: ($lh*2) $gw-gutter 0 0; /*line hight top bottom to maintain baseline grid*/
      width: grid-width(3);

      &.end-row {
        margin-right: 0;
      }

      &.start-row {
        clear: both;
      }

      a {
        display: block;

        &:hover {
          background: #efefef;
          @include transition(all .3s);
          @include box-shadow(0 0 0 10px #efefef);
        }
      }

      &.highlighted {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: $lh;
        margin: 0; /*line-hight top bottom to maintain baseline grid*/
        padding-right: $gw-gutter;
        width: grid-width(6);

        &:nth-child(4n+2) {
          padding-right: 0;
        }

        a {
          padding-left: grid-width(6)+$gw-gutter;
          min-height: 170px;

          h3 {
            color: $red;
            font-size: 24px;
            padding-top: $lh*2;
          }
        }

        &.paperclip {
          a {
            background: transparent url('/images/oss/paperclip.png') 22px 2px no-repeat;

            &:hover {
              background-color: #efefef; 
            }
          }
        }

        &.factory-girl {
          a {
            background: transparent url('/images/oss/factory-girl.png') 18px 2px no-repeat;

            &:hover {
              background-color: #efefef; 
            }
          }
        }

      }
    }
  }
}

section#events {
  @extend .secondary;
  text-shadow:  0 1px 0 #fcfcfc;

  p.events-intro {
    float: left;
    margin-right: $gw-gutter;
    width: grid-width(3);
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      background: #F9F9F9;
      border-top: 5px solid #292929;
      display: block;
      float: left;
      margin-right: $gw-gutter;
      overflow: hidden;
      padding: ($lh*2)-(5px) $lh $lh; /*line hight padding to maintain baseline grid minus 5 pixels for the top border*/
      width: grid-width(3); /*grid width minus padding*/
      @include box-sizing(border-box);


      &:last-child {
        margin-right: 0;
      }
    }
  }
}
