section#open-source {
  @extend .secondary-header;

  ul {
    list-style: none;
    margin-bottom: $lh*3;

    @extend .clearfix;

    li {
      float: left;
      margin: ($lh*2) $gutter 0 0;
      padding-left: $unit+$gutter;
      width: ($unit*3)+($gutter*2);

      &#paperclip {
        background: url('/images/oss/paperclip.png') no-repeat 0 0;
      }

      &#factory-girl {
        background: url('/images/oss/factory-girl.png') no-repeat 0 0;
      }

      &#high-voltage {
        background: url('/images/oss/highvoltage.png') no-repeat 0 0;
      }

      &#suspenders {
        background: url('/images/oss/suspenders.png') no-repeat 0 0;
      }

      &#shoulda {
        background: url('/images/oss/shoulda.png') no-repeat 0 0;
      }

      &#clearance {
        background: url('/images/oss/clearance.png') no-repeat 0 0;
      }

      &#pacecar {
        background: url('/images/oss/pacecar.png') no-repeat 0 0;
      }

      &#flutie {
        background: url('/images/oss/flutie.png') no-repeat 0 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}

section#events {
  @extend .secondary;

  background: url('/images/shadowing-lite.png') center -1px no-repeat;
  padding-top: $lh*3;
  text-shadow:  0 1px 0 #fcfcfc;

  p.events-intro {
    float: left;
    margin-right: $gutter;
    width: ($unit*3)+($gutter*2);
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      background: #F9F9F9;
      border-top: 5px solid #292929;
      display: block;
      float: left;
      margin-right: $gutter;
      overflow: hidden;
      padding: ($lh*2)-(5px) $lh $lh;
      width: ($unit*3)+($gutter*2)-($lh*2);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}