div#contact-content {
  @extend .primary;
  @extend .secondary-header;

  div#contact_form {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(7);

    h1#logo, #bottom{
      display: none;
    }
  }

  section#contact-info {
    float: right;
    width: flex-grid(5);

    section#contact-other {
      float: left;
      width: flex-grid(3, 5);
      margin-right: flex-gutter(5);

      ul {
        margin-left: flex-gutter(5);
      }
    }

    section.contact-address {
      float: right;
      margin-bottom: lh();
      width: flex-grid(2, 5);

      div {
        margin-bottom: lh();
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 940px) {
    div#contact_form {
      width: flex-grid(12);
      margin-right: 0;
    }

    section#contact-info {
      float: none;
      width: auto;
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px) {
    padding-top: lh(2);

    div#contact_form {
      float: none;
      width: flex-grid(12);

    }

    section#contact-info {
      float: none;
      width: flex-grid(12);

      &:before {
        content: "Contact thoughtbot";
        display: block;
        color: #2b2b2b;
        font: 600 32px $header;
        margin-bottom: lh();
      }

      section#contact-other {
        float: none;
        width: auto;

        &:before {
          content: "Let’s talk about your project";
          display: block;
          color: #2b2b2b;
          font: 600 32px $header;
          margin-bottom: lh();
        }
      }

      section.contact-address {
        float: none;
        width: auto;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: lh();
        margin-bottom: lh();
        @extend .clearfix;


        div {
          &.call {
            float: left;
            width: flex-grid(6);
            margin-right: flex-gutter();
          }

          &.address {
            float: left;
            width: flex-grid(6);
          }
        }
      }
    }
  }

}


@media screen and (max-width: 750px), screen and (max-device-width: 480px) {
  body#contact {
    header#page-header {
      display: none;
    }
  }
}
