#contact-content {
  @extend .primary;
  background: url('/images/shadowing.png') center top no-repeat;
  padding-top: ($lh*3)-(1);
  margin-top: $lh*3;
  border-top: 1px solid #dcdcdc;

  #contact_form {
    width: ($unit*6)+($gutter*5);
    float: left;
    margin-right: $gutter;

    h1#logo, #bottom{
      display: none;
    }

    form.wufoo {

      ul {
        li {
          &#fo7li3 {
            width: ($unit*8)+($gutter*7);
            clear: both;
          }

          /*inputs for project planning form*/
          &#fo5li136 {
            div {
              padding-top: $lh;
              margin-left: 10px;
              span {
                margin-right: 10px;
                color: #666;
              }
            }
          }

          &#fo5li12, &#fo5li123 {

            div {
              padding-top: $lh;
              display: block;
              margin-left: 30px;

              span {
                display: block;
                margin-bottom: $lh/2;
                color: #666;

                input {
                  margin: -2px 3px 0 -20px;
                  top: 0;
                }

                &.req {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }

  #contact-info {
    width: ($unit*6)+($gutter*5);
    float: left;

    #hire-thoughtbot {
      a {
        background: #2B2B2B;
        padding: $lh*1.5;
        margin: $lh 0 $lh*2;
        display: block;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: background .3s;

        h3 {
          color: #fff;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
          color: $red;
          font: 16px $header;
          color: $red;
        }

        &:hover {
          background: $red;

          p {
            color: #2b2b2b;
          }
        }
      }
    }

    #contact-other {
      width: ($unit*4)+($gutter*3);
      margin-right: $gutter;
      float: left;

      ul {
        margin-left: $gutter;
      }
    }

    .contact-address {
      margin-bottom: $lh;
      float: left;
      width: ($unit*2)+$gutter;

      div {
        margin-bottom: $lh;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}


