div#contact-content {
  @extend .primary;
  @extend .secondary-header;

  div#contact_form {
    float: left;
    margin-right: $gw-gutter;
    width: ($gw-column*8)+($gw-gutter*6);

    h1#logo, #bottom{
      display: none;
    }
  }

  section#contact-info {
    float: left;
    width: grid-width(4);
    margin-left: $gw-gutter;

    section#hire-thoughtbot {

      a {
        @extend .button;
        margin: $lh 0 $lh*2;
        padding: $lh*1.5;

        h3 {
          color: #fff;
          margin-bottom: 0;
          font-size: 18px;
        }

        p {
          color: rgba(#fff, .6);
          font: 16px $header;
          margin-bottom: 0;
        }

        &:hover {
          background: $red;
        }
      }
    }

    section#contact-other {
      float: left;
      width: grid-width(4);

      ul {
        margin-left: $gw-gutter;
      }
    }

    section.contact-address {
      float: left;
      margin-bottom: $lh;
      width: grid-width(4);

      div {
        margin-bottom: $lh;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}


