/* Design page
---------------------------------------- */
#design-portfolio {
  @extend .primary;

  ul {
    list-style: none;

    li {
      border-bottom: 1px solid #ddd;
      margin: 0 auto;
      padding: lh() 0;
      text-align: center;
      width: 830px;

      img {
        @include box-shadow(0 0 0 1px rgba(#000, .1));
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
