footer#main-footer {
  @extend .wrapper;
  @extend .clearfix;

  opacity: .5;
  padding-top: lh(4);

  @include transition(opacity .5s);

  &:hover {
    opacity: 1;
  }

  h3 {
    color: #545454;
  }

  a {
    color: #7a7a7a;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }

  nav {
    @extend .clearfix;

    section {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(2);


      &#current-workshops-footer {
        width: flex-grid(4);

        ul {
          li {
            float: left;
            display: block;
            margin-right: flex-gutter(4);
          }
        }
      }

      &#products {
        li {
          a {
            @extend .external;
          }
        }
      }

      &#blog-footer {
        width: flex-grid(4);
        @extend .row-end;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: lh(.5);
        }
      }

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        float: none;
        width: flex-grid(12);
        margin-right: 0;
        margin-top: lh() * 2;

        &#thoughtbot-footer, &#footer-products {
          float: left;
          width: flex-grid(6);
          margin-top: 0;
        }

        &#thoughtbot-footer {
          margin-right: flex-gutter();
        }

        &#current-workshops-footer, &#blog-footer {
          width: flex-grid(12);
          float: none;
          @extend .clearfix;
          clear: both;

          ul {
            li {
              width: auto;
              float: none;
            }
          }
        }
      }
    }
  }

  p#copyright {
    color: #7a7a7a;
    margin-top: lh(2); /*line-height to maintain baseline grid*/
  }
}
