/* Forms
---------------------------------------- */

form.wufoo {
  margin-left: 0;

  header#header {
    display: none;
  }

  ul {
    list-style: none;
    margin-top: $lh;

    li {
      margin-bottom: $lh;
      width: ($unit*6)+($gutter*5);
      padding: 0;

      h3 {
        color: $red;
        margin-top: $lh*2;
      }

      fieldset {
        background: none;
        border: 0;
        padding: 0;
      }

      label, legend {
        font: 16px $body;
        line-height: $lh;
        margin: 0 0 ($lh/2);

        &.choice {
          display: inline;
        }
      }

      input.checkbox, input.radio {
        display: inline-block;
      }

      input[type="text"], input[type="email"], input.text, textarea {
        border: 1px solid #999;
        font: 14px $body;
        line-height: $lh;
        margin: 0;
        padding: ($lh/2)-(1) ($lh/2);
        width: ($unit*6)+($gutter*5)-($lh)-(2);
        max-width: ($unit*6)+($gutter*5)-($lh)-(2);
        min-width: ($unit*6)+($gutter*5)-($lh)-(2);

        &:focus {
          outline-color: $red;
        }

        @include box-shadow( inset 0 1px 2px #aaa);
      }

      input#saveForm {
        @extend .button;
        display: block;
        margin: 0;
        padding: ($lh/2)-(2) ($lh*2);

        &:hover {
          cursor: pointer;
        }

        &:active {
          background: darken($red, 5%);
        }
      }

      .instruct {
        color: #aaa;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        margin: $lh 0 $lh*2;
      }

      &.name, &#fo8li31 {
        float: none;
        width: ($unit*6)+($gutter*6);
        @extend .clearfix;

        span {
          display: block;
          float: left;
          margin-right: $gutter;
          width: ($unit*3)+($gutter*2);

          &:nth-child(odd) {
            margin-right: 0;
          }

          &.req {
            display: inline;
            float: none;
            margin: 0;
            width: auto;
          }

          label {
            color: #aaa;
            font-size: 14px;
            font-style: italic;
            font-weight: normal;
          }

          input[type="text"] {
            width: ($unit*3)+($gutter*2)-($lh)-(2);
            max-width: ($unit*3)+($gutter*2)-($lh)-(2);
            min-width: ($unit*3)+($gutter*2)-($lh)-(2);
          }
        }
      }

      &#fo7li3 {
        clear: both;
        width: ($unit*8)+($gutter*7);
      }

      /*inputs for project planning form*/
      &#fo5li136 {
        div {
          margin-left: 10px;
          padding-top: $lh;

          span {
            color: #666;
            margin-right: 10px;
          }
        }
      }

      &#fo5li12, &#fo5li123 {

        div {
          display: block;
          margin-left: 30px;
          padding-top: $lh;

          span {
            color: #666;
            display: block;
            margin-bottom: $lh/2;

            input {
              margin: -2px 3px 0 -20px;
              top: 0;
            }

            &.req {
              display: inline;
            }
          }
        }
      }
    }
  }
}
