header#main-header {
  @extend .wrapper;
  @extend .clearfix;

  nav#main-nav {
    @extend .clearfix;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: $lh;


    h1 {
      margin: 42px 0 24px;

      @media screen and (min-width: 751px) {
        float: left;
      }

      a {
        background: url('/images/thoughtbot-logo.png') 0 0 no-repeat;
        display: block;
        height: 65px;
        width: 242px;
        text-indent: -9999px;

        @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
          background-position: center center;
          display: block;
          width: auto;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image: url('/images/thoughtbot-logo-hirez.png');
          @include background-size(100% 100%);
        }
      }
    }

    ul {
      display: block;
      margin-top: 72px;
      @extend .clearfix;

      @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
        border-top: 1px solid #dcdcdc;
        margin: 0;
        padding-top: $lh;
      }

      @media screen and (min-width: 751px) {
        float: right;
      }

      li {
        @media screen and (min-width: 751px) {
          float: left;
        }

        @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
          width: grid-width(6);
          float: left;
        }

        a {
          @include transition(color .2s);
          color: #2b2b2b;
          display: block;
          font: 500 16px $header;
          line-height: $lh;
          margin: 0 $lh;

          @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
            padding: $lh / 2;
          }

          &:hover {
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}
