header#main-header {
  @extend .wrapper;
  @extend .clearfix;

  nav#main-nav {
    @extend .clearfix;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: $lh;

    h1 {
      margin: 42px 0 24px;

      a {
        background: url('/images/thoughtbot-logo.png') 0 0 no-repeat;
        display: block;
        height: 65px;
        text-indent: -9999px;
      }
    }

    ul {
      display: block;
      margin-top: 72px;

      @extend .clearfix;

      li {

        a {
          color: #2b2b2b;
          display: block;
          font: 500 16px $header;
          line-height: $lh;
          margin: 0 $lh;

          @include transition(color .2s);

          &:hover {
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}
