section#products {
  margin-bottom: $lh * 2;

  h2 {
    text-shadow:  0 1px 0 #fcfcfc;
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin-right: $gw-gutter;
      width: grid-width(4);

      // &:last-child {
      //   @extend .row-end;
      // }

      &#airbrake {

        a {
          div.product-logo {
            img {
              padding-top: 24px;
            }
          }
        }
      }

      &#copycopter {
        @extend .row-end;

        a {
          div.product-logo {
            img {
              padding-top: 28px;
            }
          }
        }
      }

      &#trajectory {
        a {
          div.product-logo {
            img {
              padding-top: 40px;
            }
          }
        }
      }

      a {
        display: block;
        @include transition(all .5s);

        div.product-logo {
          @include box-shadow( inset 0 0 4px #bfbfbf );
          background: #D9D9D9;
          border: 1px solid #aaa;
          height: ($lh*7) - (3);
          margin-bottom:  ($lh*2) + (3);

          img {
            display: block;
            margin: 0 auto;
          }
        }

        .check-out {
          @extend .external-link;
          color: $red;
          display: inline-block;
        }

        &:hover {
          @include box-shadow(0 0 0 8px rgba(#000, .02));
          background: rgba(#000, .02);

          div.product-logo {
            @include box-shadow( inset 0 0 4px #B7B6B6 );
            background: #C4C3C3;
            border: 1px solid #8F8F8F;
          }

          h3, p {
            color: #000;
          }

          .check-out {
            background-position: right 8px;
            color: darken($red, 10%);
          }
        }
      }
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    margin-bottom: $lh*2;

    ul {
      li {
        float: left;
        width: grid-width(12);
        margin-bottom: $lh*2;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    margin-bottom: $lh*2;

    ul {
      li {
        float: left;
        width: grid-width(12);
        margin-bottom: $lh*2;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}
