#portfolio-slider {
  @extend .secondary-wrapper;
  height: $lh*26;
  margin-top: $lh*3;
  position: relative;

  div {
    @extend .secondary;

    h2 {
      text-shadow: 0 1px 0 #fcfcfc;
    }

    #slider-wrapper {
      height: $lh*21; /*makes sure the slider maintains line-height grid*/
    }

    ul.slider {
      @include background-size(cover);
      @include box-shadow(inset 0 1px 0 rgba(#fff, .4), 0 0 4px rgba(#000, .15));
      @include box-sizing(border-box);
      background:url(images/loading.gif) no-repeat 50% 50%;
      border: 1px solid rgba(#000, .2);
      height: ($lh*21)-(2); /*line-height minus 2 for the border to maintain baseline grid*/
      list-style: none;
      position: relative;
      width: grid-width(12);

      @media screen and (max-width:1199px) {
        overflow: hidden;
        margin-top: ($lh*2);
      }

      img {
        display:none;
        left:0px;
        position:absolute;
        top:0px;
      }

      a {
        display: block;
      }

      div.nivo-controlNav {
        position: absolute;
        top: -52px;
        right: 1px;
        width: auto;

        @media screen and (max-width:1199px) {
          top: -20px;
        }

        a {
          text-indent: -9999px;
          display:block;
          width: 8px;
          height: 9px;
          background: url('/images/portfolio/slider-control.png') -11px 0 no-repeat;
          float: right;
          margin-right: 6px;

          &.active {
            background: url('/images/portfolio/slider-control.png') 0 0 no-repeat;
          }
        }
      }

      div.nivo-directionNav  {
        a {
          background: url('/images/portfolio/arrows.png') 0 0 no-repeat;
          display: block;
          height: 40px;
          position: absolute;
          text-indent: -9999px;
          width: 21px;

          &.nivo-prevNav {
            background-position: 0 0;
            left: 10px;
            top: 44%;

            &:hover {
              background-position: 0 -40px;
            }
          }

          &.nivo-nextNav {
            background-position: -21px 0;
            right: 10px;
            top: 44%;

            &:hover {
              background-position: -21px -40px;
            }
          }
        }

        @media screen and (min-width:1200px) {
          a {
            &.nivo-prevNav {
              left: -60px;
            }

            &.nivo-nextNav {
              right: -60px;
            }
          }
        }
      }

      div.nivo-slice {
        @include background-size(cover);
      }
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    height: $lh*17;

    ul.slider {
      height: ($lh * 14) - (2px)  !important; /*line-height minus 2 for the border to maintain baseline grid*/
      max-width: grid-width(12);
    }
  }
}

section#portfolio {
  @extend .clearfix;
  width: grid-width(12);
  margin: 80px 0 40px;

  ul {
    @extend .clearfix;
    list-style: none;

    li {
      float: left;
      margin: 0 $gw-gutter $lh 0;
      width: grid-width(3);
      padding: 4px;
      border: 1px solid #BDBDBD;
      @include box-sizing(border-box);

      &:hover {
        border-color: #999;
        @include transform(scale(1.01));
        @include box-shadow(0 0 3px #999);
      }

      a {
        display: block;
        height: ($lh * 9) - 10px; // Subtracts 2 px for border on parent
        text-indent: -9999px;
        @include background-size(cover);
      }

      // &:nth-child(4n) {
      //   @extend .row-end;
      // }

      &#pozit a {
        background: url('/images/portfolio/thumb/pozit.png') center center no-repeat;
      }

      &#gulfcoast a {
        background: url('/images/portfolio/thumb/gulfcoast.png') center center no-repeat;
      }

      &#coupondudes a {
        background: url('/images/portfolio/thumb/coupondudes.png') center center no-repeat;
      }

      &#gnite a {
        background: url('/images/portfolio/thumb/gnite.png') center center no-repeat;
      }

      &#iora {
        @extend .row-end;

        a {
          background: url('/images/portfolio/thumb/iora.png') center center no-repeat;
        }
      }

      &#stattleship {

        a {
          background: url('/images/portfolio/thumb/stattleship.png') center center no-repeat;
        }
      }

      &#tastedmenu a {
        background: url('/images/portfolio/thumb/tastedmenu.png') center center no-repeat;
      }

      &#umbrellatoday {
        @extend .row-end;

        a {
          background: url('/images/portfolio/thumb/umbrellatoday.png') center center no-repeat;
        }
      }
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: $lh * 3;

    ul {
      li {
        float: left;
        margin: 0 $gw-gutter $lh 0;
        width: grid-width(6);

        &:nth-child(2n) {
          margin-right: 0;
        }

        a {
          height: ($lh * 7) - 10px;
        }
      }
    }
  }
}
