#portfolio-slider {
  @extend .secondary-wrapper;
  height: $lh*26;
  margin-top: $lh*3;
  position: relative;

  div {
    @extend .secondary;
    h2 {
      text-shadow: 0 1px 0 #fcfcfc;
    }
    #slider-wrapper {
      height: $lh*21; /*makes sure the slider maintains line-height grid*/
    }

    ul.slider {
      background:url(images/loading.gif) no-repeat 50% 50%;
      border: 1px rgba(#000, .2) !important;
      height: ($lh*21)-(2); /*line-height minus 2 for the border to maintain baseline grid*/
      list-style: none;
      position: relative;
      width: grid-width(12);
      @include box-shadow(inset 0 1px 0 rgba(#fff, .4), 0 0 4px rgba(#000, .15));


      img {
          display:none;
          left:0px;
          position:absolute;
          top:0px;
      }

      a {
        display: block;
      }

      .nivo-controlNav {
        bottom: -42px;
        left: 260px;
        position: absolute;
      }

      div.nivo-directionNav  {
        a {
          background: url('/images/portfolio/arrows.png') 0 0 no-repeat;
          display: block;
          height: 40px;
          position: absolute;
          text-indent: -9999px;
          width: 21px;

          &.nivo-prevNav {
           background-position: 0 0;
           left: -60px;
           top: 44%;

           &:hover {
            background-position: 0 -40px;
           }
          }

          &.nivo-nextNav {
           background-position: -21px 0;
           right: -60px;
           top: 44%;

           &:hover {
            background-position: -21px -40px;
           }
          }
        }
      }
    }
  }
}

section#portfolio {
  @extend .clearfix;
  margin: 80px 0 40px;

  ul {
    @extend .clearfix;
    list-style: none;

    li {
      float: left;
      margin: 0 $gutter $lh 0;

      a {
        border: 1px solid #BDBDBD;
        display: block;
        height: ($lh*9)+10px; /*adding a 10px to account for the 1px border and 4px padding*/
        padding: 4px;
        text-indent: -9999px;
        width: grid-width(3)-(10px); /*minus the 10px from the 1px border and 4px padding*/

        &:hover {
          border-color: #999;
          @include transform(scale(1.01));
          @include box-shadow(0 0 3px #999);
        }
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &#pozit a {
        background: url('/images/portfolio/thumb/pozit.png') center center no-repeat;
      }
      &#gulfcoast a {
        background: url('/images/portfolio/thumb/gulfcoast.png') center center no-repeat;
      }
      &#coupondudes a {
        background: url('/images/portfolio/thumb/coupondudes.png') center center no-repeat;
      }
      &#gnite a {
        background: url('/images/portfolio/thumb/gnite.png') center center no-repeat;
      }
      &#carbonrally a {
        background: url('/images/portfolio/thumb/carbonrally.png') center center no-repeat;
      }
      &#saftystream a {
        background: url('/images/portfolio/thumb/saftystream.png') center center no-repeat;
      }
      &#shortboard a {
        background: url('/images/portfolio/thumb/shortboard.png') center center no-repeat;
      }
      &#umbrellatoday a {
        background: url('/images/portfolio/thumb/umbrellatoday.png') center center no-repeat;
      }
    }
  }
}

section#services {
  @extend .clearfix;

  margin-bottom: $lh*2;

  #about-services {
    float: left;
    margin-right: $gutter;
    width: grid-width(4);

    .learn-more {
      font: 16px $header;
    }
  }

  blockquote {
    float: left;
    width: grid-width(4)-$gutter;
  }

  section#clients {
    border-top: 5px solid $red;
    float: left;
    padding-top: ($lh*2)-(5px); /*line-height x 2 minus the five 5px border*/
    width: grid-width(4);

    h3 {
      color: rgba(#2b2b2b, .8);
    }

    ul {
      list-style: none;
      @extend .clearfix;

      li {
        color: #ABABAB;
        float: left;
        font-style: italic;
        margin-right: $gutter;
        width: grid-width(2);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    p {
      margin-bottom: 0;

      &.video {
        font: 16px $header;
        margin-top: $lh*2;

        a {
          background: url('/images/film-strip.png') 0 2px no-repeat;
          padding-left: 20px;
          @include transition(color .5s);

          &:hover {
            background-position:0 -17px;
          }
        }
      }
    }
  }
}

#get-started {
  padding: $lh 0 $lh*2;

  a {
    @extend .button;
    @extend .clearfix;
    font: 500 18px $header;

    h3 {
      color: #fff;
      float: left;
      margin-bottom: 0;
    }

    p {
      color: rgba(#fff, .8);
      float: right;
      font: 16px $header;
      line-height: ($lh)-4; /*line-height minus the 4px margin*/
      margin-bottom: 0;
      margin-top: 4px;
    }
  }
}

section#products {
  margin-bottom: $lh*3;

  h2 {
    text-shadow:  0 1px 0 #fcfcfc;
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin-right: $gutter;
      width: grid-width(4); /*change when radish is added*/

      &#hoptoad {

        a {
          div.product-logo {
            img {
              padding-top: 24px;
            }
          }
        }
      }

      &#copycopter {
        a {
          div.product-logo {
            img {
              padding-top: 28px;
            }
          }
        }
      }

      &#trajectory {
        a {
          div.product-logo {
            img {
              padding-top: 40px;
            }
          }
        }
      }

      &#radish {
        a {
          div.product-logo {
            img {
              padding-top: 21px;
            }
          }
        }
      }

      a {
        display: block;
        @include transition(all .5s);

        div.product-logo {
          /*background: url('/images/products/products_bg.png') 0 0 no-repeat;*/
          background: url('/images/products/products_bg_three.png') 0 0 no-repeat;
          height: ($lh*7)-(3);
          margin-bottom:  ($lh*2)+(3);

          img {
            display: block;
            margin: 0 auto;
          }
        }

        .check-out {
          @extend .external;
          color: $red;
          display: inline-block;
          font: 500 14px $header;
        }

        &:hover {
          background: rgba(#000, .04);
          @include box-shadow(0 0 0 8px rgba(#000, .04));

          div.product-logo {
            background-position: 0 100%;
          }

          h3, p {
            color: #000;
          }

          .check-out {
            color: darken($red, 10%);
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

section#workshops {
  @extend .clearfix;
  background: url('/images/shadowing-lite.png') center top no-repeat;
  border-top: 1px solid #DCDCDC;
  padding-top: ($lh*3)-(1); /*line-height x 3 minus 1px for the border*/

  h2 {
    text-shadow:  0 1px 0 #fcfcfc;
  }

  section#about-workshops {
    float: left;
    margin-right: $gutter;
    width: grid-width(4);
  }

  blockquote {
    float: left;
    width: grid-width(4)-$gutter;

    .author {
      color: #999;
    }
  }

  section#current-worshops {
    background: #F9F9F9;
    border-top: 5px solid #292929;
    float: left;
    margin-top: 10px;
    padding: ($lh*2)-(15) $lh $lh; /*top padding makes up for 5px border and 10px margin*/
    width: grid-width(4)-($lh*2); /*4 units minus left and right padding*/

    ul {
      @extend .clearfix;
      list-style: none;

      li {
        a {
          @extend .external;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}