section#services {
  @extend .clearfix;
  margin-bottom: lh();

  #about-services {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(4);

    p {
      font-weight: 400;
    }
  }

  blockquote {
    float: left;
    width: flex-grid(4);
    margin-right: 0;
    margin-left: -(flex-gutter());
  }

  section#clients {
    float: left;
    width: flex-grid(4);
    margin-right: flex-gutter();

    h3 {
      color: rgba(#2b2b2b, .8);
      font: 18px $header;
    }

    ul {
      list-style: none;
      @extend .clearfix;

      li {
        color: #ABABAB;
        float: left;
        font-style: italic;
        margin-right: flex-gutter(4);
        width: flex-grid(2, 4);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    #about-services {
      float: none;
      margin-right: flex-gutter();
      width: auto;
      margin-bottom: lh();
      border-bottom: 1px solid #dcdcdc;
      padding-bottom: lh();
    }

    blockquote {
      float: none;
      width: auto;
      padding-left: flex-gutter() * 3;
    }

    section#clients {
      float: none;
      width: auto;
      margin-top: lh(2);

      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
