section#portfolio {
  margin: 80px 0 40px;
  @extend .clearfix;

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin: 0 $gutter $lh 0;

      a {
        border: 1px solid #BDBDBD;
        display: block;
        height: ($lh*9)+10px;
        padding: 4px;
        text-indent: -9999px;
        width: ($unit*3)+($gutter*2)-(10px);

        &:hover {
          border-color: #999;
          @include transform(scale(1.01));
          @include box-shadow(0 0 3px #999);
        }
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &#pozit a {
        background: url('/images/portfolio/thumb/pozit.png') 4px 4px no-repeat;
      }
      &#gulfcoast a {
        background: url('/images/portfolio/thumb/gulfcoast.png') 4px 4px no-repeat;
      }
      &#coupondudes a {
        background: url('/images/portfolio/thumb/coupondudes.png') 4px 4px no-repeat;
      }
      &#gnite a {
        background: url('/images/portfolio/thumb/gnite.png') 4px 4px no-repeat;
      }
      &#carbonrally a {
        background: url('/images/portfolio/thumb/carbonrally.png') 4px 4px no-repeat;
      }
      &#saftystream a {
        background: url('/images/portfolio/thumb/saftystream.png') 4px 4px no-repeat;
      }
      &#shortboard a {
        background: url('/images/portfolio/thumb/shortboard.png') 4px 4px no-repeat;
      }
      &#umbrellatoday a {
        background: url('/images/portfolio/thumb/umbrellatoday.png') 4px 4px no-repeat;
      }
    }
  }
}

section#services {
  @extend .clearfix;

  margin-bottom: $lh*2;

  #about-services {
    float: left;
    margin-right: $gutter;
    width: ($unit*4)+($gutter*3);

    .learn-more {
      font: 16px $header;
    }
  }

  blockquote {
    float: left;
    width: ($unit*4)+($gutter*2);
  }

  section#clients {
    float: left;
    width: ($unit*4)+($gutter*3);
    border-top: 5px solid $red;
    padding-top: ($lh*2)-(5px);

    h3 {
      color: rgba(#2b2b2b, .8);
    }

    ul {
      list-style: none;
      @extend .clearfix;

      li {
        color: #ABABAB;
        float: left;
        font-style: italic;
        margin-right: $gutter;
        width: ($unit*2)+($gutter);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    p {
      margin-bottom: 0;

      &.video {
        font: 16px $header;
        margin-top: $lh*2;

        a {
          color: #ccc;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

#get-started {
  padding: $lh 0 $lh*2;

  a {
    background: #2B2B2B;
    display: block;
    font: 500 18px $header;
    line-height: $lh;
    padding: $lh*1.5;
    -webkit-font-smoothing: antialiased;
    @include transition(background .3s);
    @extend .clearfix;

    h3 {
      color: #fff;
      margin-bottom: 0;
      float: left;
    }

    p {
      color: rgba(#fff, .6);
      float: right;
      font: 16px $header;
      line-height: ($lh)-4;
      margin-bottom: 0;
      margin-top: 4px;
    }

    &:hover {
      background: $red;
    }
  }
}

section#products {
  margin-bottom: $lh*3;

  h2 {
    text-shadow:  0 1px 0 #fcfcfc;
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      float: left;
      margin-right: $gutter;
      width: ($unit*3)+($gutter*2);

      &#hoptoad {
        a {
          background: url('/images/products/hoptoad.png') 0 0 no-repeat;
        }
      }
      &#copycopter {
        a {
          background: url('/images/products/copycopter.png') 0 0 no-repeat;
        }
      }
      &#trajectory {
        a {
          background: url('/images/products/trajectory.png') 0 0 no-repeat;
        }
      }
      &#radish {
        a {
          background: url('/images/products/radish.png') 0 0 no-repeat;
        }
      }


      a {
        display: block;
        padding-top: $lh*9;

        .check-out {
          color: $red;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

section#workshops {
  background: url('/images/shadowing-lite.png') center top no-repeat;
  border-top: 1px solid #DCDCDC;
  padding-top: ($lh*3)-(1);
  @extend .clearfix;

  h2 {
    text-shadow:  0 1px 0 #fcfcfc;
  }

  section#about-workshops {
    float: left;
    margin-right: $gutter;
    width: ($unit*4)+($gutter*3);
  }

  blockquote {
    float: left;
    width: ($unit*4)+($gutter*2);

    .author {
      color: #999;
    }
  }

  section#current-worshops {
    background: #F9F9F9;
    border-top: 5px solid #292929;
    float: left;
    padding: ($lh*2)-(5px) $lh $lh;
    width: ($unit*4)+($gutter*3)-(40px);

    ul {
      list-style: none;
      @extend .clearfix;

      li {
        a {
          color: #888;
          font-style: italic;

          &:hover {
            color: $red;
          }
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}