section#services {
  @extend .clearfix;
  margin-bottom: $lh;

  #about-services {
    float: left;
    margin-right: $gw-gutter;
    width: grid-width(4);

    p {
      font-weight: 400;
    }
  }

  blockquote {
    float: left;
    width: grid-width(4);
    margin-right: 0;
    margin-left: -($gw-gutter);
  }

  section#clients {
    float: left;
    width: grid-width(4);
    margin-right: $gw-gutter;

    h3 {
      color: rgba(#2b2b2b, .8);
      font: 18px $header;
    }

    ul {
      list-style: none;
      @extend .clearfix;

      li {
        color: #ABABAB;
        float: left;
        font-style: italic;
        margin-right: $gw-gutter;
        width: grid-width(6);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 750px), screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
    #about-services {
      float: none;
      margin-right: $gw-gutter;
      width: auto;
      margin-bottom: $lh;
      border-bottom: 1px solid #dcdcdc;
      padding-bottom: $lh;
    }

    blockquote {
      float: none;
      width: auto;
      padding-left: $gw-gutter * 3;
    }

    section#clients {
      float: none;
      width: auto;
      margin-top: $lh*2;

      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          margin-right: $gw-gutter;
          width: grid-width(6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
