@media screen and (max-width: 740px) {
 .wrapper {
   max-width: 480px;
 }

 h1 {
   #page-header & {
     font-size: 40px;
     line-height: $lh*2;
   }
 }

 // header
  header#main-header {
    nav#main-nav {
      h1 {
        a {
          background-position: center center;
        }
      }

      ul {
        margin-top: 0;

        li {
          width: grid-width(6);
          float: left;

          a {
            text-align: center;
            padding: $lh;
          }
        }
      }
    }
  }

  // footer
  footer#main-footer {
    nav {
      section {
        float: none;
        width: grid-width(12);
        margin-right: 0;
        margin-top: $lh * 2;

        &#thoughtbot-footer, &#footer-products {
          float: left;
          width: grid-width(6);
          margin-top: 0;
        }

        &#thoughtbot-footer {
          margin-right: $gw-gutter;
        }

        &#current-workshops-footer, &#blog-footer {
          width: grid-width(12);
          float: none;
          @extend .clearfix;
          clear: both;
        }
      }
    }
  }


  // Index - portfolio
  section#portfolio {
    ul {
      li {
        float: left;
        margin: 0 $gw-gutter $lh 0;
        width: grid-width(6);

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  section#services {
    #about-services {
      float: none;
      margin-right: $gw-gutter;
      width: auto;
      margin-bottom: $lh*2;
    }

    blockquote {
      float: none;
      width: auto;
      padding-left: $gw-gutter*3;
    }

    section#clients {
      float: none;
      width: auto;
      margin-top: $lh*2;

      ul {
        list-style: none;
        @extend .clearfix;

        li {
          float: left;
          margin-right: $gw-gutter;
          width: grid-width(6);

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  section#products {
    margin-bottom: $lh*2;

    ul {
      li {
        float: left;
        width: grid-width(12);
        margin-bottom: $lh*2;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  section#workshops {
    section#about-workshops {
      float: none;
      width: auto;
      margin: 0;
    }

    blockquote {
      float: none;
      width: auto;
      padding-left: $gw-gutter*3;
      margin-top: $lh * 2;
    }

    section#current-workshops {
      float: left;
      width: grid-width(12);
      margin-top: $lh * 2;
    }
  }


  // Community
  body#community {
    section.open-source {
      ul {
        li {
          width: grid-width(6);
          margin-right: $gw-gutter;

          &:nth-child(2n) {
            margin-right: 0;
          }

          &.highlighted {
            border: none;
            padding: 0;

            &.paperclip a, &.factory-girl a {
              padding: 0;
              background-image: none;
            }
          }
        }
      }
    }

    section#events {
      p.events-intro {
        float: none;
        width: grid-width(12);
      }

      ul li {
        float: none;
        width: grid-width(12);
        margin-bottom: $lh;
      }
    }
  }
}
