body {
  background: #fff;
  border-top: 4px solid #ad141e;
  color: #444;
  font-size: em(14);
  font-family: $serif;
  line-height: lh();
}

iframe#tumblr_controls, #disqus_thread #main-nav {
  display: none;
}

section#container {
  @include clearfix();
  @include fill-parent();
  margin: 0 auto;
  padding: lh() 10px lh();

  header {
    @include clearfix();
    // border-bottom: 1px solid #ddd;
    margin: lh(2) 0 lh() 0;
    padding: 0 0 lh(2) 0;

    h2.logo {
      text-align: center;
    }

    hgroup {
      text-align: center;

      h2 {
        font: 700 1em/1.4em $sans-serif;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        letter-spacing: 1px;

        a {
          color: #333;
          font-weight: 700;
          text-decoration: none;

          &:hover {
            color: $red;
          }
        }
      }

      h3 {
        color: #999;
        font: 400 0.9em/1em $serif;
        font-style: italic;

        a {
          color: #777;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  section#posts {
    .post {
      border-bottom: 1px solid #eee;
      @include fill-parent();
      margin: 0 0 lh(2) 0;
      padding: 0 20px lh(2) 20px;

      .meta-info {
        text-align: center;

        p.post-date {
          margin: 0 auto lh() auto;
          font-size: em(14);
          width: 50%;

          &:before {
            content: "\2014";
            @include inline-block;
            padding-right: 8px;
          }

          &:after {
            content: "\2014";
            @include inline-block;
            padding-left: 8px;
          }

          a {
            color: #aaa;
            font-weight: 400;
          }
        }

        p.tagged {
          display: none;
          font-size: em(12, 14);
          font-family: $sans-serif;
          text-transform: uppercase;
          margin-bottom: lh(.5);

          a {
            font-style: normal;
          }
        }

        a {
          color: #777;
          font-weight: normal;
          font-style: italic;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }

        ul.tags {
          display: none;
          color: #777;
          font-size: em(12, 14);
          margin: 0 0 lh(1.5) 0;
        }

        p.comments {
          display: none;
        }
      }

      h2 {
        color: #111;
        font-size: em(16, 14);
        font-weight: 700;
        font-family: $sans-serif;
        margin: lh(2) 0 0 0;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      h3 {
        font-size: em(16, 14);
        font-family: $sans-serif;
        margin: lh(2) 0 0 0;
        color: #333;
        margin: lh() 0 0 0;
      }

      h4 {
        color: #333;
        font-style: italic;
        margin: lh() 0 0px 0;
      }

      p {
        margin: 0 0 lh() 0;
      }

      blockquote {
        color: #555;
        font-style: italic;
        margin: 0 0 12px 0;
        padding: 0 30px 0 30px;

        p {
          color: #555;
          font-style: italic;
        }
      }

      ul {
        margin: 0 0 lh() 0;

        li {
          margin: 0 0 4px 0;
          position: relative;

          &:after {
            content: "\2022";
            font-size: 18px;
            font-weight: 700;
            left: -12px;
            position: absolute;
            top: -2px;
          }
        }
      }

      ol {
        margin: 0 0 lh() 0;

        li {
          list-style: outside;
          list-style-type: decimal;
          margin: 0 0 4px 0;
          position: relative;
        }
      }

      img {
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }

      a {
        color: $red;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          text-decoration: underline
        }
      }

      em {
        font-style: italic;
      }

      strong {
        font-weight: 700;
      }

      table {
        margin-bottom: 12px;
        width: 100%;

        tr {
          border-bottom: 1px solid #ddd;
        }

        td,
        th {
          padding: 4px;
          width: 50%;
        }

        th {
          font-weight: 700;
          text-align: left;
        }
      }

      dl {
        margin: 10px 0 20px;

        dt {
        }

        dd {
          margin: 0 0 8px 20px;
        }
      }

      section.post-footer {
        margin: 20px 0 0 0;
        padding: 20px 0;

        p.author {
          float: left;
          font-style: italic;
          left: -12px;
          position: relative;

          &:before {
            content: "\2014";
          }
        }

        p.comments {
          float: right;
          font: 400 14px/14px $sans-serif;
        }

        .plus-one {
          float: right;
          font: 400 14px/14px $serif;
        }

        div.tags {
          clear: both;
          display: block;
          font-size: 10px;
          opacity: 0.7;
          padding-top: 5px;

          ul {
            display: inline-block;

            li {
              display: inline-block;
              font: 400 13px/14px $serif;
              font-style: italic;
              line-height: 1.5em;
              list-style: none;
              margin: 0 10px 0 2px;
              position: relative;

              &:before {
                content: ",";
                display: inline-block;
                font-size: 12px;
                position: absolute;
                right: -5px;
                top: 0;
              }

              &:after {
                content: '';
              }

              &:last-child {
                &:before {
                  content: '';
                }
              }

              &:first-child {
                padding-left: 50px;

                &:after {
                  content: 'Tagged:';
                  font-size: em(12, 14);
                  font-family: $sans-serif;
                  font-weight: 400;
                  left: 0;
                  top: 0;
                }
              }

              a {
                color: #777;
                font-weight: normal;
                text-decoration: none;
              }
            }
          }
        }
      }

      // Text posts
      h1.title {
        font-family: $sans-serif;
        font-size: em(42);
        font-weight: 300;
        line-height: lh(2);
        margin: 0 0 30px 0;
        text-align: center;
        text-transform: none;
        word-wrap: break-word;

        a {
          color: #111;
          font-weight: 300;
          text-decoration: none;
        }
      }

      // Photo and video posts
      &.photo,
      &.video {
        .meta-info {
          top: 0px;
        }

        .caption {
          margin-top: 8px;
        }
      }

      // Video container
      .video-container {
        height: 0;
        margin-bottom: 15px;
        overflow: hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
        position: relative;

        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      // Link posts
      &.link {
        .meta-info {
          top: 10px;
        }
      }

      // Quote posts
      &.quote {
        .meta-info {
          top: 8px;
        }

        q {
          font-size: em(18, 14);
          position: relative;

          &:before {
            color: #333;
            content: '\201C';
            font-size: 36px;
            left: -20px;
            position: absolute;
            top: 4px;
          }

          & q:before {
            content: '\2018';
          }

          & q:after {
            content: '\2019';
          }
        }

        p.source {
          left: -16px;
          margin: 10px 0 0 0;
          position: relative;
        }

        &.medium,
        &.long {
          q {
            font-size: em(18, 14);
            font-family: $serif;
          }
        }

        .post-footer {
          p.comments {
            padding-bottom: 0px;
            position: relative;
            top: -18px;
          }
        }
      }
    }
  }
}

.old img {
  float: none !important;
}

// Pagination
#pagination {
  padding: 0 15px;
  margin-top: -40px;
  margin-bottom: 20px;
  @include fill-parent();
  display: inline-block;
}

#pagination a {
  color: #444;
  font-weight: 700;
  font-size: 1em;
  font-family: $sans-serif;
  padding: 6px 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#pagination a:hover {
  color: #000;
}

#pagination #older-link {
  float: left;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
}

#pagination #older-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") 0 10px no-repeat;
  margin: 0 0 0 -3px;
}

#pagination #newer-link {
  float: right;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  text-align: right;
}

#pagination #newer-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") right -18px no-repeat;
  margin: 0 -3px 0 0;
}

// footer
footer {
  background: #efefef;
  border-top: 1px solid #e0e0e0;
  padding: 25px;

  section#footer-container {
    @include clearfix();
    margin: 0 auto;

    section.etc {
      display: block;
      margin-bottom: lh();

      p {
        color: #777;

        a {
          color: $red;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      nav {
        display: inline-block;
        margin: 0;

        ul {
          @include clearfix();
          text-align: center;
          margin: 0;

          li {
            display: inline-block;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            a {
              display: block;
              height: 42px;
              @include hide-text;
              @include transition(0.5s);
              width: 42px;
            }
          }
        }
      }
    }

    section#promo {
      display: block;
      border: 1px solid #DEDEDE;
      @include border-radius(3px);
      @include clearfix();
      padding: lh(.5);

      a {
        text-decoration: none;
        @include transition;

        &:hover {
          @include box-shadow(0 0 0 6px rgba(0, 0, 0, 0.04));
        }

        img {
          float: left;
          margin-right: lh();
        }

        span {
          color: #777;
          display: block;

          &.promo-creative {
            color: #333;
            font-weight: bold;
            font-family: $sans-serif;
            font-size: em(16, 14);
            line-height: 1em;
          }
        }
      }
    }
  }
}

a {
  &#twitter {
    background: url("http://thoughtbot.com/assets/giantrobots/images/twitter.svg") -8px -1px no-repeat;

    &:hover {
      background-position: -8px -48px;
    }
  }

  &#contact {
    background: url("http://thoughtbot.com/assets/giantrobots/images/contact.svg") 0 -1px no-repeat;

    &:hover {
      background-position: 0 -47px;
    }
  }

  &#rss {
    background: url("http://thoughtbot.com/assets/giantrobots/images/rss.svg") 0px 0px no-repeat;

    &:hover {
      background-position: 0px -47px;
    }
  }
}
