<article class="beginner">
  <div class="content-wrapper">
    <h2>Not very comfortable with iOS development yet?</h2>
    <p>
      You have no programming experience, or you haven't been programming with
      iOS for very long. You haven't done Swift, or Test Driven Development.
      Try Upcase.  For developers looking to get more involved with iOS, Upcase
      provides a set of workshops, exercises, and trails to help you with your
      learning.
    </p>

    <a href="https://thoughtbot.com/upcase?utm_source=apprenticeio" class="button">Complete your pre-requisites at Upcase</a>
  </div>
</article>

<article class="intermediate content-wrapper">
  <h2>We are looking for intermediate iOS&nbsp;developers</h2>
  <p>
    Our development apprenticeship will take you from intermediate level to a
    full iOS developer at thoughtbot.
  </p>

  <ul class="checklist">
    <li>
      You've built and shipped at least one iOS&nbsp;app.
    </li>
    <li>
      You are able to work effectively in iOS.
    </li>
  </ul>

  <p>In other words, you have the raw materials and trainability to do this job phenomenally well given the right mentorship. If these all apply to you, you're exactly who we want!</p>
</article>
