#container, html.embed {
  background: none;
}

form.wufoo {
  padding-left: 120px;
  padding-top: 0;
}

.wufoo .info {
  display: none;
}

.wufoo li.focused {
  background: none;
}

.wufoo li div {
  width: 430px;
  clear: both;
}

.wufoo label.desc,
li#fo8li31 label.desc {
  float: left;
  clear: both;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #bda287;
  margin: 15px 0 10px 0;
  padding: 0;
  width: 420px;
}

li#fo8li31 label.desc {
  width: 500px;
  text-indent: 9px;
}

.wufoo select.select {
  float: left;
  clear: both;
  width: 300px !important;
  font-weight: bold;
  color: #222;
  font-size: 14px;
  padding: 5px 0;
}

.wufoo input.file,
.safari .wufoo input.file {
  color: #222;
  background: #ffeedf;
  border: 1px solid #12110f;
  padding: 5px;
}

.safari .wufoo input.file {
  width: 430px;
  -webkit-border-radius: 5px;
}

.wufoo input.text {
  padding: 11px 5px 7px 5px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #12110f;
  background: #ffeedf url(http://thoughtbot.github.com/images/text-field.png) 0px 0px repeat-x;
  width: 430px;
}

.wufoo input.text:focus {
  background: #ffe2ac url(http://thoughtbot.github.com/images/text-field.png) 0px -40px repeat-x;
}

form li.buttons input {
  border: 0;
  width: 141px;
  height: 58px;
  background: url(http://thoughtbot.github.com/images/submit.png) 0px 0px no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  margin-top: 30px;
  line-height: 300px;
}

form li.buttons input:hover {
  background: url(http://thoughtbot.github.com/images/submit.png) 0px -58px no-repeat;
}

form.wufoo li span.req {
  color: #cb342e !important;
  padding: 0;
}

form.wufoo .section h4 {
  float: left;
  clear: both;
  margin-bottom: -5px;
}

form.wufoo input {
  float: left;
  clear: both;
}

form .hr {
  float: left;
  width: 450px;
  margin: 25px 0 10px 0;
}

.wufoo textarea.textarea {
  background: #ffeedf url(http://thoughtbot.github.com/images/textarea.png) 0px 0px repeat-x;
  float: left;
  clear: both;
  width: 430px;
  padding: 5px;
  height: 190px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #12110f;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wufoo textarea.textarea:focus {
  background: #ffe2ac url(http://thoughtbot.github.com/images/textarea-focus.png) 0px 0px repeat-x;
}

.wufoo input#Field31,
.wufoo input#Field32 {
  width: 203px;
}

.wufoo input#Field31 {
  clear: left;
}

.wufoo input#Field32 {
  clear: none;
}

li#fo8li31 label {
  float: left;
  width: 196px;
  padding: 3px;
  font-style: italic;
  color: #cacaca;
  font-size: 12px;
}

li#fo8li31 span {
  margin-left: 8px;
}

li#fo8li31 span.req {
  margin: 0;
}

li#fo8li31 {
  margin-left: -8px;
  width: 500px;
}

#first-name {
  clear: both;
}

.wufoo li.focused,
.wufoo li.focused label.desc, 
.wufoo li.focused div, 
.wufoo li.focused span, 
.wufoo li.focused div label, 
.wufoo li.focused span label {
  color: #BDA287;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

form li {
  padding: 0;
}

.wufoo .section {
  border: 0;
  float: left;
  width: 450px !important;
  margin: 25px 0 10px 0;
  clear: both;
  height: 1px;
  line-height: 1px;
  background: #000;
  border-bottom:1px solid #313131;
  padding: 0;
}

.wufoo p.instruct {
  background: #fff;
  font-style: italic;
  font-family: Georgia, sans-serif;
  margin-top: 55px;
  margin-right: 225px;
  border: 1px solid #322d27;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 3px 3px 3px #000;
  -webkit-box-shadow: 3px 3px 3px #000;
}

.wufoo p.instruct small {
  line-height: 135%;
}

/* Error stuff */
#errorLi {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background: #a00c0f url(http://thoughtbot.github.com/images/errorli.png) left bottom repeat-x !important;
  border: 1px solid #560001;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 420px !important;
  float: left;
  -moz-box-shadow: 3px 3px 3px #000;
  -webkit-box-shadow: 3px 3px 3px #000;
}

#errorMsgLbl {
  color: #fff !important;
  font-size: 125%;
  margin: 0;
  padding: 0;
}

#errorMsg {
  color: #cacaca !important;
  margin: 3px 0 0 0;
  font-size: 12px;
}

#errorMsg strong {
  color: #FF4448 !important;
  padding: 0 0 0 30px;
  width: 70px;
  height: 24px;
  font-size: 10px;
  line-height: 27px;
  display: inline-block;
  background: transparent url(http://thoughtbot.github.com/images/errorhighlighted.png) 0px 0px no-repeat !important;
}

form li.error {
  background: none !important;
  display:block !important;
  margin-bottom: 0px !important;
}

form li.error label, form li.error span.symbol {
  color: #cacaca !important;
}

form li.error label.desc {
  color: #BDA287 !important;
}

form.wufoo li.error span.req {
  color: #cb342e !important;
}

form li.error input.text,
form li.error input.text:focus {
  background: #9d0b0e url(http://thoughtbot.github.com/images/error-textfield.png) 0px 0px repeat-x;
  color: #fff;
  font-weight: bold;
  border: 1px solid #510002;
}

form p.error {
  color: #ff4448 !important;
}

li#fo8li31 p.error {
  text-indent: 33px;
  background: url(http://thoughtbot.github.com/images/input-error-icon.png) 11px 5px no-repeat;
}

form p.error {
  text-indent: 24px;
  background: url(http://thoughtbot.github.com/images/input-error-icon.png) 2px 5px no-repeat;
  height: 20px;
  line-height: 16px !important;
  padding: 4px 0 0 0 !important;
}

form li.error textarea.textarea,
form li.error textarea.textarea:focus {
  background: #9d0b0e url(http://thoughtbot.github.com/images/error-textfield.png) 0px 0px repeat-x;
  color: #fff;
  font-weight: bold;
  border: 1px solid #510002;
}

/* Success stuff */
iframe#wufooFormx7x1x7 .embed .confirm h2 {
  padding: 0;
  margin: 10px 0 0 -120px;
  text-indent: -9999px;
  width: 830px;
  height: 392px;
  display: block;
  background: url(/images/ralph-contact.jpg) 0px 0px no-repeat;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}

iframe#wufooFormp7x2z7 .embed .confirm h2 {
  width: 600px;
  height: 283px;
  background: url(/images/ralph-contact-small.jpg) 0px 0px no-repeat;
}