h1#logo {
  clear: both;
  text-indent: -9999px;
  width: 263px;
  height: 90px;
  margin: 0 auto 20px;
  *margin-bottom: 0;
  position: relative;
}

h1#logo a {
  display: block;
  background: url(/images/thoughtbot-tab-logo.png) 0px 0px no-repeat;
  width: 263px;
  height: 89px;
  top: 13px;
  *top: -8px;
  position: relative;
}

ul#main-nav {
  z-index: 2;
  position: relative;
  margin-top: 21px;
  margin-bottom: 0;
  list-style-type: none;
}

ul#main-nav li {
  width: 110px;
  height: 52px;
  float: left;
  text-indent: -9999px;
  line-height: 0;
}

ul#main-nav li a {
  display: block;
  width: 110px;
  height: 52px;
}

ul#main-nav li#nav-ralph {

  width: 220px;
  background: url(/images/nav.png) -330px 0px no-repeat;
}

img#eyes {
  position: absolute;
  left: 431px;
  top: 9px;
  *top: 30px;
  z-index: 3;
}

a#contact-btn {
  position: absolute;
  right: 7px;
  top: 78px;
  *top: 99px;
}

ul#main-nav li#nav-ralph a {
  width: 220px;
  height: 118px;
  margin-top: -13px;
  background: url(/images/ralph-logo.png) 0px 0px no-repeat;
}

ul#main-nav li#nav-ralph a:hover {
  background: url(/images/ralph-logo.png) 0px -118px no-repeat;
}


li#nav-services a {
  background: url(/images/nav.png) 0px 0px no-repeat;
}

li#nav-services a:hover {
  background: url(/images/nav.png) 0px -52px no-repeat;
}

li#nav-services a:active,
li#nav-services a:focus {
  background: url(/images/nav.png) 0px -104px no-repeat;
}

li#nav-portfolio a {
  background: url(/images/nav.png) -110px 0px no-repeat;
}

li#nav-portfolio a:hover {
  background: url(/images/nav.png) -110px -52px no-repeat;
}

li#nav-portfolio a:active,
li#nav-portfolio a:focus {
  background: url(/images/nav.png) -110px -104px no-repeat;
}

li#nav-clients a {
  background: url(/images/nav.png) -220px 0px no-repeat;
}

li#nav-clients a:hover {
  background: url(/images/nav.png) -220px -52px no-repeat;
}

li#nav-clients a:active,
li#nav-clients a:focus {
  background: url(/images/nav.png) -220px -104px no-repeat;
}

li#nav-about a {
  background: url(/images/nav.png) -550px 0px no-repeat;
}

li#nav-about a:hover {
  background: url(/images/nav.png) -550px -52px no-repeat;
}

li#nav-about a:active,
li#nav-about a:focus {
  background: url(/images/nav.png) -550px -104px no-repeat;
}

li#nav-community a {
  background: url(/images/nav.png) -660px 0px no-repeat;
}

li#nav-community a:hover {
  background: url(/images/nav.png) -660px -52px no-repeat;
}

li#nav-community a:active,
li#nav-community a:focus {
  background: url(/images/nav.png) -660px -104px no-repeat;
}

li#nav-blog a {
  background: url(/images/nav.png) -770px 0px no-repeat;
}

li#nav-blog a:hover {
  background: url(/images/nav.png) -770px -52px no-repeat;
}

li#nav-blog a:active,
li#nav-blog a:focus {
  background: url(/images/nav.png) -770px -104px no-repeat;
}

body#services li#nav-services a {
  background: url(/images/nav.png) 0px -156px no-repeat;
}

body#portfolio li#nav-portfolio a {
  background: url(/images/nav.png) -110px -156px no-repeat;
}

body#about li#nav-about a {
  background: url(/images/nav.png) -550px -156px no-repeat;
}

body#clients li#nav-clients a {
  background: url(/images/nav.png) -220px -156px no-repeat;
}

body#community li#nav-community a {
  background: url(/images/nav.png) -660px -156px no-repeat;
}