/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  color: #222;
  font-size: 13px;
  font-family: arial, "helvetica neue", helvetica, "lucida grande", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif; }

/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 1em;
  padding: 0.8em; }

div.error,
#flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

div.error a,
#flash_failure a {
  color: #D12F19; }

div.notice,
#flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134; }

div.notice a,
#flash_notice a {
  color: #817134; }

div.success,
#flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214; }

div.success a,
#flash_success a {
  color: #529214; }

/* Misc classes and elements */
/* Use a .box to create a padded box inside a column.  */
.box {
  background: #eee;
  margin-bottom: 1.5em;
  padding: 1.5em; }

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  margin: 0 0 1.4em;
  width: 100%; }

hr.space {
  background: #fff;
  color: #fff; }

/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .primary:before, #design-portfolio:before, div#contact-content:before, section#people:before, div#jobs-wrapper:before, .secondary:before, #portfolio-slider div:before, section#events:before, form.wufoo ul li.name:before, header#main-header:before, header#main-header ul:before, footer#main-footer:before, footer#main-footer nav:before, section#portfolio:before, section#portfolio ul:before, section#services:before, section#services section#clients ul:before, #get-started a:before, section#products ul:before, section#workshops:before, section#workshops section#current-workshops ul:before, section#open-source ul:before, section#events ul:before, section#people ul:before, section#people ul li:before, div#jobs-wrapper section#current-openings ul:before, .clearfix:after, .primary:after, #design-portfolio:after, div#contact-content:after, section#people:after, div#jobs-wrapper:after, .secondary:after, #portfolio-slider div:after, section#events:after, form.wufoo ul li.name:after, header#main-header:after, header#main-header ul:after, footer#main-footer:after, footer#main-footer nav:after, section#portfolio:after, section#portfolio ul:after, section#services:after, section#services section#clients ul:after, #get-started a:after, section#products ul:after, section#workshops:after, section#workshops section#current-workshops ul:after, section#open-source ul:after, section#events ul:after, section#people ul:after, section#people ul li:after, div#jobs-wrapper section#current-openings ul:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after, .primary:after, #design-portfolio:after, div#contact-content:after, section#people:after, div#jobs-wrapper:after, .secondary:after, #portfolio-slider div:after, section#events:after, form.wufoo ul li.name:after, header#main-header:after, header#main-header ul:after, footer#main-footer:after, footer#main-footer nav:after, section#portfolio:after, section#portfolio ul:after, section#services:after, section#services section#clients ul:after, #get-started a:after, section#products ul:after, section#workshops:after, section#workshops section#current-workshops ul:after, section#open-source ul:after, section#events ul:after, section#people ul:after, section#people ul li:after, div#jobs-wrapper section#current-openings ul:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix, .primary, #design-portfolio, div#contact-content, section#people, div#jobs-wrapper, .secondary, #portfolio-slider div, section#events, form.wufoo ul li.name, header#main-header, header#main-header ul, footer#main-footer, footer#main-footer nav, section#portfolio, section#portfolio ul, section#services, section#services section#clients ul, #get-started a, section#products ul, section#workshops, section#workshops section#current-workshops ul, section#open-source ul, section#events ul, section#people ul, section#people ul li, div#jobs-wrapper section#current-openings ul {
  zoom: 1; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.25em; }

h2 {
  font-size: 1.6em;
  line-height: 1.1;
  margin-bottom: 0.25em; }

h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 0.25em; }

h4 {
  font-size: 1.1em;
  line-height: 1.25;
  margin-bottom: 0.25em; }

h5 {
  font-size: 1em;
  margin-bottom: 0.25em; }

h6 {
  font-size: 1em;
  margin-bottom: 0.25em; }

/* Text elements */
p {
  margin-bottom: 0.5em; }

p.last {
  margin-bottom: 0; }

p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

/* Use this if the image is at the top of the <p>. */
p img.top {
  margin-top: 0; }

img {
  margin: 0 0 1.5em; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

address {
  font-style: italic;
  margin-top: 1.5em; }

del {
  color: #666; }

a, a:link {
  color: #1a4882;
  text-decoration: underline; }

a:visited {
  color: #1a4882; }

a:hover {
  color: #052246; }

a:active,
a:focus {
  color: #1a4882; }

blockquote {
  border-left: 4px solid #d1d1d1;
  color: #666;
  font-style: italic;
  margin: 1.5em 0;
  padding-left: 1em; }

strong {
  font-weight: bold; }

em,
dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

pre, code {
  margin: 1.5em 0;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

pre, code, tt {
  font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5; }

pre.code {
  background: #000;
  color: #fff;
  padding: 20px; }

tt {
  display: block;
  line-height: 1.5;
  margin: 1.5em 0; }

/* Forms */
/*removes dotted outline on submit buttons when clicking in firefox */
input[type="submit"]::-moz-focus-inner {
  border: none; }

form ol {
  list-style: none;
  margin: 0 0 1em 0; }

form ol ol {
  margin-left: 0; }

form ol li {
  list-style-position: outside;
  margin: 0 0 1em 0; }

/*list-style-position fixes IE label margin bug*/
form ol ol li {
  list-style-position: outside;
  margin: 0 0 .25em 0; }

form ol li.error input {
  background: #FBE3E4; }

p.inline-errors {
  color: #D12F19; }

form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px; }

form abbr {
  border-bottom: 0; }

label {
  display: block; }

.required label {
  font-weight: bold; }

.checkbox_field label,
.radio_field label {
  font-weight: normal; }

a.cancel {
  color: #7d0d0d; }

.inline-hints {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 0.25em; }

/* Fieldsets */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 1.5em 0;
  padding: 1.5em 1.5em 1em 1.5em; }

fieldset fieldset,
fieldset fieldset fieldset {
  border: 0;
  padding: 0; }

legend {
  font-weight: bold; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0; }

fieldset.buttons li {
  display: inline; }

.radio fieldset {
  margin: 0;
  padding: 0; }

/* Text fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px; }

.ie6 input {
  vertical-align: text-bottom; }

input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle; }

.radio label {
  padding: 0; }

/* Textareas */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  width: 440px;
  overflow: auto; }

/* Select fields */
fieldset .select select {
  width: 200px;
  font-size: 0.9em; }

optgroup {
  margin: 0 0 .5em 0; }

/* Date & Time */
form ol li.date ol li,
form ol li.time ol li {
  display: inline; }

form ol li.datetime ol li {
  display: inline-block; }

form ol li.datetime select,
form ol li.date select,
form ol li.time select {
  display: inline;
  width: auto; }

form ol li.date label,
form ol li.time label {
  display: none; }

/* Tables */
table {
  margin-bottom: 2em;
  width: 100%; }

th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd; }

caption, th, td {
  padding: 4px 10px 4px 0; }

caption {
  background: #f1f1f1;
  margin-bottom: 1em;
  padding: 10px 0; }

tr, td, th {
  vertical-align: middle; }

/* Use this if you use span-x classes on th/td. */
table .last {
  padding-right: 0; }

/* Lists */
ul, ol {
  list-style-position: inside;
  margin-bottom: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  line-height: 1.4;
  margin-bottom: 1.5em; }

dl dt {
  font-weight: bold;
  margin-top: 0.5em; }

dl dd {
  margin-bottom: 0em; }

dd {
  margin-left: 0.5em; }

li {
  line-height: 1.4; }

ol ol, ol ul, ul ul, ul ol {
  margin-left: 1em; }

/*
 * jQuery Nivo Slider v2.5.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  /* Overridden by captionOpacity setting */
  width: 100%;
  z-index: 8; }

.nivo-caption p {
  padding: 5px;
  margin: 0; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer; }

.nivo-prevNav {
  left: 0px; }

.nivo-nextNav {
  right: 0px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
  position: relative;
  z-index: 9;
  cursor: pointer; }

.nivo-controlNav a.active {
  font-weight: bold; }

/* Variables
---------------------------------------- */
/*thoughtbot red*/
/*line-hieght of all the type on the site*/
/*one grid column*/
/*size of one gutter*/
/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, .primary:after, #design-portfolio:after, div#contact-content:after, section#people:after, div#jobs-wrapper:after, .secondary:after, #portfolio-slider div:after, section#events:after, form.wufoo ul li.name:after, header#main-header:after, header#main-header ul:after, footer#main-footer:after, footer#main-footer nav:after, section#portfolio:after, section#portfolio ul:after, section#services:after, section#services section#clients ul:after, #get-started a:after, section#products ul:after, section#workshops:after, section#workshops section#current-workshops ul:after, section#open-source ul:after, section#events ul:after, section#people ul:after, section#people ul li:after, div#jobs-wrapper section#current-openings ul:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* basic site styles
---------------------------------------- */
body {
  background-color: #FCFCFC;
  /*background: url('/images/grid.png') 10px -4px;*/
  border-top: 4px solid #ad141e;
  color: #2B2B2B;
  font: 14px "skolar-1", "skolar-2", Georgia, serif;
  text-align: center; }

.wrapper, .primary, #design-portfolio, div#contact-content, section#people, div#jobs-wrapper, .secondary, #portfolio-slider div, section#events, header#main-header, footer#main-footer {
  margin: 0 auto;
  text-align: left;
  width: 995px; }

h1, h2, h3, h4, h5, h5, h6 {
  font-family: "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility; }

h1 {
  color: #2b2b2b;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px; }

h2 {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 200;
  line-height: 40px;
  margin-bottom: 40px; }

h3 {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px; }

h4 {
  line-height: 20px;
  margin: 0; }

p {
  color: #555;
  line-height: 20px;
  margin-bottom: 20px; }

ul {
  list-style-position: outside;
  margin-bottom: 20px; }
  ul li {
    line-height: 20px; }

img {
  display: block;
  vertical-align: bottom; }

blockquote {
  background: url("/images/quote.png") no-repeat;
  border: 0;
  font: 200 18px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 25px 0 0;
  padding-left: 25px; }
  blockquote p {
    line-height: 30px; }
  blockquote p.author {
    color: #bbb;
    font: italic 14px "skolar-1", "skolar-2", Georgia, serif;
    line-height: 20px;
    margin: 0; }

a:link, a:active {
  color: #ad141e;
  text-decoration: none; }
a:visited {
  color: #96111a; }
a:hover {
  color: #db1926;
  text-decoration: none; }

.button, form.wufoo ul li input#saveForm, #get-started a, div#contact-content section#contact-info section#hire-thoughtbot a, div#jobs-wrapper.job-description section#apply-to-thoughtbot a {
  background: #ad141e;
  border: 1px solid #52090e;
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 30px;
  font: 700 24px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 0 #7f0f16;
  -webkit-box-shadow: inset 0 1px 0 #e93e49;
  -moz-box-shadow: inset 0 1px 0 #e93e49;
  -ms-box-shadow: inset 0 1px 0 #e93e49;
  -o-box-shadow: inset 0 1px 0 #e93e49;
  box-shadow: inset 0 1px 0 #e93e49;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: all, 0.3s;
  -moz-transition-property: all, 0.3s;
  -ms-transition-property: all, 0.3s;
  -o-transition-property: all, 0.3s;
  transition-property: all, 0.3s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  .button:hover, form.wufoo ul li input#saveForm:hover, #get-started a:hover, div#contact-content section#contact-info section#hire-thoughtbot a:hover, div#jobs-wrapper.job-description section#apply-to-thoughtbot a:hover {
    background: #c41722;
    border: 1px solid #7f0f16;
    text-shadow: 0 -1px 0 #96111a;
    -webkit-box-shadow: inset 0 1px 0 #ee6c74;
    -moz-box-shadow: inset 0 1px 0 #ee6c74;
    -ms-box-shadow: inset 0 1px 0 #ee6c74;
    -o-box-shadow: inset 0 1px 0 #ee6c74;
    box-shadow: inset 0 1px 0 #ee6c74; }
  .button:active, form.wufoo ul li input#saveForm:active, #get-started a:active, div#contact-content section#contact-info section#hire-thoughtbot a:active, div#jobs-wrapper.job-description section#apply-to-thoughtbot a:active {
    background: #96111a;
    text-shadow: none;
    -webkit-box-shadow: inset 0 -1px 3px #680c12;
    -moz-box-shadow: inset 0 -1px 3px #680c12;
    -ms-box-shadow: inset 0 -1px 3px #680c12;
    -o-box-shadow: inset 0 -1px 3px #680c12;
    box-shadow: inset 0 -1px 3px #680c12; }

.external, footer#main-footer nav section#products li a, section#products ul li a .check-out, section#workshops section#current-workshops ul li a, div#jobs-wrapper section#current-openings ul li a {
  padding-right: 13px; }
  .external:hover, footer#main-footer nav section#products li a:hover, section#products ul li a .check-out:hover, section#workshops section#current-workshops ul li a:hover, div#jobs-wrapper section#current-openings ul li a:hover {
    background: url("/images/external.png") right 6px no-repeat; }

img {
  margin-bottom: 0; }

#page-header {
  background: url("/images/shadowing.png") center top no-repeat;
  padding-top: 60px;
  text-align: center; }
  #page-header h1 {
    line-height: 60px; }
  #page-header h2 {
    color: #736B6C;
    font: normal 14px "skolar-1", "skolar-2", Georgia, serif;
    line-height: 20px;
    margin-bottom: 0; }

.secondary-header, section#open-source, div#contact-content, section#people, div#jobs-wrapper {
  /*  border-top: 1px solid #dcdcdc;
    margin-top: $lh*3;*/
  padding-top: 60px; }

.secondary-wrapper, #portfolio-slider {
  background: rgba(228, 228, 228, 0.7) url("/images/shadowing.png") center 0 no-repeat;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding: 39px 0 39px; }

/* Selection styles
---------------------------------------- */
::selection {
  background: #ad141e;
  color: #000; }

::-moz-selection {
  background: #ad141e;
  color: #000; }

::-webkit-selection {
  background: #ad141e;
  color: #000; }

/* Design page
---------------------------------------- */
#design-portfolio ul {
  list-style: none; }
  #design-portfolio ul li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 830px;
    margin: 0 auto; }
    #design-portfolio ul li img {
      -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
    #design-portfolio ul li:last-child {
      border-bottom: 0; }

/* Forms
---------------------------------------- */
form.wufoo {
  margin-left: 0; }
  form.wufoo header#header {
    display: none; }
  form.wufoo ul {
    list-style: none;
    margin-top: 20px; }
    form.wufoo ul li {
      margin-bottom: 20px;
      width: 655px;
      padding: 0;
      margin-right: 25px; }
      form.wufoo ul li.phone {
        margin-right: 0; }
      form.wufoo ul li.email, form.wufoo ul li.phone {
        width: 50%;
        float: left;
        clear: none; }
        form.wufoo ul li.email input[type="text"], form.wufoo ul li.email input.text, form.wufoo ul li.email input[type="email"], form.wufoo ul li.phone input[type="text"], form.wufoo ul li.phone input.text, form.wufoo ul li.phone input[type="email"] {
          width: 272.5px;
          min-width: inherit; }
      form.wufoo ul li h3 {
        color: #ad141e;
        margin-top: 40px; }
      form.wufoo ul li fieldset {
        background: none;
        border: 0;
        padding: 0; }
      form.wufoo ul li label.desc, form.wufoo ul li legend.desc, form.wufoo ul li label, form.wufoo ul li legend {
        font: 14px "skolar-1", "skolar-2", Georgia, serif;
        line-height: 20px;
        margin: 0 0 10px; }
        form.wufoo ul li label.desc.choice, form.wufoo ul li legend.desc.choice, form.wufoo ul li label.choice, form.wufoo ul li legend.choice {
          display: inline; }
      form.wufoo ul li .req {
        color: #ad141e; }
      form.wufoo ul li input.checkbox, form.wufoo ul li input.radio {
        display: inline-block; }
      form.wufoo ul li input[type="text"], form.wufoo ul li input[type="email"], form.wufoo ul li input.text, form.wufoo ul li textarea {
        border: 1px solid #999;
        font: 14px "skolar-1", "skolar-2", Georgia, serif;
        line-height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        max-width: 573px;
        /*6 columns minus line-heigh for the padding and 2px for the border*/
        min-width: 573px;
        /*6 columns minus line-heigh for the padding and 2px for the border*/
        width: 573px;
        /*6 columns minus line-heigh for the padding and 2px for the border*/
        padding: 9px 10px;
        /*line-height divided by two so that the bottom and top will align to the baseline grid*/
        -webkit-box-shadow: inset 0 1px 2px #aaaaaa;
        -moz-box-shadow: inset 0 1px 2px #aaaaaa;
        -ms-box-shadow: inset 0 1px 2px #aaaaaa;
        -o-box-shadow: inset 0 1px 2px #aaaaaa;
        box-shadow: inset 0 1px 2px #aaaaaa; }
        form.wufoo ul li input[type="text"]:focus, form.wufoo ul li input[type="email"]:focus, form.wufoo ul li input.text:focus, form.wufoo ul li textarea:focus {
          outline-color: #ad141e; }
      form.wufoo ul li input#saveForm {
        display: block;
        margin: 0;
        padding: 8px 40px;
        /*line-height divided by two so that the bottom and top will align to the baseline grid*/ }
        form.wufoo ul li input#saveForm:hover {
          cursor: pointer; }
        form.wufoo ul li input#saveForm:active {
          background: #96111a; }
      form.wufoo ul li .instruct {
        color: #aaa;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        margin: 20px 0 40px; }
      form.wufoo ul li.focused {
        background: none; }
        form.wufoo ul li.focused label {
          color: #000; }
      form.wufoo ul li.name {
        float: none;
        width: 510px; }
        form.wufoo ul li.name span {
          display: block;
          float: left;
          margin-right: 25px;
          width: 230px; }
          form.wufoo ul li.name span:nth-child(odd) {
            margin-right: 0; }
          form.wufoo ul li.name span.req {
            display: inline;
            float: none;
            margin: 0;
            width: auto; }
          form.wufoo ul li.name span label {
            color: #aaa;
            font-size: 14px;
            font-style: italic;
            font-weight: normal; }
          form.wufoo ul li.name span input[type="text"] {
            max-width: 208px;
            /*3 columns minus line-heigh for the padding and 2px for the border*/
            min-width: 208px;
            /*3 columns minus line-heigh for the padding and 2px for the border*/
            width: 208px;
            /*3 columns minus line-heigh for the padding and 2px for the border*/ }

header#main-header {
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 20px; }
  header#main-header h1 {
    float: left;
    margin: 42px 0 24px; }
    header#main-header h1 a {
      background: url("/images/thoughtbot-logo.png") 0 0 no-repeat;
      display: block;
      height: 65px;
      text-indent: -9999px;
      width: 242px; }
  header#main-header ul {
    display: block;
    float: right;
    margin-top: 72px; }
    header#main-header ul li {
      float: left; }
      header#main-header ul li a {
        color: #2b2b2b;
        display: block;
        font: 500 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
        line-height: 20px;
        margin: 0 20px;
        -webkit-transition-property: color, 0.2s;
        -moz-transition-property: color, 0.2s;
        -ms-transition-property: color, 0.2s;
        -o-transition-property: color, 0.2s;
        transition-property: color, 0.2s;
        -webkit-transition-duration: 0.15s;
        -moz-transition-duration: 0.15s;
        -ms-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
        header#main-header ul li a:hover {
          color: #ad141e;
          text-decoration: none; }

footer#main-footer {
  opacity: .5;
  padding-top: 80px;
  -webkit-transition-property: opacity, 0.5s;
  -moz-transition-property: opacity, 0.5s;
  -ms-transition-property: opacity, 0.5s;
  -o-transition-property: opacity, 0.5s;
  transition-property: opacity, 0.5s;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  footer#main-footer:hover {
    opacity: 1; }
  footer#main-footer h3 {
    color: #545454; }
  footer#main-footer a {
    color: #7a7a7a; }
    footer#main-footer a:link {
      color: #7a7a7a; }
    footer#main-footer a:hover {
      color: #ad141e; }
  footer#main-footer nav section {
    float: left;
    margin-right: 25px;
    width: 145px; }
    footer#main-footer nav section#thoughtbot-footer {
      width: 315px; }
      footer#main-footer nav section#thoughtbot-footer ul li {
        float: left;
        margin-right: 25px;
        width: 145px; }
        footer#main-footer nav section#thoughtbot-footer ul li:nth-child(2n) {
          margin-right: 0; }
    footer#main-footer nav section#blog-footer {
      width: 315px; }
    footer#main-footer nav section:last-child {
      margin-right: 0; }
    footer#main-footer nav section ul {
      list-style: none; }
  footer#main-footer p#copyright {
    color: #7a7a7a;
    margin-top: 40px;
    /*line-height to maintain baseline grid*/ }

#portfolio-slider {
  height: 520px;
  margin-top: 60px;
  position: relative; }
  #portfolio-slider div h2 {
    text-shadow: 0 1px 0 #fcfcfc; }
  #portfolio-slider div #slider-wrapper {
    height: 420px;
    /*makes sure the slider maintains line-height grid*/ }
  #portfolio-slider div ul.slider {
    background: url(images/loading.gif) no-repeat 50% 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 418px;
    /*line-height minus 2 for the border to maintain baseline grid*/
    list-style: none;
    position: relative;
    width: 995px -2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 4px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 4px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 4px rgba(0, 0, 0, 0.15); }
    #portfolio-slider div ul.slider img {
      display: none;
      left: 0px;
      position: absolute;
      top: 0px; }
    #portfolio-slider div ul.slider a {
      display: block; }
    #portfolio-slider div ul.slider div.nivo-controlNav {
      position: absolute;
      top: -52px;
      right: 1px;
      width: auto; }
      #portfolio-slider div ul.slider div.nivo-controlNav a {
        text-indent: -9999px;
        display: block;
        width: 8px;
        height: 9px;
        background: url("/images/portfolio/slider-control.png") -11px 0 no-repeat;
        float: left;
        margin-right: 6px; }
        #portfolio-slider div ul.slider div.nivo-controlNav a.active {
          background: url("/images/portfolio/slider-control.png") 0 0 no-repeat; }
    #portfolio-slider div ul.slider div.nivo-directionNav a {
      background: url("/images/portfolio/arrows.png") 0 0 no-repeat;
      display: block;
      height: 40px;
      position: absolute;
      text-indent: -9999px;
      width: 21px; }
      #portfolio-slider div ul.slider div.nivo-directionNav a.nivo-prevNav {
        background-position: 0 0;
        left: -60px;
        top: 44%; }
        #portfolio-slider div ul.slider div.nivo-directionNav a.nivo-prevNav:hover {
          background-position: 0 -40px; }
      #portfolio-slider div ul.slider div.nivo-directionNav a.nivo-nextNav {
        background-position: -21px 0;
        right: -60px;
        top: 44%; }
        #portfolio-slider div ul.slider div.nivo-directionNav a.nivo-nextNav:hover {
          background-position: -21px -40px; }

section#portfolio {
  margin: 80px 0 40px; }
  section#portfolio ul {
    list-style: none; }
    section#portfolio ul li {
      float: left;
      margin: 0 25px 20px 0; }
      section#portfolio ul li a {
        border: 1px solid #BDBDBD;
        display: block;
        height: 190px;
        /*adding a 10px to account for the 1px border and 4px padding*/
        padding: 4px;
        text-indent: -9999px;
        width: 220px;
        /*minus the 10px from the 1px border and 4px padding*/ }
        section#portfolio ul li a:hover {
          border-color: #999;
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -o-transform: scale(1.01);
          transform: scale(1.01);
          -webkit-box-shadow: 0 0 3px #999999;
          -moz-box-shadow: 0 0 3px #999999;
          -ms-box-shadow: 0 0 3px #999999;
          -o-box-shadow: 0 0 3px #999999;
          box-shadow: 0 0 3px #999999; }
      section#portfolio ul li:nth-child(4n) {
        margin-right: 0; }
      section#portfolio ul li#pozit a {
        background: url("/images/portfolio/thumb/pozit.png") center center no-repeat; }
      section#portfolio ul li#gulfcoast a {
        background: url("/images/portfolio/thumb/gulfcoast.png") center center no-repeat; }
      section#portfolio ul li#coupondudes a {
        background: url("/images/portfolio/thumb/coupondudes.png") center center no-repeat; }
      section#portfolio ul li#gnite a {
        background: url("/images/portfolio/thumb/gnite.png") center center no-repeat; }
      section#portfolio ul li#carbonrally a {
        background: url("/images/portfolio/thumb/carbonrally.png") center center no-repeat; }
      section#portfolio ul li#saftystream a {
        background: url("/images/portfolio/thumb/saftystream.png") center center no-repeat; }
      section#portfolio ul li#shortboard a {
        background: url("/images/portfolio/thumb/shortboard.png") center center no-repeat; }
      section#portfolio ul li#umbrellatoday a {
        background: url("/images/portfolio/thumb/umbrellatoday.png") center center no-repeat; }

section#services {
  margin-bottom: 40px; }
  section#services #about-services {
    float: left;
    margin-right: 25px;
    width: 315px; }
    section#services #about-services .learn-more {
      font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif; }
  section#services blockquote {
    float: left;
    width: 290px; }
  section#services section#clients {
    border-top: 5px solid #ad141e;
    float: left;
    padding-top: 35px;
    /*line-height x 2 minus the five 5px border*/
    width: 315px; }
    section#services section#clients h3 {
      color: rgba(43, 43, 43, 0.8); }
    section#services section#clients ul {
      list-style: none; }
      section#services section#clients ul li {
        color: #ABABAB;
        float: left;
        font-style: italic;
        margin-right: 25px;
        width: 145px; }
        section#services section#clients ul li:nth-child(2n) {
          margin-right: 0; }
    section#services section#clients p {
      margin-bottom: 0; }
      section#services section#clients p.video {
        font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 40px; }
        section#services section#clients p.video a {
          background: url("/images/film-strip.png") 0 1px no-repeat;
          padding-left: 20px;
          -webkit-transition-property: color, 0.5s;
          -moz-transition-property: color, 0.5s;
          -ms-transition-property: color, 0.5s;
          -o-transition-property: color, 0.5s;
          transition-property: color, 0.5s;
          -webkit-transition-duration: 0.15s;
          -moz-transition-duration: 0.15s;
          -ms-transition-duration: 0.15s;
          -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: ease-out;
          -moz-transition-timing-function: ease-out;
          -ms-transition-timing-function: ease-out;
          -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          -webkit-transition-delay: 0;
          -moz-transition-delay: 0;
          -ms-transition-delay: 0;
          -o-transition-delay: 0;
          transition-delay: 0; }
          section#services section#clients p.video a:hover {
            background-position: 0 -18px; }

#get-started {
  padding: 20px 0 40px; }
  #get-started a {
    font: 500 18px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif; }
    #get-started a h3 {
      color: #fff;
      float: left;
      margin-bottom: 0; }
    #get-started a p {
      color: rgba(255, 255, 255, 0.8);
      float: right;
      font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
      line-height: 20px -4;
      /*line-height minus the 4px margin*/
      margin-bottom: 0;
      margin-top: 4px; }

section#products {
  margin-bottom: 60px; }
  section#products h2 {
    text-shadow: 0 1px 0 #fcfcfc; }
  section#products ul {
    list-style: none; }
    section#products ul li {
      float: left;
      margin-right: 25px;
      width: 315px;
      /*change when radish is added*/ }
      section#products ul li#hoptoad a div.product-logo img {
        padding-top: 24px; }
      section#products ul li#copycopter a div.product-logo img {
        padding-top: 28px; }
      section#products ul li#trajectory a div.product-logo img {
        padding-top: 40px; }
      section#products ul li#radish a div.product-logo img {
        padding-top: 21px; }
      section#products ul li a {
        display: block;
        -webkit-transition-property: all, 0.5s;
        -moz-transition-property: all, 0.5s;
        -ms-transition-property: all, 0.5s;
        -o-transition-property: all, 0.5s;
        transition-property: all, 0.5s;
        -webkit-transition-duration: 0.15s;
        -moz-transition-duration: 0.15s;
        -ms-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
        section#products ul li a div.product-logo {
          /*background: url('/images/products/products_bg.png') 0 0 no-repeat;*/
          background: url("/images/products/products_bg_three.png") 0 0 no-repeat;
          height: 137px;
          margin-bottom: 43px; }
          section#products ul li a div.product-logo img {
            display: block;
            margin: 0 auto; }
        section#products ul li a .check-out {
          color: #ad141e;
          display: inline-block;
          font: 500 14px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif; }
        section#products ul li a:hover {
          background: rgba(0, 0, 0, 0.04);
          -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.04);
          -moz-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.04);
          -ms-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.04);
          -o-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.04); }
          section#products ul li a:hover div.product-logo {
            background-position: 0 100%; }
          section#products ul li a:hover h3, section#products ul li a:hover p {
            color: #000; }
          section#products ul li a:hover .check-out {
            color: #7f0f16; }
      section#products ul li:last-child {
        margin-right: 0; }

section#workshops {
  background: url("/images/shadowing-lite.png") center top no-repeat;
  border-top: 1px solid #DCDCDC;
  padding-top: 59px;
  /*line-height x 3 minus 1px for the border*/ }
  section#workshops h2 {
    text-shadow: 0 1px 0 #fcfcfc; }
  section#workshops section#about-workshops {
    float: left;
    margin-right: 25px;
    width: 315px; }
  section#workshops blockquote {
    float: left;
    width: 290px; }
    section#workshops blockquote .author {
      color: #999; }
  section#workshops section#current-workshops {
    background: #F9F9F9;
    border-top: 5px solid #292929;
    float: left;
    margin-top: 10px;
    padding: 25px 20px 20px;
    /*top padding makes up for 5px border and 10px margin*/
    width: 275px;
    /*4 units minus left and right padding*/ }
    section#workshops section#current-workshops ul {
      list-style: none; }
    section#workshops section#current-workshops p {
      margin-bottom: 0; }

section#open-source ul {
  list-style: none;
  margin-bottom: 60px;
  /*line hight to maintain baseline grid*/ }
  section#open-source ul li {
    float: left;
    margin: 40px 25px 0 0;
    /*line hight top bottom to maintain baseline grid*/ }
    section#open-source ul li#paperclip a {
      background: url("/images/oss/paperclip.png") no-repeat 0 0; }
    section#open-source ul li#factory-girl a {
      background: url("/images/oss/factory-girl.png") no-repeat 0 0; }
    section#open-source ul li#high-voltage a {
      background: url("/images/oss/highvoltage.png") no-repeat 0 0; }
    section#open-source ul li#suspenders a {
      background: url("/images/oss/suspenders.png") no-repeat 0 0; }
    section#open-source ul li#shoulda a {
      background: url("/images/oss/shoulda.png") no-repeat 0 0; }
    section#open-source ul li#clearance a {
      background: url("/images/oss/clearance.png") no-repeat 0 0; }
    section#open-source ul li#pacecar a {
      background: url("/images/oss/pacecar.png") no-repeat 0 0; }
    section#open-source ul li#flutie a {
      background: url("/images/oss/flutie.png") no-repeat 0 0; }
    section#open-source ul li:nth-child(3n) {
      margin-right: 0; }
    section#open-source ul li:nth-child(3n+1) {
      clear: both; }
    section#open-source ul li a {
      display: block;
      padding-left: 85px;
      width: 230px; }
      section#open-source ul li a .source-btn {
        color: #ad141e;
        font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif; }
      section#open-source ul li a:hover .source-btn {
        color: #000; }

section#events {
  text-shadow: 0 1px 0 #fcfcfc; }
  section#events p.events-intro {
    float: left;
    margin-right: 25px;
    width: 230px; }
  section#events ul {
    list-style: none; }
    section#events ul li {
      background: #F9F9F9;
      border-top: 5px solid #292929;
      display: block;
      float: left;
      margin-right: 25px;
      overflow: hidden;
      padding: 35px 20px 20px;
      /*line hight padding to maintain baseline grid minus 5 pixels for the top border*/
      width: 190px;
      /*grid width minus padding*/ }
      section#events ul li:last-child {
        margin-right: 0; }

div#contact-content div#contact_form {
  float: left;
  margin-right: 25px;
  width: 630px; }
  div#contact-content div#contact_form h1#logo, div#contact-content div#contact_form #bottom {
    display: none; }
div#contact-content section#contact-info {
  float: left;
  width: 315px;
  margin-left: 25px; }
  div#contact-content section#contact-info section#hire-thoughtbot a {
    margin: 20px 0 40px;
    padding: 30px; }
    div#contact-content section#contact-info section#hire-thoughtbot a h3 {
      color: #fff;
      margin-bottom: 0;
      font-size: 18px; }
    div#contact-content section#contact-info section#hire-thoughtbot a p {
      color: rgba(255, 255, 255, 0.6);
      font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
      margin-bottom: 0; }
    div#contact-content section#contact-info section#hire-thoughtbot a:hover {
      background: #ad141e; }
  div#contact-content section#contact-info section#contact-other {
    float: left;
    width: 315px; }
    div#contact-content section#contact-info section#contact-other ul {
      margin-left: 25px; }
  div#contact-content section#contact-info section.contact-address {
    float: left;
    margin-bottom: 20px;
    width: 145px; }
    div#contact-content section#contact-info section.contact-address div {
      margin-bottom: 20px; }
    div#contact-content section#contact-info section.contact-address p {
      margin-bottom: 0; }

div#contact-content div#contact_form {
  float: left;
  margin-right: 25px;
  width: 630px; }
  div#contact-content div#contact_form h1#logo, div#contact-content div#contact_form #bottom {
    display: none; }
div#contact-content section#contact-info {
  float: left;
  width: 315px;
  margin-left: 25px; }
  div#contact-content section#contact-info section#hire-thoughtbot a {
    margin: 20px 0 40px;
    padding: 30px; }
    div#contact-content section#contact-info section#hire-thoughtbot a h3 {
      color: #fff;
      margin-bottom: 0;
      font-size: 18px; }
    div#contact-content section#contact-info section#hire-thoughtbot a p {
      color: rgba(255, 255, 255, 0.6);
      font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
      margin-bottom: 0; }
    div#contact-content section#contact-info section#hire-thoughtbot a:hover {
      background: #ad141e; }
  div#contact-content section#contact-info section#contact-other {
    float: left;
    width: 315px; }
    div#contact-content section#contact-info section#contact-other ul {
      margin-left: 25px; }
  div#contact-content section#contact-info section.contact-address {
    float: left;
    margin-bottom: 20px;
    width: 145px; }
    div#contact-content section#contact-info section.contact-address div {
      margin-bottom: 20px; }
    div#contact-content section#contact-info section.contact-address p {
      margin-bottom: 0; }

section#people ul {
  list-style: none; }
  section#people ul li {
    float: left;
    margin: 0 25px 40px 0;
    /*line height on the bottom to maintain baseline grid*/
    min-height: 240px;
    /*specify line-height height so each perosn has a proper amount of space for their bio*/
    width: 485px; }
    section#people ul li:nth-child(2n) {
      margin-right: 0; }
    section#people ul li:nth-child(2n+1) {
      clear: left; }
    section#people ul li div.person-photo {
      float: left;
      margin-right: 25px;
      width: 145px; }
    section#people ul li div.person-info {
      float: left;
      width: 315px; }
      section#people ul li div.person-info h2 {
        font: 700 24px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
        line-height: 40px;
        /*double line-hieght for bigger type*/
        margin-bottom: 0; }
      section#people ul li div.person-info h3 {
        color: #aaa;
        font: italic 14px "skolar-1", "skolar-2", Georgia, serif;
        line-height: 20px;
        margin-bottom: 20px; }

div#jobs-wrapper section#current-openings {
  float: left;
  margin-right: 25px;
  padding: 0;
  /*top padding makes up for 5px border and 10px margin*/
  width: 315px;
  /*4 units minus left and right padding*/ }
  div#jobs-wrapper section#current-openings ul {
    border-top: 5px solid #ad141e;
    padding-top: 20px;
    list-style: none; }
    div#jobs-wrapper section#current-openings ul li {
      margin: 5px 0; }
      div#jobs-wrapper section#current-openings ul li a {
        font: 500 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif; }
div#jobs-wrapper section#more-about-us {
  float: left;
  width: 655px; }
  div#jobs-wrapper section#more-about-us > ul > li {
    list-style: none; }

div#jobs-wrapper.job-description section#positions {
  float: left;
  width: 570px;
  margin-right: 25px; }
  div#jobs-wrapper.job-description section#positions ul {
    list-style: none; }
div#jobs-wrapper.job-description section#more-about-us {
  float: left;
  width: 400px; }
  div#jobs-wrapper.job-description section#more-about-us > h2, div#jobs-wrapper.job-description section#more-about-us h4 {
    color: #6f6f6f; }
  div#jobs-wrapper.job-description section#more-about-us p {
    color: #8f8f8f; }
div#jobs-wrapper.job-description section#apply-to-thoughtbot {
  margin-top: 30px; }
  div#jobs-wrapper.job-description section#apply-to-thoughtbot a {
    margin: 20px 0 40px;
    padding: 30px; }
    div#jobs-wrapper.job-description section#apply-to-thoughtbot a h3 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 0; }
    div#jobs-wrapper.job-description section#apply-to-thoughtbot a p {
      color: rgba(255, 255, 255, 0.6);
      font: 16px "museo-sans-1", "museo-sans-2", "Helvetica Neue", Helvetica, sans-serif;
      margin-bottom: 0; }

div#jobs-wrapper section#job-form {
  float: left;
  margin-right: 25px;
  width: 655px; }
  div#jobs-wrapper section#job-form h1#logo, div#jobs-wrapper section#job-form #bottom {
    display: none; }
  div#jobs-wrapper section#job-form header.info {
    display: none; }
