/*
Syntax error: Invalid CSS after "...ustom Functions": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 2 of stylesheets/sass/bourbon/_bourbon.scss
        from line 1 of stylesheets/sass/screen.scss

1: // Custom Functions
2: <<<<<<< HEAD
3: @import "functions/deprecated-webkit-gradient";
4: @import "functions/golden-ratio";
5: @import "functions/grid-width";
6: @import "functions/tint-shade";
7: 

Backtrace:
stylesheets/sass/bourbon/_bourbon.scss:2
stylesheets/sass/screen.scss:1
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/scss/parser.rb:926:in `expected'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/scss/parser.rb:872:in `expected'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/scss/parser.rb:29:in `parse'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/engine.rb:327:in `_to_tree'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/engine.rb:259:in `to_tree'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:142:in `visit_import'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/tree/root_node.rb:20:in `render'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/engine.rb:300:in `_render'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/engine.rb:247:in `render'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:200:in `each'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:272:in `block (4 levels) in watch'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/plugin.rb:107:in `method_missing'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/exec.rb:421:in `watch_or_update'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/exec.rb:302:in `process_result'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/exec.rb:41:in `parse'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/lib/sass/exec.rb:21:in `parse!'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.11/bin/sass:8:in `<top (required)>'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `load'
/Users/kfiedler/.rvm/gems/ruby-1.9.2-p180/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ustom Functions\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 2 of stylesheets/sass/bourbon/_bourbon.scss\A         from line 1 of stylesheets/sass/screen.scss\A \A 1: // Custom Functions\A 2: <<<<<<< HEAD\A 3: @import \"functions/deprecated-webkit-gradient\";\A 4: @import \"functions/golden-ratio\";\A 5: @import \"functions/grid-width\";\A 6: @import \"functions/tint-shade\";\A 7: "; }
