body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #e6e0d9;
  
}

body { -webkit-text-stroke: 1px transparent; }
@media only screen and (max-device-width:480px) {body{-webkit-text-stroke:0 black;}}
@font-face {
	font-family: 'Museo Sans';
	src: url('../MuseoSans_500.eot');
	src: local('☺'), url('../MuseoSans_500.woff') format('woff'), url('../MuseoSans_500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#top-content h2 {
  width: 880px;
  font: 56px/60px 'Museo Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: 100;
  text-shadow: 0 2px 0 #000;
}

#top-content h2 strong {
  display: block;
  font-weight: bold;
}

#community #top-content h2 {
  font-size: 44px;
  line-height: 50px;
}

/*#home #top-content h2 {
  height: 123px;
  background: url(/images/home.png) 0px 0px no-repeat;
}

#about #top-content h2 {
  height: 50px;
  background: url(/images/about.png) top center no-repeat; 
}

#community #top-content h2 {
  height: 97px;
  background: url(/images/community.png) 0px 0px no-repeat;
}


#jobs #top-content h2 {
  height: 36px;
  background: url(/images/jobs.png) 0px 0px no-repeat;
}

#jobs #top-content h2#positions {
  height: 36px;
  background: url(/images/positions.png) 0px 0px no-repeat;
}

#contact #top-content h2 {
  height: 34px;
  background: url(/images/contact.png) 0px 0px no-repeat;
}*/

h3#clients-text {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  height: 36px;
  width: 140px;
  padding: 0 0 5px 5px;
}

#top-content h3 {
  color: #a1a1a1;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  text-shadow: 2px 2px 2px #000;
}

#jobs #top-content p,
#contact #top-content p {
  text-align: left;
  color: #a1a1a1;
  line-height: 26px;
  font-size: 14px;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 15px;
}

#jobs #top-content h3 {
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.small-notice {
  font-style: italic;
  font-size: 11px;
  color: #aaa;
}

#footer-left h3 {
  font-size: 12px;
  padding: 5px 0;
  color: #fff;
  clear: both;
}

#footer-left span {
  float: left;
  margin: 0 0 0 5px;
}

h4 {
  text-transform: uppercase;
  color: #7a7168;
  font-size: 16px;
}

h5 {
  color: #d5cec8;
  font-size: 18px;
}

h6 {
  color: #7a7168;
  font-size: 14px;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
}

body#community h4 {
  text-align: center;
  padding-bottom: 15px;
}

#hackfest-info h5 {
  text-align: right;
  float: left;
  clear: left;
  width: 68px;
  font-size: 16px;
  padding: 0 8px 0 0;
}

#hackfest-info p {
  clear: right;
  display: inline;
  float: left;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 18px;
  width: 350px;
}

#hackfest-address span {
  clear: both;
  float: left;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 18px;
  color: #E6E0D9;
  font-weight: normal;
  margin: 0;
}

#jobs #top-content .position p {
  text-align: left;
  color: #a1a1a1;
  line-height: 18px;
  font-size: 12px;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 15px;
  padding-right: 10px;
}

#jobs #top-content .position p strong {
  color: #ccc;
}

