.button,
button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  span {
    display: block;
    font-weight: normal;
    opacity: 0.65;
    padding-top: .2em;
    text-align: center;
    text-transform: none;
  }
}
