ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  font-weight: 600;
  line-height: $heading-line-height;
  margin: 0 0 ($small-spacing / 2);
}

dd {
  margin: 0 0 $base-spacing;
}
