html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }

  @media (min-width: 100em) {
    font-size: 125%;
  }

  @media (min-width: 120em) {
    font-size: 137.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: $heading-line-height;
  margin-bottom: 0.5em;
}

a {
  color: $action-color;
  text-decoration-skip-ink: auto;
  transition: color 150ms ease;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

li {
  margin-bottom: 0.25em;
}

dt {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  font-weight: 700;
  line-height: $heading-line-height;
  margin-top: 2em;
}

dd {
  margin-left: 0;
}
