html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;

  @media (min-width: 38em) {
    font-size: 106.25%;
  }

  @media (min-width: 65em) {
    font-size: 112.5%;
  }

  @media (min-width: 100em) {
    font-size: 118.75%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $base-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
