<section class="apply content-wrapper">
  <div class="divider">
    <h3 class="text">Apply to be a design apprentice</h3>
  </div>
  <%= partial "partials/application-description" %>
  <%= partial "partials/forms/designer" %>
</section>
