<section class="masthead apply">
  <h2 class="section-title">
    Apply to be a design apprentice
  </h2>
  <div class="content-wrapper">
    <%= partial "partials/application-description" %>
  </div>
</section>

<section class="application-form row">
  <div class="content-wrapper">
    <span class="divider"></span>
    <%= partial "partials/forms/designer" %>
  </div>
</section>
