<% content_for :title, 'Awesome Foundation' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Awesome Foundation</h2>
  <section class="nav">
    <a class="left" href="/portfolio/owneraide" title="Owneraide">&larr; Owneraide</a>
    <a class="right" href="/portfolio/iora" title="Iora">Iora &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Most nutty idea?  Or awesomest idea ever?</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>The Awesome Foundation &mdash; a loose coalition of friends dedicated to forwarding the interest of awesome in the universe &mdash; has awarded more than $300,000 in monthly $1000 grants to small creative projects.  When they approached thoughtbot, they had an organization which had started as a silly side project and outlet for fun and had since grown to become a global non-profit organization.  The tools that a few friends used to issue grants from Boston bars (Excel, emails on mobile phones) no longer met the needs of their new scale.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We worked with the organization to identify the specific workflows that were needed to award each grant, the customizations needed for each chapter, and the roles within the organization.  When then worked iteratively to design and develop an easy to use platform which accepts grant applications and allows the chapter deans and members to coordinate discussion of the applicants and ultimately select a winner.  At the end of the project, the world is more awesome.</p>
      </section>
      <p class="visit"><a href="http://awesomefoundation.org/">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/awesome/home.png"><img class="screenshot" src="/assets/portfolio/awesome/home.png" alt="Awesome Foundation home page" /></a>
      <a href="/assets/portfolio/awesome/chapter.png"><img class="screenshot" src="/assets/portfolio/awesome/chapter.png" alt="Awesome Foundation chapter page" /></a>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
