<% content_for :title, 'Awesome Foundation' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2><a href="http://awesomefoundation.org/">Awesome Foundation</a></h2>
  <section class="nav">
    <a class="left" href="/portfolio/owneraide" title="Owneraide">&larr; Owneraide</a>
    <a class="right" href="/portfolio/iora" title="Iora">Iora &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Summary or Quote. If quote, remove "summary" class from blockquote, and use cite tag</p>
    <cite>
      <p class="author">Author's name</p>
      <p class="title">Author's title</p>
    </cite>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>The problem</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>The solution</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/...png"><img class="screenshot" src="/assets/portfolio/...png" alt="" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
