<% content_for :title, 'Fanboat' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Fanboat</h2>
  <section class="nav">
    <a class="left" href="/portfolio/mitx" title="MITx">&larr; MITx</a>
    <a class="right" href="/portfolio/vpp" title="VPP">Velocity iPad App &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Fanboat &mdash; the companion mobile app to Stattleship &mdash; allows users to keep track of their favorite teams &amp; players, and track their own predictions directly on their phones.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>After the launch of their web product, Stattleship approached us for a follow up engagement with the goal of adding mobile functionality to their business. The original application allows sports fans to see interesting stats from their favorite teams and players, and make predictions about their performance. They wanted a way to make the stats and information from their website more fun, interesting, and accessible on a mobile platform.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>Starting with a simple mailing list solution, Stattleship was able to discover how interesting the product could be, what stats users might be interested in, and what additional information the users were looking for. Using the results of this research, we were able to design and implement a mobile application which delivered a compelling mix of user-specific statistical sports data and prediction results.</p>
      </section>
      <p class="visit"><a href="http://stattleship.io/fanboat.html">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <a class="iphone" href="/assets/portfolio/fanboat/signup.png"><img class="screenshot" src="/assets/portfolio/fanboat/signup.png" alt="Fanboat signup screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/feat-detail.png"><img class="screenshot" src="/assets/portfolio/fanboat/feat-detail.png" alt="Fanboat feat detail screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/game-detail.png"><img class="screenshot" src="/assets/portfolio/fanboat/game-detail.png" alt="Fanboat game detail screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/settings.png"><img class="screenshot" src="/assets/portfolio/fanboat/settings.png" alt="Fanboat settings screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/share.png"><img class="screenshot" src="/assets/portfolio/fanboat/share.png" alt="Fanboat share screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/feed.png"><img class="screenshot" src="/assets/portfolio/fanboat/feed.png" alt="Fanboat feed screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/search.png"><img class="screenshot" src="/assets/portfolio/fanboat/search.png" alt="Fanboat search screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/choose-teams.png"><img class="screenshot" src="/assets/portfolio/fanboat/choose-teams.png" alt="Fanboat choose teams screenshot" /></a>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
