<% content_for :title, 'Fanboat' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2><a href="http://stattleship.io/fanboat.html">Fanboat</a></h2>
  <section class="nav">
    <a class="left" href="/portfolio/mitx" title="MITx">&larr; MITx</a>
    <a class="right" href="/portfolio/vpp" title="VPP">Velocity iPad App &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Fanboat is the companion app to Stattleship, allowing users to keep track of their favorite teams, players, and their own predictions from the web app directly on their phones.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Stattleship approached us a second time to continue to build off the success of the game we initially developed. The original app allowed sports fans to see interesting stats from their favorite teams and players. They wanted a way to make the stats and info from their website more fun, interesting, and accessible.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>To start, Stattleship built an email system that replicated the main feature of the app. This let us quickly discover how interesting the product could be, what stats users might be interested in, and what additional information the users were looking for. Using this, we were able to design and build the app to give the user the right amount and type of stats.</p>
      </section>
    </section>
    <section id="screenshots">
      <a class="iphone" href="/assets/portfolio/fanboat/signup.png"><img class="screenshot" src="/assets/portfolio/fanboat/signup.png" alt="Fanboat signup screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/feat-detail.png"><img class="screenshot" src="/assets/portfolio/fanboat/feat-detail.png" alt="Fanboat feat detail screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/game-detail.png"><img class="screenshot" src="/assets/portfolio/fanboat/game-detail.png" alt="Fanboat game detail screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/settings.png"><img class="screenshot" src="/assets/portfolio/fanboat/settings.png" alt="Fanboat settings screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/share.png"><img class="screenshot" src="/assets/portfolio/fanboat/share.png" alt="Fanboat share screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/feed.png"><img class="screenshot" src="/assets/portfolio/fanboat/feed.png" alt="Fanboat feed screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/search.png"><img class="screenshot" src="/assets/portfolio/fanboat/search.png" alt="Fanboat search screenshot" /></a>
      <a class="iphone" href="/assets/portfolio/fanboat/choose-teams.png"><img class="screenshot" src="/assets/portfolio/fanboat/choose-teams.png" alt="Fanboat choose teams screenshot" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
