<% content_for :title, 'Financial Diligence Networks' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Financial Diligence Networks</h2>
  <section class="nav">
    <a class="right" href="/portfolio/mitx" title="MITx">MITx &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>thoughtbot built the FDN platform from idea to minimal viable product and more in five months, and assisted in hiring an entire team for continued product development.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Financial Diligence Networks (FDN) is a platform for connecting allocators and hedge funds. They came to thoughtbot seeking to build a network to enable financial firms to conduct research, share data, and organize information more effectively.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>thoughtbot was able to:</p>
        <ul>
          <li>Identify and solve problems with current financial industry processes and methods.</li>
          <li>Identify and solve the hurdles of moving entire financial firms to the web.</li>
          <li>Identify and solve user engagement issues.</li>
          <li>Identify and solve security concerns over storing and permissioning financial documents and other sensitive information.</li>
        </ul>
        <p>Throughout the process, thoughtbot refined the core features necessary for building a desirable application for financial firms, in terms of function and value. These included building:</p>
        <ul>
          <li>Firm profiles</li>
          <li>User profiles</li>
          <li>User roles</li>
          <li>Document uploading and management</li>
          <li>Sensitive data &amp; user permissioning</li>
          <li>An invitation system</li>
        </ul>
        <p>While building the app, we faced tough data permissioning issues, which we solved by allowing users to request access to a firm's sensitive information.</p>
        <p>Throughout our engagement, thoughtbot was also able to help FDN hire and train a full-time team of three developers and one designer.</p>
      </section>
      <p class="visit"><a href="http://www.gofdn.com/">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/fdn/profile.png"><img class="screenshot" src="/assets/portfolio/fdn/profile.png" alt="FDN profile" /></a>
      <a href="/assets/portfolio/fdn/dashboard.png"><img class="screenshot" src="/assets/portfolio/fdn/dashboard.png" alt="FDN dashboard" /></a>
      <a href="/assets/portfolio/fdn/public-profile.png"><img class="screenshot" src="/assets/portfolio/fdn/public-profile.png" alt="FDN public profile" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
