<% content_for :title, 'Iora' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Iora</h2>
  <section class="nav">
    <a class="left" href="/portfolio/awesome" title="Awesome Foundation">&larr; Awesome Foundation</a>
    <a class="right" href="/portfolio/stattleship" title="Stattleship">Stattleship &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>We leveraged the latest technologies, including HTML5, CSS3, and Backbone.js, to build software that was streamlined to fit effortlessly to the new and innovative process of the Iora Health healthcare model.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Iora Health is a radical new model for providing healthcare. The Iora team has redefined Primary Care as a new system to help patients receive better care and more optimally manage their health. To support this new system, where traditional pen and paper fall short, and current software solutions fit the old healthcare model, Iora Health needed a completely custom software stack to meet their innovative new process.</p>
        <p>The Iora Health team came to thoughtbot for an internal software solution that was designed to be custom tailored for their new healthcare model.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We started our engagement with Iora Health by deep-diving into their new model to gather an exhaustive understanding of the process, requirements, and how
technology can help assist them in providing the most innovative health care
solutions possible.</p>
        <p>Working with Iora Health, we designed a transformative medical records system,
where all patient records are managed electronically and updated on-the-fly
for instantaneous communication between Iora's internal team of health care
specialists.</p>
        <p>The software was designed to be used on desktop computers as well as mobile tablets so that health care workers could use iPads while working directly with patients to update medical records, take notes, and generate tasks for coworkers and doctors. The combination of an iPad married with clear and meaningful software UX design, we were able to achieve a significant breakthrough in effectiveness and transparency of patient-doctor visits.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/...png"><img class="screenshot" src="/assets/portfolio/...png" alt="" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
