<% content_for :title, 'Iora' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Iora</h2>
  <section class="nav">
    <a class="left" href="/portfolio/awesome" title="Awesome Foundation">&larr; Awesome Foundation</a>
    <a class="right" href="/portfolio/stattleship" title="Stattleship">Stattleship &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>We leveraged the latest technologies, including HTML5, CSS3, and Backbone.js, to build software that was streamlined to fit the innovative process of the Iora healthcare model.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Iora Health is a healthcare provider redefining primary care to help patients more optimally manage their health. To support this new system, where traditional pen and paper fall short and current software solutions fit the old healthcare model, Iora Health needed completely custom software.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We started our engagement with Iora Health by deep-diving into their new model to gather an exhaustive understanding of the process, requirements, and how technology can help assist them in providing the most innovative health care solutions possible.</p>
        <p>Working with Iora Health, we designed a transformative medical records system, where all patient records are managed electronically and updated on-the-fly for instantaneous communication between Iora's internal team of health care specialists.</p>
        <p>The software was designed to be used on desktop computers as well as tablets so that healthcare workers could use iPads to update medical records, take notes, and delegate tasks while working directly with patients. With the combination of an iPad and meaningful software, we were able to achieve a significant breakthrough in effectiveness and transparency of patient-doctor visits.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/iora/task-list.png"><img class="screenshot" src="/assets/portfolio/iora/task-list.png" alt="Iora task list" /></a>
      <a href="/assets/portfolio/iora/popover.png"><img class="screenshot" src="/assets/portfolio/iora/popover.png" alt="Iora new task" /></a>
      <a href="/assets/portfolio/iora/patient1.png"><img class="screenshot" src="/assets/portfolio/iora/patient1.png" alt="Iora task detail page" /></a>
      <a href="/assets/portfolio/iora/patient2.png"><img class="screenshot" src="/assets/portfolio/iora/patient2.png" alt="Iora completed task detail page" /></a>
      <a href="/assets/portfolio/iora/patient-facesheet.png"><img class="screenshot" src="/assets/portfolio/iora/patient-facesheet.png" alt="Iora patient page" /></a>
      <a href="/assets/portfolio/iora/overlay.png"><img class="screenshot" src="/assets/portfolio/iora/overlay.png" alt="Iora patient vitals" /></a>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
