<% content_for :title, 'MITx' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>MITx</h2>
  <section class="nav">
    <a class="left" href="/portfolio/fdn" title="FDN">&larr; Financial Diligence Networks</a>
    <a class="right" href="/portfolio/fanboat" title="Fanboat">Fanboat &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Online learning from a leader in traditional learning.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>MIT &mdash; a world class leader in science and engineering education &mdash; were pioneers in online learning with the introduction of their "Open Courseware" content more than decade ago.  More recently, they decided to enter the world of MOOCs (Massive Open Online Course) with their own offering called MITx.  This product allows students from around the world to gain access to both the course content and faculty of MIT, all via a web-based tool.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>Just months away from their projected launch, MIT approached thoughtbot for a design overhaul of their courseware and their public marketing site.  Working together, we were able to radically update the entire platform in a short period of time.</p>
        <p>With the success of the initial design effort and a subsequent partnership with Harvard which led to the project rebranding as "edX", we continued to work side by side with the project team to deliver design and development services in support of both public and internal facing web based tools that power the platform.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/mitx/course-index.png"><img class="screenshot" src="/assets/portfolio/mitx/course-index.png" alt="MITx home page" /></a>
      <a href="/assets/portfolio/mitx/course-show.png"><img class="screenshot" src="/assets/portfolio/mitx/course-show.png" alt="MITx course page" /></a>
      <a href="/assets/portfolio/mitx/course-video.png"><img class="screenshot" src="/assets/portfolio/mitx/course-video.png" alt="MITx course lesson page" /></a>
      <a href="/assets/portfolio/mitx/discussion-index.png"><img class="screenshot" src="/assets/portfolio/mitx/discussion-index.png" alt="MITx discussions page" /></a>
      <a href="/assets/portfolio/mitx/discussion-show.png"><img class="screenshot" src="/assets/portfolio/mitx/discussion-show.png" alt="MITx discussion page" /></a>
      <a href="/assets/portfolio/mitx/info.png"><img class="screenshot" src="/assets/portfolio/mitx/info.png" alt="MITx info page" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
