<% content_for :title, 'owneraide' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2><a href="http://owneraide.com">Owneraide</a></h2>
  <section class="nav">
    <a class="left" href="/portfolio/vpp">&larr; Velocity iPad App</a>
    <a class="right" href="/portfolio/awesome">The Awesome Foundation &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>We brought focus, design, and a strong, maintainable codebase into the Owneraide app, and helped launch it to a wider audience.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>There's a huge number of skilled workers looking for extra work, and it's a significant time investment to search through and follow leads on sites like Craigslist and Angie's List. There has to be a better way for in-demand workers to connect to clients and get good work. </p>
        <p>Owneraide is working on this problem. They came to thoughtbot to refine, refactor, and redesign their existing website, which had a small user base of family and friends.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>Working together, we cut and combined features until we felt the website had focus: We wanted workers to be able to bid on and accept jobs effortlessly, and we wanted homeowners to be able to browse through and select trustworthy workers.</p>
        <p>We introduced email and in-app notifications, meaning workers don't have to search for jobs; after filling out a profile, jobs will be sent to them. Their profile acts like a resume and builds trust with homeowners, with a list of completed jobs with ratings and reviews.</p>
        <p>Since the site is fully responsive, workers can bid from their phones and keep track of their appointments. This means faster response times for homeowners, and less hassle for workers.</p>
        <p>We developed an image for the website that reflected the values of its user base, honest hardworking craftsmen; typefaces were chosen from turn-of-the-century American designers, complemented by simple rustic colors.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/owneraide/owneraide-1.png"><img class="screenshot" src="/assets/portfolio/owneraide/owneraide-1.png" alt="Owneraide homepage screenshot" /></a>
      <a href="/assets/portfolio/owneraide/mobile.png"><img class="triptych screenshot" src="/assets/portfolio/owneraide/mobile.png" alt="Owneraide mobile screenshots" /></a>
      <a href="/assets/portfolio/owneraide/owneraide-2.png"><img class="screenshot" src="/assets/portfolio/owneraide/owneraide-2.png" alt="Owneraide search page screenshot" /></a>
      <a href="/assets/portfolio/owneraide/owneraide-3.png"><img class="screenshot" src="/assets/portfolio/owneraide/owneraide-3.png" alt="Owneraide job page screenshot" /></a>
        <a href="/assets/portfolio/owneraide/owneraide-4.png"><img class="screenshot" src="/assets/portfolio/owneraide/owneraide-4.png" alt="Owneraide job page screenshot" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
