<% content_for :title, 'Stattleship' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Stattleship</h2>
  <section class="nav">
    <a class="left" href="/portfolio/iora" title="Iora">&larr; Iora</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>When playing a fantasy sports game becomes a chore, it's time to fantasize about a new game.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Stattleship approached thoughtbot with a simple plan: to build an "anti-fantasy" sports prediction game. Their thesis was that while sports fans love watching sports and making predictions, the day to day grind of managing a fantasy team had taken some of the fun out of the game.  The project goal was to build an app that could include all levels of fans in a game based solely around sports stats and simple predictions. The game would work across all sports, to provide a fun and engaging experience all year round.</p>
        <p>We were hired to iterate on the actual business concept, and implement the software behind the web application.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>Initially, we ran weekly experiments to identify the exact style of the game.  Many of the initial assumptions were turned on their head, as each experiment (a small game which we would funnel real users to) revealed something new. Each week we would use analytics and particular metrics as evidence, and reformat the game base on what we learned.</p>
      </section>
      <section class="summary">
        <h4>The Summary</h4>
        <p>We were able to build off the original idea to create an engaging, addictive game based on sports stats that is easy for sports fans to dive into. It addresses the spirit of the original idea, and integrates everything we learning along the way.</p>
        <p>Hear more about the Stattleship's thoughts on this process in our <a href="http://robots.thoughtbot.com/post/27645625104/ive-got-a-little-thoughtbot-angel-or-devil-on-my">podcast</a>.</p>
      </section>
      <p class="visit"><a href="http://stattleship.com/">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/stattleship/home.png"><img class="screenshot" src="/assets/portfolio/stattleship/home.png" alt="Stattleship home page" /></a>
      <a href="/assets/portfolio/stattleship/storylines.png"><img class="screenshot" src="/assets/portfolio/stattleship/storylines.png" alt="Stattleship storylines page" /></a>
      <a href="/assets/portfolio/stattleship/game.png"><img class="screenshot" src="/assets/portfolio/stattleship/game.png" alt="Stattleship game page" /></a>
      <a href="/assets/portfolio/stattleship/profile.png"><img class="screenshot" src="/assets/portfolio/stattleship/profile.png" alt="Stattleship profile page" /></a>
      <a href="/assets/portfolio/stattleship/comment.png"><img class="screenshot" src="/assets/portfolio/stattleship/comment.png" alt="Stattleship comment page" /></a>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
