<% content_for :title, 'Stattleship' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2><a href="http://stattleship.com/">Stattleship</a></h2>
  <section class="nav">
    <a class="left" href="/portfolio/iora" title="Iora">&larr; Iora</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Summary or Quote. If quote, remove "summary" class from blockquote, and use cite tag</p>
    <cite>
      <p class="author">Author's name</p>
      <p class="title">Author's title</p>
    </cite>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Stattleship started out as an idea to be the anti-fantasy sports game. The main goal was for the app to include all levels of fans in a game based solely around sports stats. They wanted to keep the bar of entry, including the knowledge needed to play, low while keeping interesting throughout the season. The game would be cross sports compatible, and keep it fun and engaging for all sports fans.</p>
        <p>thoughtbot was hired to help develop and shape the idea and build the product.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We held weekly experiments to help flesh out the idea for the game. Each experiment was a small game which we would funnel real users to see how they engaged with the idea. Each experiment set out to prove assumptions that were made for the original game. Each week we would use analytics and particular metrics for evidence and reformat the game base on what we learned.</p>
      </section>
      <section class="summary">
        <h4>The Summary</h4>
        <p>From the experiments, Stattleship learned that many of their initial thoughts on the game were wrong. We were able to build off the original idea to create an engaging, addictive game based on sports stats that is easy for sports fans to dive into. It was still able to solve the original problems that Stattleship had with fantasy sports games.</p>
        <p>Hear more about the Stattleship's thoughts on this process in our <a href="http://robots.thoughtbot.com/post/27645625104/ive-got-a-little-thoughtbot-angel-or-devil-on-my">podcast</a>.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/stattleship/home.png"><img class="screenshot" src="/assets/portfolio/stattleship/home.png" alt="Stattleship home page" /></a>
      <a href="/assets/portfolio/stattleship/storylines.png"><img class="screenshot" src="/assets/portfolio/stattleship/storylines.png" alt="Stattleship storylines page" /></a>
      <a href="/assets/portfolio/stattleship/game.png"><img class="screenshot" src="/assets/portfolio/stattleship/game.png" alt="Stattleship game page" /></a>
      <a href="/assets/portfolio/stattleship/profile.png"><img class="screenshot" src="/assets/portfolio/stattleship/profile.png" alt="Stattleship profile page" /></a>
      <a href="/assets/portfolio/stattleship/comment.png"><img class="screenshot" src="/assets/portfolio/stattleship/comment.png" alt="Stattleship comment page" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
