<% content_for :title, 'vpp' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Velocity iPad app</h2>
</header>

<div id="portfolio-slider">
  <div id="vpp-project" title="vpp">
    <ul class="slider"></ul>
  </div>
</div>

<section class="primary">
  <section class="nav">
    <a class="right" href="/portfolio/owneraide">Owneraide &rarr;</a>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
