<% content_for :title, 'Velocity iPad App' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Velocity iPad App</h2>
  <section class="nav">
    <a class="left" href="/portfolio/fanboat" title="Fanboat">&larr; Fanboat</a>
    <a class="right" href="/portfolio/owneraide" title="Owneraide">Owneraide &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>A mobile survey application for remote events.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>Vertical Performance Partners, a provider of mobile learning tools for sales teams, approached thoughtbot with a challenge to build a mobile learning and survey application, for real time events, on a short schedule.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We were able to create an HTML-based mobile application which runs on iPads, and is used in real-time at sales learning events.  VPP's clients are able to maximize the return on their sales training by analyzing results in real time, and improving sales team performance as a result.</p>
      </section>
    </section>
    <section id="screenshots">
      <a href="/assets/portfolio/velocity/dashboard.png"><img class="screenshot" src="/assets/portfolio/velocity/dashboard.png" alt="Veloicty dashboard" /></a>
      <a href="/assets/portfolio/velocity/quiz.png"><img class="screenshot" src="/assets/portfolio/velocity/quiz.png" alt="Veloicty quiz" /></a>
      <a href="/assets/portfolio/velocity/sliders.png"><img class="screenshot" src="/assets/portfolio/velocity/sliders.png" alt="Veloicty quiz sliders" /></a>
      <a href="/assets/portfolio/velocity/remote-browse.png"><img class="screenshot" src="/assets/portfolio/velocity/remote-browse.png" alt="Veloicty remote browse" /></a>
      <a href="/assets/portfolio/velocity/remote-search.png"><img class="screenshot" src="/assets/portfolio/velocity/remote-search.png" alt="Veloicty remote search" /></a>
    </section>
  </section>

  <div id="get-started">
    <a href="/contact">
      <h3>Want to hire us?</h3>
      <p>Click here or call us at (877) 976-2687.</p>
    </a>
  </div>
</section>
