#apprentice {
  header#main-header nav#main-nav {
    h1 {
      display: block;
      text-align: center;
      width: 100%;

      a {
        background: none;
        text-indent: 0;
        color: #000;
        font-weight: 600;
        font-size: 36px;
        margin-top: 16px;
        height: inherit;
        width: inherit;
      }
    }

    ul {
      display: none;
    }
  }

  h3.title, h2.title {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    font: 400 16px/16px $header;
    letter-spacing: 4px;
    margin: 0 0 16px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;

    span {
      background-color: #FCFCFC;
      padding: 0 10px;
      position: relative;
      top: -9px;
    }
  }

  div#jobs-wrapper.job-description {
  section#position-title {
    float: left;
    width: flex-grid(3);
    margin-right: flex-gutter();

    h2 {
      margin-bottom: lh();
    }
  }

  section.position-description {
    float: left;
    width: flex-grid(9);
  }
  }

  #page-header {
    h3 {
      color: #636363;
      font: 600 18px/24px $header;
    }
  }
}

// Apprentice alumni
#apprentice .alumni {
  @extend .clearfix;
  width: grid-width(12);
  margin-bottom: 20px;

  .alumnus {
    float: left;
    width: grid-width(6);

    @include media($small) {
      width: grid-width(12);
    }

    img {
      float: left;
      margin: 0 $gw-gutter 0 0;
    }

    h3 {
      margin: 0;
    }

    .bio {
      float: left;
      width: grid-width(7);

      @include media($small) {
        float: none;
        width: grid-width(12);
      }
    }
  }

}

div#jobs-wrapper.job-description .alumni {
  a.apply {
    margin-left: grid-width(1.5);
    margin-top: $gw-gutter * 2;
    text-align: center;
    width: grid-width(9);

    @include media($small) {
      margin-left: 0;
      margin-right: 0;
      width: grid-width(12);
    }
  }
}

section.tracks {
  @include clearfix;
  width: grid-width(12);

  .beginner, .intermediate, .designer, .developer {
    @include box-sizing(border-box);
    float: left;
    text-align: center;
    width: grid-width(6) - $gw-gutter;

    .description {
      height: 200px;

      @include media($small) {
        height: auto;
      }
    }

    @include media($small) {
      width: grid-width(12);
    }
  }

  // Center the two panels on the page. box-sizing matters.
  $spacing: $gw-gutter + ($gw-gutter / 2);
  .beginner {
    margin-left: $spacing;
    padding-right: $spacing;
    border-right: 1px solid $light-gray;

    @include media($small) {
      margin-left: 0;
      padding-right: 0;
      border: none;
    }
  }

  .intermediate, .designer {
    padding-left: $spacing;

    @include media($small) {
      padding-left: 0;
    }
  }
}

section#faqs {
  margin-top: 20px;
}
