#apprentice {
  header#main-header nav#main-nav {
    h1 {
      display: block;
      text-align: center;
      width: 100%;

      a {
        background: none;
        text-indent: 0;
        color: #000;
        font-weight: 600;
        font-size: 36px;
        margin-top: 16px;
        height: inherit;
        width: inherit;
      }
    }

    ul {
      display: none;
    }
  }

  h3.title, h2.title {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    font: 400 16px/16px $header;
    letter-spacing: 4px;
    margin: 0 0 16px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;

    span {
      background-color: #FCFCFC;
      padding: 0 10px;
      position: relative;
      top: -9px;
    }
  }

  div#jobs-wrapper.job-description {
  section#position-title {
    float: left;
    width: flex-grid(3);
    margin-right: flex-gutter();

    h2 {
      margin-bottom: lh();
    }
  }

  section.position-description {
    float: left;
    width: flex-grid(9);
  }
  }

  #page-header {
    h1 {
      font-size: 60px;
    }

    h3 {
      color: #636363;
      font: 600 18px/24px proxima-nova,"helvetica neue",arial,sans-serif
    }
  }
}

// Apprentice alumni
#apprentice .alumni {
  @extend .clearfix;
  width: grid-width(12);

  .alumnus {
    float: left;
    width: grid-width(6);

    img {
      float: left;
      margin: 0 $gw-gutter 0 0;
    }

    h3 {
      margin: 0;
    }

    .bio {
      float: left;
      width: grid-width(7);
    }
  }
}

section.tracks {
  @include clearfix;
  width: grid-width(12);

  .beginner, .advanced {
    @include box-sizing(border-box);
    float: left;
    text-align: center;
    width: grid-width(6) - $gw-gutter;

    .description {
      height: 310px;
    }
  }

  // Center the two panels on the page. box-sizing matters.
  $spacing: $gw-gutter + ($gw-gutter / 2);
  .beginner {
    margin-left: $spacing;
    padding-right: $spacing;
    border-right: 1px solid $light-gray;
  }

  .advanced {
    padding-left: $spacing;
  }
}

