/* basic site styles
---------------------------------------- */
body {
  background-color: #FCFCFC;
  border-top: 4px solid $red;
  color: #2B2B2B;
  font: 400 16px $body;
  text-align: center;
  padding: 0 20px;

  @media screen and (max-width: 750px), screen and (max-device-width: 480px) {
    -webkit-text-size-adjust: none;
  }
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: $header;
  text-rendering: optimizeLegibility;
}

h1 {
  color: #2b2b2b;
  font-size: lh(3);
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: lh();
}

h2 {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 200;
  line-height: lh(2);
  margin-bottom: lh(2);
}

h3 {
  font-size: lh();
  font-weight: 500;
  line-height: lh();
  margin-bottom: lh();
}

h4 {
  line-height: lh();
  margin: 0;
}

p {
  color: #555;
  font-weight: 400;
  line-height: lh();
  margin-bottom: lh();
  text-rendering: optimizeSpeed;
}

ul {
  list-style-position: outside;
  margin-bottom: lh();

  li {
    line-height: lh();
  }
}

img {
  display: block;
  vertical-align: bottom;
}

blockquote {
  background: url('/images/quote.png') no-repeat;
  border: 0;
  font: 300 18px $header;
  margin: 0 flex-gutter() 0 0;
  padding-left: flex-gutter();

  p {
    line-height: lh(1.5);
  }

  p.author {
    color: #bbb;
    font: italic 16px $body;
    line-height: lh();
    margin: 0;
  }
}

a {
  &:link, &:active {
    color: $red;
    text-decoration: none;
  }

  &:visited {
    color: darken($red, 5%);
    text-decoration: none;
  }

  &:hover {
    color: lighten($red, 10%);
    text-decoration: none;
  }
}

img {
  margin-bottom: 0;
}

#page-header {
  background: url('/images/shadowing.png') center top no-repeat;
  padding-top: lh(3);
  text-align: center;
    @media screen and (max-width: 750px), screen and (max-device-width: 480px) {
      @include background-size(contain);
    }

  h1 {
    line-height: lh(3);

    @media screen and (max-width: 750px), screen and (max-device-width: 480px) {
      font-size: 32px;
      font-weight: 600;
      line-height: lh(2);
      text-align: left;
    }

    span.coupon {
      display: block;
      font-size: 0.8em;
      font-weight: 400;
    }
}

  h2 {
    color: #736B6C;
    font: normal 14px $body;
    line-height: lh();
    margin-bottom: 0;
  }
}
