$header: "calluna-sans", "Helvetica Neue", Helvetica, sans-serif;
$body: "freight-text-pro", Georgia, serif;

$red: #AD141E; // thoughtbot red*/
$light-gray: #ddd;

$lh: 24px; // line-height of all the type on the site*/

// Flexible grid
@function flex-grid($columns, $container-columns: $fg-max-columns) {
  $width: $columns * $fg-column + ($columns - 1) * $fg-gutter;
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;

  @return percentage($width / $container-width);
}

// Flexible grid gutter
@function flex-gutter($container-columns: $fg-max-columns, $gutter: $fg-gutter) {
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;

  @return percentage($gutter / $container-width);
}

// Line-height
@function lh($amount: 1) {
  @return $lh * $amount;
}

// // grid
$fg-column: 60px;
$fg-gutter: 25px;
$fg-max-columns: 12;
$fg-max-width: 995px;


$gw-column: percentage($fg-column/$fg-max-width); // one grid column 60/995
$gw-gutter: 2.5125628%; // size of one gutter 25/995
