.wrapper {
  margin: 0 auto;
  text-align: left;
  width: flex-grid(12);

  @include media($medium) {
    max-width: 1122px;
    min-width: 720px;
  }

  @include media($small) {
    max-width: 420px;
  }
}


.button {
  -webkit-font-smoothing: antialiased;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 lighten($red, 20%));
  @include transition(all .3s);
  background: $red;
  border: 1px solid darken($red, 20%);
  color: #fff;
  display: block;
  font:700 24px $header;
  line-height: lh();
  padding: lh(1.5);
  text-shadow: 0 -1px 0 darken($red, 10%);

  @include media($small) {
    text-align: center;
  }

  &:hover {
    @include box-shadow(inset 0 1px 0 lighten($red, 30%));
    background: lighten($red, 5%);
    border: 1px solid darken($red, 10%);
    text-shadow: 0 -1px 0 darken($red, 5%);
  }

  &:active {
    @include box-shadow(inset 0 -1px 3px darken($red, 15%));
    background: darken($red, 5%);
    text-shadow: none;
  }
}

.row-end {
  margin-right: 0;
}

.primary, .secondary {
  @extend .clearfix;
  @extend .wrapper;
}

.secondary-wrapper {
  background: rgba(#E4E4E4, .7) image-url('shadowing.png') center 0 no-repeat;
  border-bottom: 1px solid #DCDCDC;
  border-top: 1px solid #DCDCDC;
  padding: (lh(2) - 1) 20px (lh(2) - 1);
  margin: 0 -20px;

  @include media($small) {
    padding: lh(1.5) 20px;
  }
}

.secondary-header {
  padding-top: lh(3);

  @include media($small) {
    margin-top: lh(1.5);
    padding-top: 0;
  }
}

.external-link {
  background: image-url('external-link.png') no-repeat right -8px;
  padding-right: 16px;

  &:hover {
    background-position: right 8px;
  }
}
