section.open-source {
  @extend .secondary-header;

  ul {
    @extend .clearfix;
    list-style: none;
    margin-bottom: lh(3); /*line hight to maintain baseline grid*/

    @include media($small) {
      margin-bottom: 0;
    }

    li {
      float: left;
      margin: lh(2) flex-gutter() 0 0; /*line hight top bottom to maintain baseline grid*/
      width: flex-grid(3);

      &.end-row {
        @extend .row-end;
      }

      &.start-row {
        clear: both;
      }

      a {
        display: block;

        &:hover {
          background: #efefef;
          @include transition(all .3s);
          @include box-shadow(0 0 0 10px #efefef);
        }
      }

      &.highlighted {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: lh();
        margin: 0; /*line-hight top bottom to maintain baseline grid*/
        padding-right: flex-gutter();
        width: flex-grid(6);

        a {
          padding-left: flex-grid(6)+flex-gutter();
          min-height: 170px;

          @media screen and (min-width: 750px) {
            h3 {
              color: $red;
              font-size: 24px;
              padding-top: lh(2);
            }
          }
        }

        &.paperclip {
          a {
            background: transparent url('/images/oss/paperclip.png') 22px 2px no-repeat;

            &:hover {
              background-color: #efefef; 
            }

            @media screen and (max-width: 850px) {
              padding-left: 0;
              background: none;
            }
          }
        }

        &.factory-girl {
          @extend .row-end;
          padding-right: 0;

          a {
            background: transparent url('/images/oss/factory-girl.png') 18px 2px no-repeat;

            &:hover {
              background-color: #efefef; 
            }

            @media screen and (max-width: 850px) {
              padding-left: 0;
              background: none;
            }
          }
        }
      }

      @media screen and (max-width: 880px) {
        ul li {
          width: flex-grid(6);

          &.end-row {
            margin-right: flex-gutter();
          }

          &.start-row {
            clear: none;
          }

          &:nth-child(2n) {
            margin-right: 0;
          }

          &:nth-child(2n+1) {
            clear: both;
          }
        }
      }

      @include media($small) {
        width: flex-grid(12);
        margin: 0 0 lh() 0;

        &:nth-child(2n) {
          margin-right: 0;
        }

        h3 {
          color: $red;
        }

        &.highlighted {
          border: none;
          padding: 0;
          float: none;
          width: auto;
          margin: 0 0 lh() 0;

          &.paperclip a, &.factory-girl a {
            padding: 0;
            background-image: none;
            min-height: 1px;

            h3 {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

section#events {
  @extend .secondary;
  text-shadow:  0 1px 0 #fcfcfc;

  p.events-intro {
    float: left;
    margin-right: flex-gutter();
    width: flex-grid(3);
  }

  ul {
    list-style: none;
    @extend .clearfix;

    li {
      background: #F9F9F9;
      border-top: 5px solid #292929;
      display: block;
      float: left;
      margin-right: flex-gutter();
      overflow: hidden;
      padding: (lh(2)- 5) lh() lh(); /*line hight padding to maintain baseline grid minus 5 pixels for the top border*/
      width: flex-grid(3); /*grid width minus padding*/
      @include box-sizing(border-box);


      &.boston-vim {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 880px) {
    p.events-intro {
      float: none;
      width: auto;
    }

    ul {
      li {
        width: flex-grid(4);
      }
    }
  }

  @include media($small) {
    p.events-intro {
      float: none;
      width: flex-grid(12);
    }

    ul li {
      float: none;
      width: flex-grid(12);
      margin-bottom: lh();
    }
  }
}

