section#entries {
  @extend .primary;
  @extend .secondary-header;

  .events-wrapper {
    margin: 0 auto;
    width: grid-width(8);

    @include media($small) {
      width: 100%;
    }

    article {
    }

    a.ical-top {
      display: block;
      text-align: right;
    }

    a.ical-bottom {
      @extend .button;
      display: block;
      margin: 0 auto;
      padding: 15px 20px;
      text-align: center;
    }

    > ul {
      border-top: 5px solid $red;
      list-style: none;
      @extend .clearfix;
      padding-top: $lh*2;

      > li {
        @extend .clearfix;

        border-bottom: 3px solid #DDD;
        float: left;
        margin: 0 0 $lh*1.5 0; /*line height on the bottom to maintain baseline grid*/
        text-align: left;
        padding-bottom: $lh*1.5;
        width: 100%;

        h2 {
          font: 700 24px $header;
          line-height: $lh*2; /*double line-hieght for bigger type*/
          margin-bottom: 0;
        }

        h3 {
          color: #aaa;
          font: italic 14px $body;
          line-height: $lh;
          margin-bottom: $lh/2; 

          a {
            display: inline-block;
            margin-left: $gw-gutter;
          }
        }

        div p {
          margin-bottom: 20px;

          &:last-child {
            margin: 0px;
          }

        }

        ul {
          margin: 20px 0 $lh 0;
          list-style: none;

          li {
            background: rgba(228,228,228, 0.7);
            float: left;
            padding: 10px 0px 10px 10px;

            &:last-child {
              padding: 10px;
            }

            img {
              width: 48px;
            }
          }
        }
      }
    }
  }

  .event-coupon-wrapper {
    @extend .events-wrapper;
    margin-top: -1.5em;
    font-family: $header;

    h3, h2 {
      margin-bottom: 0;
    }

    p {
      margin-top: $lh;
      padding-top: $lh;
      border-top: 5px solid #aaa;
      display: inline-block;
      width: 100%;

      &:first-child {
        border-color: $red;
      }

      > a {
        @extend .clearfix;
        border-bottom: 3px solid #DDD;
        @include box-sizing(border-box);
        color: #000;
        float: left;
        padding: $lh 20px;
        text-align: left;
        @include transition(all 2s ease-in);
        width: 100%;

        &:hover {
          background-color: #eee;
        }

        &:first-child {
          margin-top: -$lh;
        }

        strong {
          font-family: $header;
          font-size: 17px;
          font-weight: 500;
          margin-right: 6px;
          text-transform: uppercase;

          &.webcast {
            color: #006b83;
            background: url(https://learn.thoughtbot.com/assets/icons/video-small.png) no-repeat;
            padding-left: 26px;
          }

          &.workshop {
            color: #6c1764;
            background: url(https://learn.thoughtbot.com/assets/icons/gear-small.png) no-repeat;
            padding-left: 26px;
          }

          &.book {
            color: #286d15;
            background: url(https://learn.thoughtbot.com/assets/icons/book-small.png) no-repeat;
            padding-left: 26px;
          }
        }
      }
    }
  }
}
