footer#main-footer {
  @extend .wrapper;
  @include clearfix;

  @include media($small) {
    padding-top: lh(1.5);
  }

  opacity: .5;
  padding-top: lh(4);

  @include transition(opacity .5s);

  &:hover {
    opacity: 1;
  }

  a {
    color: #7a7a7a;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }

  p#copyright {
    color: #7a7a7a;
    margin-top: lh(2);
  }
}
