footer#main-footer {
  @extend .wrapper;
  @extend .clearfix;

  @include media($small) {
    padding-top: lh(1.5);
  }

  opacity: .5;
  padding-top: lh(4);

  @include transition(opacity .5s);

  &:hover {
    opacity: 1;
  }

  h3 {
    color: #545454;

    @include media($small) {
      margin-bottom: lh(.5);
    }
  }

  a {
    color: #7a7a7a;

    &:link {
      color: #7a7a7a;
    }

    &:hover {
      color: $red;
    }
  }

  nav {
    @extend .clearfix;

    section {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(2);


      &#current-workshops-footer {
        width: flex-grid(4);

        ul {
          li {
            float: left;
            display: block;
            margin-right: flex-gutter(4);
          }
        }
      }

      &#products {
        li {
          a {
            @extend .external;
          }
        }
      }

      &#blog-footer {
        width: flex-grid(4);
        @extend .row-end;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: lh(.5);
        }
      }

      @include media($small) {
        float: none;
        margin: 0;
        padding-top: lh(.5);
        width: flex-grid(12);

        &#thoughtbot-footer, &#footer-products {
          float: left;
          margin-top: 0;
          padding-top: 0;
          width: flex-grid(6);
        }

        &#thoughtbot-footer {
          margin-right: flex-gutter();
        }

        &#current-workshops-footer, &#blog-footer {
          width: flex-grid(12);
          float: none;
          @extend .clearfix;
          clear: both;

          ul {
            li {
              width: auto;
              float: none;
            }
          }
        }
      }
    }
  }

  p#copyright {
    color: #7a7a7a;
    margin-top: lh(2);
  }
}
