header#main-header {
  @extend .wrapper;
  @extend .clearfix;

  nav#main-nav {
    @extend .clearfix;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: lh();

    @include media($small) {
      padding-bottom: 0;
    }

    h1 {
      margin: 42px 0 24px;

      @include media($medium) {
        float: left;
      }

      @include media($small) {
        margin: lh(.75) 0;
      }

      a {
        background: image-url('thoughtbot-logo.png') 0 0 no-repeat;
        display: block;
        height: 65px;
        width: 242px;
        text-indent: -9999px;

        @include media($small) {
          background-position: center center;
          display: block;
          width: auto;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image: image-url('thoughtbot-logo-hirez.png');
          background-size: contain;
        }
      }
    }

    ul {
      display: block;
      margin-top: 72px;
      @extend .clearfix;

      @include media($small) {
        border-top: 1px solid #dcdcdc;
        margin: 0;
        padding: 0;
      }

      @include media($medium) {
        float: right;
      }

      li {
        @include media($medium) {
          float: left;
        }

        a {
          @include transition(color .2s);
          color: #2b2b2b;
          display: block;
          font: 500 16px $header;
          line-height: lh();
          margin: 0 lh();

          @include media($small) {
            padding: lh(.5) 0;
            text-align: center;
          }

          &:hover {
            color: $red;
            text-decoration: none;
          }
        }
      }
    }
  }
}
