#get-started {
  padding: lh() 0 lh(2);

  a {
    @extend .button;
    @extend .clearfix;
    font: 500 18px $header;

    h3 {
      color: #fff;
      float: left;
      margin-bottom: 0;

      @media screen and (max-width: 750px), screen and (max-device-width: 480px) {
        margin-bottom: lh();
        float: none;
      }
    }

    p {
      color: #fff;
      color: rgba(#fff, .8);
      float: right;
      font: 16px $header;
      line-height: lh();
      margin-bottom: 0;
      margin-top: 4px;
      margin-bottom: -4px;
    }

    @media screen and (max-width: 930px) {
      h3 {
        float: none;
      }

      p {
        float: none;
      }
    }
  }
}
