#portfolio-slider {
  @extend .secondary-wrapper;
    margin-top: lh(3);
    margin-bottom: lh(2);
    position: relative;

  div {
    @extend .secondary;

    h2 {
      text-shadow: 0 1px 0 #fcfcfc;
    }

    #slider-wrapper {
      height: lh(21); /*makes sure the slider maintains line-height grid*/
    }

    ul.slider {
      @include background-size(cover);
      @include box-shadow(inset 0 1px 0 rgba(#fff, .4), 0 0 4px rgba(#000, .15));
      @include box-sizing(border-box);
      border: 1px solid rgba(#000, .2);
      height: 420px;
      list-style: none;
      position: relative;
      width: flex-grid(12);

      @media screen and (max-width:1199px) {
        overflow: hidden;
        margin-top: lh(2);
      }

      img {
        display:none;
        left:0px;
        position:absolute;
        top:0px;
      }

      a {
        display: block;
      }

      div.nivo-controlNav {
        position: absolute;
        top: 440px;
        right: 1px;
        width: auto;

        @media screen and (max-width:1199px) {
          top: -20px;
        }

        a {
          text-indent: -9999px;
          display:block;
          width: 8px;
          height: 9px;
          background: url('/images/portfolio/slider-control.png') -11px 0 no-repeat;
          float: right;
          margin-right: 6px;

          &.active {
            background: url('/images/portfolio/slider-control.png') 0 0 no-repeat;
          }
        }
      }

      div.nivo-directionNav  {
        a {
          background: url('/images/portfolio/arrows.png') 0 0 no-repeat;
          display: block;
          height: 40px;
          position: absolute;
          text-indent: -9999px;
          width: 21px;

          &.nivo-prevNav {
            background-position: 0 0;
            left: 10px;
            top: 44%;

            &:hover {
              background-position: 0 -40px;
            }
          }

          &.nivo-nextNav {
            background-position: -21px 0;
            right: 10px;
            top: 44%;

            &:hover {
              background-position: -21px -40px;
            }
          }
        }

        @media screen and (min-width:1200px) {
          a {
            &.nivo-prevNav {
              left: -60px;
            }

            &.nivo-nextNav {
              right: -60px;
            }
          }
        }
      }

      div.nivo-slice {
        @include background-size(cover);
      }
    }
  }

  @include media($small) {
    height: lh(17);

    ul.slider {
      height: lh(14) - (2px)  !important; /*line-height minus 2 for the border to maintain baseline grid*/
      max-width: flex-grid(12);
    }
  }
}

section#portfolio {
  @extend .clearfix;
  width: flex-grid(12);
  margin: 80px 0 40px;

  ul {
    @extend .clearfix;
    list-style: none;

    li {
      float: left;
      margin: 0 flex-gutter() lh() 0;
      width: flex-grid(3, 12);
      padding: 4px;
      border: 1px solid #BDBDBD;
      @include box-sizing(border-box);

      &:hover {
        border-color: #999;
        @include transform(scale(1.01));
        @include box-shadow(0 0 5px #e3e3e3);
      }

      a {
        display: block;
        height: lh(9) - 10px; // Subtracts 2 px for border on parent
        text-indent: -9999px;
        @include background-size(cover);
      }

      &#vpp a {
        background: url('/images/portfolio/thumb/vpp.jpg') center center no-repeat;
      }

      &#gulfcoast a {
        background: url('/images/portfolio/thumb/gulfcoast.jpg') center center no-repeat;
      }

      &#awesome a {
        background: url('/images/portfolio/thumb/awesome.jpg') center center no-repeat;
      }

      &#owneraide a {
        background: url('/images/portfolio/thumb/owneraide.jpg') center center no-repeat;
      }

      &#iora {
        @extend .row-end;
        a {
          background: url('/images/portfolio/thumb/iora.jpg') center center no-repeat;
        }
      }

      &#stattleship {
        a {
          background: url('/images/portfolio/thumb/stattleship.jpg') center center no-repeat;
        }
      }

      &#tastedmenu a {
        background: url('/images/portfolio/thumb/tastedmenu.jpg') center center no-repeat;
      }

      &#umbrellatoday {
        @extend .row-end;
        a {
          background: url('/images/portfolio/thumb/umbrellatoday.jpg') center center no-repeat;
        }
      }
    }
  }

  @include media($small) {
    margin: lh(1.5) 0;

    ul {
      margin: 0;

      li {
        float: left;
        margin: lh() flex-gutter() 0 0;
        width: flex-grid(6);

        &:first-child {
          margin-top: 0;
        }

        &:nth-child(2) {
          margin-top: 0;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        a {
          height: lh(7) - 10px;
        }
      }
    }
  }
}
