div#jobs-wrapper {
  @extend .secondary-header;
  @extend .primary;
  padding-top: lh(2);

  @include media($small) {
    padding-top: 0;
  }

  ul.job-openings {
    @extend .clearfix;
    list-style: none;
    margin-bottom: lh(3);
    text-align: center;

    li {
      margin: 5px 0 5px (flex-gutter() * 3);
      @include inline-block();

      &:first-child {
        margin-left: 0;
      }

      a {
        @extend .button;
        padding: lh(.5) lh(1.5);
      }
    }
  }

  section#jobs-about {
    padding: 0; /*top padding makes up for 5px border and 10px margin*/

    section.about-thoughtbot {
      float: left;
      width: flex-grid(8);
      margin-right: flex-gutter();

      p.intro {
        font: 24px $header;
        line-height: lh(1.5);
        margin-bottom: lh();
      }

      section.video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin: 0 auto;

        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    section.extra-info {
      float: left;
      width: flex-grid(4);
      border-top: 5px solid #333;
      margin-top: 8px;
      padding-top: lh();

      section.benifits {
        h3 {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: lh();
        }

        ul {
          list-style: none;

          li a {
            font: 16px $header;
          }
        }
      }
    }

    @include media($small) {
      section.about-thoughtbot, section.extra-info {
        float: none;
        width: 100%;
        margin: 0;
        border-top: 0;

        div {
          @include column-count(1);
        }
      }
    }
  }
}

div.more-about-us-wrapper {
  @extend .secondary-wrapper;
  margin-top: lh(2);

  section#more-about-us {
    @extend .wrapper;
    @extend .clearfix;

    ul {
      list-style: none;

      li {
        float: left;
        width: flex-grid(4);
        margin-right: flex-gutter();

    @include media($small) {
      width: 100%;
      margin-right: 0;
      float: none;
    }
        &:nth-child(3n) {
          margin-right: 0;
        }

        h4 {
          margin-bottom: lh();
        }
      }
    }
  }
}

//************************************************************************//
// Job Description page. Designer / Developer / Apprentice
//************************************************************************//

div#jobs-wrapper.job-description {
  a.apply {
    @extend .button;
    margin: 0 0 lh();
    padding: lh(1);
    @include inline-block();

    h3 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 0;
    }

    p {
      color: rgba(#fff, .6);
      font: 16px $header;
      margin-bottom: 0;
    }
  }

  section#position-title {
    float: left;
    width: flex-grid(4);
    margin-right: flex-gutter();

    h2 {
      margin-bottom: lh();
    }

  }

  section.position-description {
    float: left;
    width: flex-grid(8);
  }

    @include media($small) {
      section#position-title, section.position-description {
        float: none;
        width: 100%;
        margin-right: 0;
      }
    }
  // Style for client jobs
  //---------------------------------------- //
  section#positions {
    float: left;
    width: flex-grid(7);
    margin-right: flex-gutter();

    ul {
      list-style: none;
    }

    @include media($small) {
      float: none;
      width: auto;
    }
  }

  // Big Red Button
  section#apply-to-thoughtbot {
    margin-top: lh(1.5);
  }
}

//************************************************************************//
// Job Form
//************************************************************************//

div#jobs-wrapper {
  section#job-form {
    h1#logo, #bottom{
      display: none;
    }

    header.info {
      display: none;
    }
  }
}
