body#portfolio {
  text-align: left;

  header {
    @extend .primary;

    h2 {
      font-size: 60px;
      font-family: $header;
      color: #2b2b2b;
      font-weight: 100;
      margin-bottom: lh(3);
    }
  }

  section.nav {
    margin-bottom: lh(2);
    clear: both;

    a {
      font-style: italic;
      margin-bottom: lh(2);

      &.right {
        float: right;
      }

      &.left {
        float: left;
      }
    }
  }

  #get-started {
    clear: both;

    a {
      margin-top: lh();
    }
  }

  @include media($small) {
    header {
      h2 {
        font-size: 24px;
        line-height: lh(1.4);
        text-align: center;
        margin-bottom: lh(1.33);
      }
    }

    #portfolio-slider {
      margin-top: 0;
      margin-bottom: 0;

      ul {
        margin: 0;
      }
    }

    .primary {
      .nav {
        margin: lh(1.5) 0;
        overflow: auto;

        a {
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 48%;

          &.right {
            text-align: right;
          }
        }
      }
    }

    #get-started {
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
      padding-bottom: lh(1.5);
    }
  }
}

