body#portfolio {
  text-align: left;

  header {
    @extend .primary;

    h2 {
      color: #2b2b2b;
      float: left;
      font-family: $header;
      font-size: 60px;
      font-weight: 100;
      line-height: 60px;
      margin: 0 flex-gutter() lh(3) 0;
      width: flex-grid(6);
    }

    section.nav {
      float: right;
      margin-top: 20px;
      text-align: right;
      width: flex-grid(6);

      a {
        color: #555;
        font-style: italic;
        margin-left: 1em;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: $red;
        }

        &.visit {
          font-style: normal;
          color: $red;
          border-bottom: 2px solid $red;
        }
      }
    }
  }

  > blockquote {
    @extend .secondary-wrapper;
    padding-bottom: lh(4);
    z-index: -1;

    > div {
      @extend .secondary;
      overflow: visible;
      position: relative;

      &:before {
        color: #c0c0c0;
        content: '\201c';
        font-size: 72px;
        font-weight: 700;
        left: - lh(1.66);
        line-height: 1em;
        position: absolute;
        top: - lh(.5);
        visibility: visible;
      }
    }

    p {
      font-family: $body;
      font-size: lh(1.5);
      font-style: italic;
      font-weight: 400;
      line-height: lh(2);
    }

    cite {
      display: block;
      margin-right: flex-gutter();
      position: absolute;

      p {
        font-size: 1rem;
        font-style: normal;
        line-height: lh();

        &.author {
          color: #555;
          font-weight: 800;
          margin-bottom: 0;
        }

        &.title {
          margin-top: 0;
        }
      }
    }
  }

  section.case {
    display: inline-block;
    float: left;
    margin: lh(3) flex-gutter() lh(2) 0;
    padding-top: lh(2);
    width: flex-grid(4);

    section {
      width: 100%;;
    }
  }

  section.screenshots {
    margin-top: - lh(3);

    img.screenshot {
      border: 1px solid white;
      @include box-shadow(0px 0px 0px 1px #ddd);
      float: right;
      margin-bottom: lh(3); 
      width: flex-grid(8);

      &:first-child {
        margin-top: lh(3) * -1;
      }
    }
  }

  #get-started {
    clear: both;

    a {
      margin-top: lh();
    }
  }

  @include media($small) {
    header {
      h2 {
        font-size: 24px;
        line-height: lh(1.4);
        text-align: center;
        margin-bottom: lh(1.33);
      }
    }

    #portfolio-slider {
      margin-top: 0;
      margin-bottom: 0;

      ul {
        margin: 0;
      }
    }

    .primary {
      .nav {
        margin: lh(1.5) 0;
        overflow: auto;

        a {
          margin-bottom: 0;
          width: 48%;

          &.right {
            text-align: right;
          }
        }
      }
    }

    #get-started {
      border-bottom: 1px solid #ddd;
      margin-bottom: 0;
      padding-bottom: lh(1.5);
    }
  }
}

