<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="assets/master.css" media="all" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Description" name="Description" content="thoughtbot is a technology consulting firm that provides web application development and design services." />
    <meta http-equiv="Keywords" name="Keywords" content="thoughtbot, ruby, rails, web application, consulting, training, kickstart, shoulda, paperclip, factory girl, clearance, boston, new york, agile" />
    <title>thoughtbot : {{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/GiantRobotsSmashingIntoOtherGiantRobots" />
    <link rel="icon" type="image/ico" href="assets/favicon.ico" />
  </head>

  <body id="{{ page.keyword }}">

    {{ content }}

    <div id="footer">
      <div class="wrapper">
        <div id="footer-left">
          <h3>&copy; 2009 thoughtbot, inc.</h3>
          <a href="about.html">About</a><span>&middot;</span>
          <a href="jobs.html">Jobs</a><span>&middot;</span>
          <a href="about.html">Blog</a><span>&middot;</span>
          <a href="contact.html">Contact</a>
        </div>
        <img id="footer-logo" src="assets/footer-logo.png" alt="footer logo" />
      </div>
    </div>

  </body>
</html>
