<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/screen.css" media="all" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Description" name="Description" content="{{ page.meta_description }}" />
    <meta http-equiv="Keywords" name="Keywords" content="{{ page.meta_keywords }}" />
    <title>{{ page.title }} : thoughtbot</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/GiantRobotsSmashingIntoOtherGiantRobots" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
  </head>

  <body id="{{ page.keyword }}">

    <header>
      <nav id="main-nav">
        <ul>
          <li id="nav-ralph"><a href="/">thoughtbot</a></li>
          <li id="nav-community"><a href="/community">Community</a></li>
          <li><a href="/contact" id="contact-btn">Contact</a></li>
          <li id="nav-blog"><a href="http://robots.thoughtbot.com">Blog</a></li>
        </ul>
      </nav>
    </header>

    {{ content }}

    <footer>
    <nav>
      <section>
        <h3>thoughtbot</h3>
        <ul>
          <li><a href="/about">About</a><span>&middot;</span></li>
          <li><a href="/jobs">Jobs</a><span>&middot;</span></li>
          <li><a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span></li>
          <li><a href="http://workshops.thoughtbot.com/">Workshops</a><span>&middot;</span></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </section>
      <section>
        <h3>Products</h3>
        <ul>
          <li><a href="/about">About</a><span>&middot;</span></li>
          <li><a href="/jobs">Jobs</a><span>&middot;</span></li>
          <li><a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span></li>
          <li><a href="http://workshops.thoughtbot.com/">Workshops</a><span>&middot;</span></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </section>

      <h3>Workshops</h3>
      <ul>
        <li><a href="/about">About</a><span>&middot;</span></li>
        <li><a href="/jobs">Jobs</a><span>&middot;</span></li>
        <li><a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span></li>
        <li><a href="http://workshops.thoughtbot.com/">Workshops</a><span>&middot;</span></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <h3>Community</h3>
      <ul>
        <li><a href="/about">About</a><span>&middot;</span></li>
        <li><a href="/jobs">Jobs</a><span>&middot;</span></li>
        <li><a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span></li>
        <li><a href="http://workshops.thoughtbot.com/">Workshops</a><span>&middot;</span></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <h3>Blog</h3>
      <ul>
        <li><a href="/about">About</a><span>&middot;</span></li>
        <li><a href="/jobs">Jobs</a><span>&middot;</span></li>
        <li><a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span></li>
        <li><a href="http://workshops.thoughtbot.com/">Workshops</a><span>&middot;</span></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>


      <h3>&copy; 2011 thoughtbot, inc.</h3>
    </footer>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-1485842-6");
      pageTracker._trackPageview();
    </script>
    <script type="text/javascript" src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/3tbRq2.js"></script>

    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing-1.3.js"></script>
    <script type="text/javascript" src="/javascripts/jcarousel/lib/jquery.jcarousel.pack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cycle.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>

    <script type="text/javascript" src="http://use.typekit.com/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>
