<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/master.css" media="all" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Description" name="Description" content="thoughtbot is a technology consulting firm that provides web application development and design services." />
    <meta http-equiv="Keywords" name="Keywords" content="thoughtbot, ruby, rails, web application, consulting, training, kickstart, shoulda, paperclip, factory girl, clearance, boston, new york, agile" />
    <title>thoughtbot : {{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/GiantRobotsSmashingIntoOtherGiantRobots" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>

  <body id="{{ page.keyword }}">

    <div class="wrapper">
      <a href="/"><img id="eyes" src="/images/eyes.gif" width="17" height="8" alt="Eyes"></a>
      <ul id="main-nav">
        <li id="nav-services"><a href="services.html">Services</a></li>
        <li id="nav-training"><a href="training.html">Training</a></li>
        <li id="nav-products"><a href="products.html">Products</a></li>
        <li id="nav-ralph"><a href="index.html">thoughtbot</a></li>
        <li id="nav-about"><a href="about.html">About</a></li>
        <li id="nav-community"><a href="community.html">Community</a></li>
        <li id="nav-blog"><a href="http://giantrobots.thoughtbot.com">Blog</a></li>
      </ul>
      <h1 id="logo"><a href="/">thoughtbot</a></h1>
      <a href="contact.html" id="contact-btn"><img src="/images/contact-btn.png" alt="contact button" /></a>
    </div>

    {{ content }}

    <div id="footer">
      <div class="wrapper">
        <div id="footer-wrapper">
        <div id="footer-left">
          <h3>&copy; 2009 thoughtbot, inc.</h3>
          <a href="about.html">About</a><span>&middot;</span>
          <a href="jobs.html">Jobs</a><span>&middot;</span>
          <a href="http://robots.thoughtbot.com/">Blog</a><span>&middot;</span>
          <a href="contact.html">Contact</a>
        </div>
        <img id="footer-logo" src="/images/footer-logo.png" alt="footer logo" />
        </div>
      </div>
    </div>

  </body>
</html>
