section#container {
  margin-bottom: -20px;
  width: grid-width(9);

  header {
    margin: 0 0 $lh*2 0;

    h2.logo {
      float: left;
      text-align: left;
      width: grid-width(2);

      a {
        margin: 15px 0 0 30px;
        display: block;
      }
    }

    hgroup {
      float: left;
      text-align: left;
      padding: 40px 0 0 $gutter;

      h2 {
        font: 700 12px/14px $sans-serif;
        margin: 0 0 6px 0;
      }

      h3 {
        font: 400 13px/16px $serif;
      }
    }

    nav {
      display: block;
      float: right;

      ul {
        @include clearfix();
        margin-top: 10px;
        text-align: center;

        li {
          display: inline-block;
          margin-right: 10px;

          &:last-child {
           margin-right: 0;
          }

          a {
            display: block;
            height: 42px;
            @include hide-text;
            @include transition(0.5s);
            width: 42px;
          }
        }
      }
    }
  }

  aside {
    display: none;
    margin: 0;
    width: 100%;

    section.message {
      width: 100%;
      margin: 0;
    }

    ul.social {
      display: none;
    }
  }

  section#posts {
    float: left;
    width: grid-width(8.8);

    .post {
      margin: 0 0 $lh*3 0;
      padding: 0 0 $lh*1 grid-width(2) +  $gutter;
      position: relative;

      &:only-of-type {
        border-bottom: 0;
      }

      .meta-info {
        left: 10px;
        text-align: left;
        position: absolute;
        top: 18px;
        width: grid-width(2);

        p.post-date {
          border-bottom: none;
          font: 400 14px/14px $serif;
          margin: 0 0 44px 0;
          padding: 0;
          width: 100%;
        }

        p.tagged {
          display: block;
          font: 600 12px/12px $serif;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }

        ul.tags {
          color: #777;
          display: block;
          margin: 0 0 36px 0;

          li {
            font: 400 13px/14px $serif;
            font-style: italic;
            margin: 0 0 10px 0;
            position: relative;

            a {
              color: #777;
              font-weight: normal;
              text-decoration: none;
            }

            &:after {
              content: "\2014";
              font-size: 13px;
              left: -14px;
              position: absolute;
              top: 0;
            }
          }
        }

        p.comments {
          display: block;
          width: grid-width(2);

          a {
            font-size: 13px;
          }
        }

      }

      img {
        display: inline-block;
      }

      table {
        width: grid-width(7);
      }

      section.post-footer {
        p.comments {
          display: none;
        }

        div.tags {
          display: none;
        }
      }

      // Text posts
      h1.title {
        font: 300 36px/38px $sans-serif;
        text-align: left;
      }
    }
  }
}

// Pagination
#pagination {
  padding: 0 0 $lh (grid-width(2) + $gutter);
}

#pagination #older-link {
  width: grid-width(2);
}

#pagination #newer-link {
  width: grid-width(2);
}

// footer
footer {
  section#footer-container {
    width: grid-width(8.8);

    nav {
      margin-right: $gutter;
      width: grid-width(4);

      ul {
        float: left;
        width: grid-width(2);

        &#secondary-links {
          margin-left: $gutter;
        }
      }
    }

    section#products {
      @include clearfix();
      float: left;
      width: grid-width(4.8);

      section.product {
        width: 100%;

        a.logo {
          &:hover {
            @include border-radius(0);
            @include box-shadow(0 0 0 6px rgba(0, 0, 0, 0.04));
          }
        }

        &#trajectory {
          a.logo {
            height: 90px;

            img {
              width: 110px;
            }
          }
        }
      }
    }
  }
}
