section#container {
  margin: 0 auto;
  padding: 20px 0 0;
  width: grid-width(12);

  header {
    h2.logo {
      a {
        height: 85px;
        width: 85px;
      }
    }

    hgroup {
      float: left;
      text-align: left;
      padding: 40px 0 0 $gutter;
      width: grid-width(7);

      h2 {
        font: 700 12px/14px $sans-serif;
        margin: 0 0 6px 0;
        text-transform: uppercase;

        a {
          color: #333;
          font-weight: 700;
          text-decoration: none;

          &:hover {
           color: $red;
          }
        }
      }

      h3 {
        color: #777;
        font: 400 13px/16px $serif;
        font-style: italic;

        a {
          color: #777;
          font-weight: 400;
          text-decoration: none;

          &:hover {
           text-decoration: underline;
          }
        }
      }
    }

    nav {
      @include clearfix();
      display: block;
      float: left;
      margin: 0 0 0 $gutter;
      padding: 35px 0 0 0;
      width: grid-width(3);

      ul {
        @include clearfix();
        margin-top: 0;
        text-align: center;

        li {
          width: 42px;

          a {
            display: block;
            height: 41px;
            text-indent: -9999px;
            @include transition(0.5s);
          }
        }
      }
    }
  }

  aside {
    clear: none;
    display: inline-block;
    float: left;
    margin: 10px 0 0 $gutter;
    width: grid-width(3);

    .message {
      a {

        img {
          float: left;
          margin: 0 15px 0 0;
        }

        span.promo-name {
          color: #777;
          display: block;
          font: 400 14px/14px $serif;
          font-style: italic;
          margin: 0 0 4px 0;
          text-decoration: none;
        }

        span.promo-creative {
          color: #444;
          display: block;
          font: 700 16px/16px $sans-serif;
          text-decoration: none;
        }

        &:hover {
          @include border-radius(0);
          @include box-shadow(0 0 0 8px rgba(0, 0, 0, 0.05));
        }
      }
    }
  }

  section#posts {
    float: left;
    width: grid-width(9);

    .post {
      border-bottom: 3px solid #dddddd;
      margin: 0 0 $lh*3 0;
      padding: 0 0 $lh*1 grid-width(2) +  $gutter;
      position: relative;

      .meta-info {
        left: 10px;
        position: absolute;
        top: 18px;
        width: grid-width(2);

        p.post-date {
          font: 400 14px/14px $serif;
          margin: 0 0 44px 0;
        }

        p.tagged {
          font: 600 12px/12px $serif;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }

        ul.tags {
          color: #777;
          margin: 0 0 36px 0;

          li {
            font: 400 13px/14px $serif;
            font-style: italic;
            margin: 0 0 10px 0;
            position: relative;

            a {
              color: #777;
              font-weight: normal;
              text-decoration: none;
            }

            &:after {
              content: "\2014";
              font-size: 13px;
              left: -14px;
              position: absolute;
              top: 0;
            }
          }
        }
      }

      h2 {
        color: #111;
        font: 700 14px/21px $sans-serif;
        margin: 20px 0 0px 0;
        text-transform: uppercase;
      }

      h3, h4 {
        color: #333;
        font: 400 16px/26px $serif;
        font-style: italic;
        margin: 20px 0 0px 0;
      }

      p {
        font: 400 15px/24px $sans-serif;
        margin: 0 0 12px 0;
      }

      blockquote {
        color: #555;
        font: 400 15px/24px $sans-serif;
        font-style: italic;
        margin: 0 0 12px 0;
        padding: 0 30px 0 30px;

        p {
          color: #555;
          font-style: italic;
        }
      }

      ul {
        margin: 0 0 ($lh - 4) 0;

        li {
          font: 400 15px/24px $sans-serif;
          margin: 0 0 4px 0;
          position: relative;

          &:after {
            content: "\2022";
            font-size: 18px;
            font-weight: 700;
            left: -12px;
            position: absolute;
            top: -2px;
          }
        }
      }

      ol {
        margin: 0 0 ($lh - 4) 0;

        li {
          font: 400 15px/24px $sans-serif;
          list-style: outside;
          list-style-type: decimal;
          margin: 0 0 4px 0;
          position: relative;
        }
      }

      img {
        max-width: grid-width(7);
        margin-bottom: 10px;
      }

      a {
        color: $red;
        font-weight: 700;
        text-decoration: none;

        &:hover {
         text-decoration: underline
        }
      }

      em {
        font-style: italic;
      }

      strong {
        font-weight: 700;
      }

      table {
        font: 400 14px/22px $sans-serif;
        margin-bottom: 12px;
        width: grid-width(7);

        tr {
          border-bottom: 1px solid #ddd;
        }

        td,
        th {
          padding: 4px;
          width: 50%;
        }

        th {
          font-weight: 700;
          text-align: left;
        }
      }

      dl {
        font: 400 15px/24px $sans-serif;
        margin: 10px 0 20px;

        dt {
        }

        dd {
          margin: 0 0 8px 20px;
        }
      }

      section.post-footer {
        margin: 20px 0 0 0;

        p.author {
          font: 400 14px/14px $serif;
          font-style: italic;
          left: -12px;
          position: relative;

          &:before {
            content: "\2014";
          }
        }
      }

      /* text posts */
      h1.title {
        font: 300 36px/38px $sans-serif;
        margin: 0 0 30px 0;
        text-transform: none;

        a {
          color: #111;
          font-weight: 300;
          text-decoration: none;
        }
      }

      /*photo and video posts */
      &.photo,
      &.video {
        .meta-info {
          top: 0px;
        }

        .caption {
          margin-top: 8px;
        }

        .post-footer {
          p.comments {
            padding-bottom: 0px;
            position: relative;
            top: -30px;
          }
        }
      }

      /* link posts */
      &.link {
        .meta-info {
          top: 10px;
        }

        h1.title {
          font-size: 24px;
          line-height: 30px;

          a {
            font-weight: 400;
          }
        }
      }

      /* quote posts */
      &.quote {
        .meta-info {
          top: 8px;
        }

        q {
          font: 400 18px/26px $sans-serif;
          position: relative;

          &:before {
            content: '\201C';
            color: #333;
            font-size: 36px;
            position: absolute;
            top: 4px;
            left: -20px;
          }

          & q:before {
            content: '\2018';
          }

          & q:after {
            content: '\2019';
          }
        }

        p.source {
          left: -16px;
          margin: 10px 0 0 0;
          position: relative;
        }

        &.medium,
        &.long {
          q {
            font: 400 15px/24px $sans-serif;
          }
        }

        .post-footer {
          p.comments {
            padding-bottom: 0px;
            position: relative;
            top: -18px;
          }
        }
      }
    }
  }
}

.old img {
  float: none !important;
}

/* Pagination
------------------------------------------------------------------------------*/
#pagination {
  padding: 0 0 $lh (grid-width(2) + $gutter);
}

#pagination a {
  color: #444;
  font: 700 13px/13px $sans-serif;
  padding: 6px 9px;
  text-decoration: none;
  text-transform: uppercase;
}

#pagination a:hover {
  color: #000;
}

#pagination #older-link {
  float: left;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  width: grid-width(2);
}

#pagination #older-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") 0 10px no-repeat;
  margin: 0 0 0 -3px;
}

#pagination #newer-link {
  float: right;
  margin: 0 0 0 0;
  padding: 15px 0 0 0;
  text-align: right;
  width: grid-width(2);
}

#pagination #newer-link a {
  background: url("http://thoughtbot.com/assets/giantrobots/images/arrows.png") right -18px no-repeat;
  margin: 0 -3px 0 0;
}

/* Footer
------------------------------------------------------------------------------*/
footer {
  padding: 40px 20px 60px;

  section#footer-container {
    width: grid-width(12);

    nav {
      ul {
        &#secondary-links {
          margin-left: $gutter;
        }

        li {
          color: #7a7a7a;
          font: 400 14px/18px $serif;
          margin: 0 0 6px 0;

          a {
            color: #7a7a7a;
            text-decoration: none;

            &:hover {
             color: #3a3a3a;
            }
          }
        }
      }
    }

    section#products {
      width: grid-width(5);

      section.product {
        h6 {
          a {
            color: #333;
            text-decoration: none;
          }
        }

        &#airbrake a.logo {
          padding: 18px 0 14px 0;
        }

        &#copycopter {
          margin-right: 0;

          a.logo {
            padding: 25px 0 5px 0;

            img {
              width: 110px;
            }
          }
        }

        &#trajectory {
          a.logo {
            height: 100px;
          }
        }
      }
    }
  }
}


