/* Mixins
---------------------------------------- */
@mixin border-radius ($radii) {
  -moz-border-radius: $radii;
  -webkit-border-radius: $radii;
  border-radius: $radii;
}

// Box-Shadow Mixin Requires Sass v3.1.1+
@mixin box-shadow ($shadow-1,
  $shadow-2: false, $shadow-3: false,
  $shadow-4: false, $shadow-5: false,
  $shadow-6: false, $shadow-7: false,
  $shadow-8: false, $shadow-9: false)
  {
    $full: $shadow-1;
    @each $shadow in
      $shadow-2, $shadow-3,
      $shadow-4, $shadow-5,
      $shadow-6, $shadow-7,
      $shadow-8, $shadow-9{
        @if $shadow {
          $full: $full, $shadow;
        }
      }
  -webkit-box-shadow: $full;
  -moz-box-shadow: $full;
  -o-box-shadow: $full;
  box-shadow: $full;
}

@mixin linear-gradient ($from, $to) {
  background: $from;
  background: -moz-linear-gradient(top, $from, $to);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
}

@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transitition: $transition;
  transitition: $transition;
}

@mixin transform ($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

/* Variables
---------------------------------------- */
$sans-serif: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
$serif: "skolar-1","skolar-2", Georgia, serif;
$monospaced: monaco, monospace;

$red: #AD141E; /*thoughtbot red*/

$lh: 20px; /*line-height of all the type on the site*/
$unit: 60px; /*one grid column*/
$gutter: 25px; /*size of one gutter*/

@function grid-width($n) {
  @return $n * $unit + ($n - 1) * $gutter;
}

/* Selection styles
---------------------------------------- */
::selection {
  background: $red;
  color: #000;
}

::-moz-selection {
  background: $red;
  color: #000;
}

::-webkit-selection {
  background: $red;
  color: #000;
}

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}