<section class="contact-address">
  <div class="call">
    <div>
      <h4>Phone</h4>
      <p>(877) 976-2687</p>
      <p>+46 81 211 11 52</p>
    </div>

    <div>
      <h4>Fax</h4>
      <p>(866) 217-5992</p>
    </div>
  </div>

  <div class="address">
    <h4>Locations</h4>
    <section>
      <address>
        <p>41 Winter Street</p>
        <p>7th Floor</p>
        <p>Boston, MA 02108</p>
        <p><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=41+Winter+St,+Boston,+MA+02108">Google Maps</a></p>
      </address>
      <address>
        <p>156 2nd St</p>
        <p>San Francisco, CA 94105</p>
        <p><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=156+2ND+STREET+san+francisco+ca+94105">Google Maps</a></p>
      </address>
      <address>
        <p>Döbelnsgatan 24 5 tr</p>
        <p>113 52 Stockholm, Sweden</p>
        <p><a href="https://maps.google.se/maps?q=D%C3%B6belnsgatan+24+5+tr+113+52+Stockholm,+Sweden">Google Maps</a></p>
      </address>
      <address>
        <p>1724 Broadway Ave</p>
        <p>Boulder, CO 80302</p>
        <p><a href="http://goo.gl/maps/dJTqi">Google Maps</a></p>
      </address>
      <address>
        <p>1062 Delaware St</p>
        <p>Denver, CO 80204</p>
        <p><a href="http://goo.gl/maps/Cjiv9">Google Maps</a></p>
      </address>
    </section>
  </div>
</section>
