<h4>Open source questions?</h4>
<p>Use GitHub Issues for our <a href="/community">open source projects</a>.</p>

<h4>Workshops questions?</h4>
<p>Email <a href="mailto:learn@thoughtbot.com">learn@thoughtbot.com</a>.</p>

<h4>apprentice.io questions?</h4>
<p>Email <a href="mailto:apply@apprentice.io">apply@apprentice.io</a>.</p>

<h4>Technical co-founder?</h4>
<p>To be the first designer or developer at a startup we've worked with, email <a href="mailto:cofounders@thoughtbot.com">cofounders@thoughtbot.com</a>.</p>

<h4>Something else on your mind?</h4>
<p>Email <a href="mailto:info@thoughtbot.com">info@thoughtbot.com</a>.</p>
