<div class="more-about-us-wrapper">
  <section id="more-about-us">
    <h2>We are strong-willed and have a way of doing things</h2>

    <ul>
      <li>
        <h4>We work at a sustainable pace.</h4>
        <p>We work 40 hours/week and provide unlimited time off. Creating well-designed, well-written software requires a well-rested mind and body. We do not want to burn out or inflict repetitive stress injuries. Fewer hours means we won't hit arbitrary or unrealistic deadlines.</p>
      </li>
      <li>
        <h4>We invest Fridays in ourselves</h4>
        <p>Our fundamental expectation for ourselves is delivering excellent work for clients Monday-Thursday. We use Fridays for personal development, contributing to open source projects, mentoring apprentices, sharing lessons learned on <a href="http://robots.thoughtbot.com">the blog</a>, and making internal tools to make our jobs easier and more fun.</p>
      </li>
      <li>
        <h4>We like being small and self-managing.</h4>
        <p>The company is split up into small teams. Our ideal team is one designer, two Rails developers, one iOS developer, and an advisor. Each team focuses on only one client project at time. The remainder of everyone's time is managed by each individual.</p>
      </li>
    </ul>
  </section>
</div>
