<div class="content-wrapper">
  <dl>
    <dt>What is a typical software apprenticeship?</dt>
    <dd>
      <p>
        A 3-12 month program for product designers or software engineers
        to be trained by mentors in order to become permanent employees
        at the organization by the end of the apprenticeship.
      </p>
    </dd>

    <dt>How do apprenticeships benefit the apprentice?</dt>
    <dd>
      <p>
        On-the-job training.
        Accepted into a company based on potential for a permanent role
        3-12 months from today instead of experience today.
        <a href="http://www.sfchronicle.com/business/article/Tech-apprenticeships-bring-new-talent-into-11125436.php">Pursue your dreams!</a>
      </p>
    </dd>

    <dt>How do apprenticeships benefit an organization?</dt>
    <dd>
      <p>
        A well-trained workforce.
        Ability to scale a team faster, with smoother onboarding.
        <a href="http://www.sfchronicle.com/business/article/Tech-apprenticeships-bring-new-talent-into-11125436.php">Save money and improve retention</a>.
        Open candidate pool to non-traditional backgrounds,
        supporting diversity programs
        and helping avoid homogoneus workplaces.
      </p>
    </dd>

    <dt>
      What sort of employee agreement?
    </dt>
    <dd>
      <p>
        Typically paid, full-time temporary employees
        with health insurance and other benefits, no stock options.
      </p>
    </dd>

    <dt>How do I apply to an apprenticeship?</dt>
    <dd>
      <p>
        See each company's site for their application process:
      </p>
      <ul>
        <li><a href="https://8thlight.com/apprenticeship/">8th Light</a>
        <li><a href="http://www.adobe.com/corporate-responsibility/education/digital-academy.html">Adobe</a></li>
        <li><a href="https://www.airbnb.com/press/news/a-new-career-awaits-with-airbnb-connect-aimed-at-increasing-diversity-in-tech">Airbnb</a></li>
        <li><a href="https://cliquestudios.com/clique-university/apprenticeships/">Clique Studios</a></li>
        <li><a href="https://hashrocket.com/careers/apprentice">Hashrocket</a></li>
        <li><a href="http://careers.intuit.com/">Intuit</a></li>
        <li><a href="https://careers.linkedin.com/reach">LinkedIn</a></li>
        <li><a href="http://www.industryexplorers.com/">Microsoft</a></li>
        <li><a href="https://careers.pinterest.com/">Pinterest</a></li>
        <li><a href="http://apprentices.seesparkbox.com/">Sparkbox</a></li>
        <li><a href="https://ttp.nyc/spotifyfellowship/">Spotify</a></li>
        <li><a href="https://thoughtbot.com/playbook/our-company/apprenticeship">thoughtbot</a></li>
        <li><a href="https://www.trunkclub.com/careers">Trunk Club</a></li>
        <li><a href="https://betalist.com/jobs/@twilio">Twilio</a></li>
      </ul>
      <p>
        Hear from the folks running these programs
        <a href="https://medium.com/@kamrinklauschie/apprenticeships-101-what-we-learned-from-our-panel-with-linkedin-pinterest-airbnb-and-adobe-4305d65ddbdd">about their experiences</a>.
      </p>
    </dd>

    <dt>What were apprentices doing immediately before the apprenticeship?</dt>
    <dd>
      <p>
        For thoughtbot:
      </p>
      <ul>
        <li>10% were college students</li>
        <li>30% were from a bootcamp</li>
        <li>60% were working as a full-time designer or software engineer</li>
      </ul>
    </dd>

    <dt>Where have former apprentices' careers led them?</dt>
    <dd>
      <p>
        To roles as product designers, senior software engineers, and managers
        at:
      </p>
      <ul>
        <li>18F</li>
        <li>Basecamp</li>
        <li>Clearbit</li>
        <li>Code for America</li>
        <li>Facebook</li>
        <li>Genius</li>
        <li>GitHub</li>
        <li>Hotel Tonight</li>
        <li>Intercom</li>
        <li>LendingHome</li>
        <li>Lyft</li>
        <li>Netflix</li>
        <li>Pivotal</li>
        <li>Postmates</li>
        <li>Segment</li>
      </ul>
    </dd>

    <dt>Where can I as an employer learn how to set up my own apprenticeship?</dt>
    <dd>
      <ul>
        <li>
          Read
          <a href="https://robots.thoughtbot.com/how-to-set-up-your-companys-apprenticeship">
            How to Set Up Your Company's Apprenticeship
          </a>
          by thoughtbot
        </li>
        <li>
          Fork
          <a href="https://github.com/thoughtbot/apprenticeship">
            the apprentice onboarding packet
          </a>
          on GitHub and edit for your organization's purposes.
        </li>
      </ul>
    </dd>

    <dt>Any advice for me if I want to mentor apprentices at my organization?</dt>
    <dd>
      <ul>
        <li>
          Read
          <a href="http://www.amazon.com/Apprenticeship-Patterns-Guidance-Aspiring-Craftsman/dp/0596518382">
            Apprenticeship Patterns
          </a>
        </li>
        <li>
          Watch
          <a href="https://vimeo.com/76762772">
            Emotional Intelligence and Feedback
          </a>
        </li>
        <li>
          If you haven't pair programmed much (say, 100 hours) before,
          get a few more hours of pair programming under your belt.
        </li>
      </ul>
    </dd>
  </dl>
</div>
